.wp-block-ultimate-post-list {
    position: relative;
    width: 100%;
    transition: .3s;
    &:hover {
        transition: .3s;
    }
    .ultp-list-content{
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: 0.3s;
        .ultp-list-texticon {
            grid-area: a;
            box-sizing: border-box;
        }
        .ultp-listicon-bg, .ultp-listicon-dropdown {
            grid-area: a;
        }
        .ultp-list-title, a {
            grid-area: b;
        }
        .ultp-list-subtext {
            grid-area: c;
        }
        .ultp-list-textcontent {
            a {
                text-decoration: none;
            }
        }
        .ultp-listicon-bg {
            flex-shrink: 0;
        }
    }
    .ultp-listicon-bg, .ultp-list-texticon {
        box-sizing: border-box;
    }
}

.ultp-list-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}