.ultp-block-content-overlay {
	position: relative;
	transition: 400ms;
	height: 100%;
	.ultp-block-image {
		height: 100%;
	}
	.ultp-block-image > a {
		height: 100%;
	}
	.ultp-block-content {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		pointer-events: none;
		display: flex;
		z-index: 2;
		.ultp-block-content-inner {
			width: 100%;
		}
		.ultp-category-grid,
		.ultp-block-title a,
		.ultp-block-readmore a {
			pointer-events: auto;
		}
	}
}

.wp-block-ultimate-post-post-grid-2 .ultp-block-item .ultp-block-empty-image,
.wp-block-ultimate-post-post-grid-3 .ultp-block-item .ultp-block-empty-image,
.wp-block-ultimate-post-post-grid-4 .ultp-block-item .ultp-block-empty-image,
.wp-block-ultimate-post-post-grid-5 .ultp-block-item .ultp-block-empty-image,
.wp-block-ultimate-post-post-grid-6 .ultp-block-item .ultp-block-empty-image,
.wp-block-ultimate-post-post-grid-7 .ultp-block-item .ultp-block-empty-image {
	width: 100%;
	object-fit: cover;
	background: #353535;
}

.block-editor-list-view-block__contents-cell[aria-selected="true"]
	.ultp-block-icon,
.block-editor-autocompleters__block[aria-selected="true"] .ultp-block-icon {
    filter: brightness(0) saturate(100%) invert(91%) sepia(100%) saturate(39%) hue-rotate(255deg) brightness(108%) contrast(100%);
}
