.ultp-dynamic-content-group-common {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	transition-duration: 300ms;
	transition-timing-function: ease;
	pointer-events: all;
}

.ultp-dynamic-content-field-common {
	display: flex;
	flex-direction: row;
	align-items: center;
	// justify-content: center;
	flex-wrap: wrap;
	transition-duration: 300ms;
	transition-timing-function: ease;

	.ultp-dynamic-content-field-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 8px;
	}

	p {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}

.ultp-dynamic-content-field-anchor {
	all: unset !important;
	text-decoration: unset !important;
	color: unset !important;

	.ultp-dynamic-content-field-common {
		cursor: pointer;
	}
}
