@mixin rowSpaceControl($column) {
    .ultp-block-item:nth-child(#{$column n}+1):nth-last-child(-n+ #{$column}),
    .ultp-block-item:nth-child(#{$column n}+1):nth-last-child(-n+ #{$column}) ~ .ultp-block-item {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }
}
.ultp-block-column-2 {
    @include rowSpaceControl(2);
}
.ultp-block-column-3 {
    @include rowSpaceControl(3);
}
.ultp-block-column-4 {
    @include rowSpaceControl(4);
}
.ultp-block-column-5 {
    @include rowSpaceControl(5);
}
.ultp-block-column-6 {
    @include rowSpaceControl(6);
}
.ultp-block-column-7 {
    @include rowSpaceControl(7);
}

.wp-block-ultimate-post-post-list-3 {
    .ultp-block-content {
        display: block;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}
.ultp-block-content {
    .ultp-block-readmore {
        a {
            display: inline-flex;
            align-items: center;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .ultp-block-excerpt {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        p {
            margin: 0;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
        }
    }
}

//Layout
.wp-block-ultimate-post-post-list-3 {
    .ultp-block-wrapper {
        counter-reset: post-list3-counter;
    }
    .ultp-layout1, .ultp-layout2, .ultp-layout3 {
        .ultp-block-content-wrap {
            width: 100%;
        } 
    }  
    .ultp-layout2 {
        .ultp-block-item {
            position: relative;
            &::before {
                counter-increment: post-list3-counter;
                content: counter(post-list3-counter, decimal);
                display: block;
                width: 50px;
                height: 50px;
                position: absolute;
                z-index: 2;
                top: 20px;
                left: -17px;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                line-height: 46px;
                border: 2px solid #ffffff;
                background: #000;
                color: #fff;
                border-radius: 100%;
            }
        }
        &.ultp-block-content-true {
            .ultp-block-item {
                &::before {
                    left: auto;
                    right: -15px;
                }
            }
        }
    }
    .ultp-layout3 {
        .ultp-block-image + .ultp-block-content {
            margin-left: -140px;
            z-index: 1;
            background: #fff;
            padding: 30px;
            transition: 400ms;
        }
        &.ultp-block-content-true {
            .ultp-block-image + .ultp-block-content {
                margin-left: auto;
                margin-right: -140px;
            }  
        }
    }
    .ultp-layout4,
    .ultp-layout5 {
        .ultp-block-item {
            .ultp-block-content-wrap {
                /* When Image not found */
                width: 100%;
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
                .ultp-block-content-wrap {
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: reverse;
                    -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
                    .ultp-block-image {
                        margin-right: 0;
                    }
                }
            }
            &:nth-child(odd) {
                flex-direction: row;
                .ultp-block-content-wrap {
                    .ultp-block-image {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .ultp-layout5 {
        .ultp-block-item {
            .ultp-block-image + .ultp-block-content {
                z-index: 1;
                background: #fff;
                padding: 40px;
                transition: 400ms;
            }
            &:nth-child(even) {
                .ultp-block-image + .ultp-block-content {
                    margin-right: -140px;
                }
            }
            &:nth-child(odd) {
                .ultp-block-image + .ultp-block-content {
                    margin-left: -140px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    // .wp-block-ultimate-post-post-list-3 {
    //     .ultp-block-media{
    //         .ultp-block-content-wrap {
    //             display: block;
    //         }
    //     }
    // }
}
.ultp-block-content-true,
.ultp-block-content-1 {
    .ultp-block-media {
        .ultp-block-content-wrap {
            flex-direction: row-reverse;
            width: 100%;
        }
    }
}

//rtl
.rtl .wp-block-ultimate-post-post-list-3 .ultp-layout2 .ultp-block-item::before {
    right: -15px;
    left: auto;
}
.rtl .wp-block-ultimate-post-post-list-3 .ultp-block-content-true.ultp-layout2 .ultp-block-item::before {
    left: -15px;
    right: auto;
}
.rtl .wp-block-ultimate-post-post-list-3 .ultp-layout3 .ultp-block-image+.ultp-block-content { 
    margin-right:-140px; 
    margin-left:0;
}
.rtl .wp-block-ultimate-post-post-list-3 .ultp-layout3.ultp-block-content-true .ultp-block-image+.ultp-block-content { 
    margin-right:0; 
    margin-left:-140px;
}
.rtl .wp-block-ultimate-post-post-list-3 .ultp-layout5 .ultp-block-item:nth-child(odd) .ultp-block-image+.ultp-block-content {
    margin-left: 0;
    margin-right: -140px;
}
.rtl .wp-block-ultimate-post-post-list-3 .ultp-layout5 .ultp-block-item:nth-child(even) .ultp-block-image+.ultp-block-content {
    margin-right: 0;
    margin-left: -140px;
}

// title style 1
.ultp-title-style1{
    a {
        &:hover{
            background-size: 100% 2px  !important;
        }
    }
}
// title style 1
// title style 3
.ultp-title-style3{
    a{
        &:hover{
            transition: all 1s;
            background-size: 0px 2px;
        }
    }
}
// title style 3
// title style 4
.ultp-title-style4{
    a{
        &:hover{
        background-size: 0px 2px !important;
        }
    }
 }
// title style 4
// title style 5
.ultp-title-style5{
  a{
   &:hover{
    text-decoration: none;
    $thetransition: all 1s cubic-bezier(1,.25,0,.75) 0s;
    position: relative;
    transition: all 0.35s ease-out;
    padding-bottom: 3px;
    border-bottom:none;
    padding-bottom: 2px;
    background-position:0 100%;
    background-repeat: repeat;
    // probably never do this. its weird.
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 10 18'%3E%3Cstyle type='text/css'%3E.squiggle%7Banimation:shift .5s linear infinite;%7D@keyframes shift %7Bfrom %7Btransform:translateX(-10px);%7Dto %7Btransform:translateX(0);%7D%7D%3C/style%3E%3Cpath fill='none' stroke-width='1' class='squiggle' d='M0,17.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5' /%3E%3C/svg%3E");
    }
  }
      
}
// title style 5
// title style 6
.ultp-title-style6 {
    a {
        &:hover {
            background-size: 100% 88% !important;
        }  
    }
}
// title style 6
// title style 7
.ultp-title-style7 {
   a{
        &:hover{
            background-size: 100% 2px  !important;
        }
   }
}
// title style 7
// title style 8
.ultp-title-style8 {
    a{
         &:hover{
             background-size: 100% 2px  !important;
         }
    }
 }
// title style 8
// title style 9
.ultp-title-style9 {
    a {
        &:hover {
            background-size: 100% 88% !important;
        }  
    }
}
// title style 9
// title style 10
.ultp-title-style10:hover {
    transition: all 0.35s ;
    a  {
        letter-spacing: 0.4px !important;
        transition: all 0.35s ;
    }
}
// title style 10
// title style 11
.ultp-title-style11{
    word-spacing: 0px;
    transition: all 0.35s;
    &:hover {
        word-spacing: 3px;
    }
}
// title style 11