@import "../utility.scss";
.ultp-support-heading {
    font-size: 20px;
    font-weight: 700;
    color: $headingColor;
}
.ultp-support-sub-heading {
    font-size: 16px;
    color: #9F9F9F;
    margin-bottom: 30px;
}
.ultp-support-options {
    display: flex;
    flex-direction: column;
    gap: 25px;
    .ultp-support-option {
        font-size: 16px;
        color: #000000;
        display: flex;
        gap: 10px;
        align-items: center;
        label a {
            color: $postxPrimaryColor;
            text-decoration: none;
            margin-left: 5px;
        }
    }
    input[type=radio] {
        &#TechnicalSupport, &#FreeSupportWordPressORG {
            &::before {
                content: none;
            }
        }
        &.pro_active:checked:before {
            content: ' ' !important;
        }
        & , &::before {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
        height: 20px;
        width: 20px;
        border: 1px solid #000000;
        &::before {
            background-color: $postxPrimaryColor;
            height: 12px;
            width: 12px;
        }
    }
}
.ultp-support-lists {
    .ultp-description {
        color: #9F9F9F;
        font-size: 16px;    
    }
    .ultp-pro-feature-lists > div {
        display: flex;
        gap: 8px;
        align-items: baseline;
        & > svg {
            height: 8px;
            width: 8px;
            fill: $postxPrimaryColor;
        }
        & > a {
            font-size: 14px;
            color: #000000;
            text-decoration: none;
            &:hover {
                color: $postxPrimaryColor;
            }
        }
    }
}
.ultp-support-create {
    margin-top: 30px;
}
.ultp-support-form {
    margin-top: 40px;
    .ultp-support-type {
        font-size: 16px;
        color: #efa630;
        margin-bottom: 20px;
    }
    .ultp-support-form-double {
        display: flex;
        flex-wrap: wrap; 
        gap: 20px;
        input {
            width: calc( 50% - 12px );
        }
    }
    input , textarea {
        border: 1px solid #eaedf2;
        border-radius: 2px;
        background-color: #ffffff;
        padding: 12px;
        color: #000000;
        font-size: 16px;
        width: 100%;
    }
    input {
        height: 44px;
        min-width: 180px;
    }
    textarea {
        height: 150px;
        margin-bottom: 40px;
    }
    #postx-contact {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    .dashicons.loadericon {
        margin-left: 8px;
        margin-top: 2px;
        animation: ultp-spin 1s linear infinite;
    }
}

@media only screen and (max-width: 700px) {
	.ultp-support-form .ultp-support-form-double input {
        width: 100%;
    }
}