.wp-block-ultimate-post-button-group {
    .ultp-button-wrapper {
        position: relative;
        &.ultp-button-frontend {
            display: flex;
        }
        a {
            color: #fff;
            text-decoration: none !important;
        }
        .block-editor-inner-blocks {
            width: 100%;
            .block-editor-block-list__layout {
                display: flex;
                & > div {
                    margin: 0px;
                }
            }
        }
    }
}

/* ===== Button Animation Style ===== */
.ultp-anim-style1 {
    .wp-block-ultimate-post-button { 
        &:before {
            opacity: 1;
            width: 10px;
        }
        &:hover {
            &:before {
                width: 100%;
            }
        }
        &.ultp-button-layout4 {
            &:hover {
                background: #ffbf2f;
            }
            &:before {
                background: #ffbf2f;
            }
        }
    }
}

.ultp-anim-style2 {
    .wp-block-ultimate-post-button { 
        &:before {
            width: 100%;
            opacity: 1;
        }
        &:hover {
            &:before {
                opacity: 1;
                width: 10px;
            }
        }
        &.ultp-button-layout4 {
            background: none;
            &:before {
                background: #ffbf2f;
            }
        }
    }
}

.ultp-anim-style3 {
    .wp-block-ultimate-post-button { 
        box-shadow: 3px 3px 0px #FFB714;
        &:hover {
            box-shadow: none;
        }
    }
}

.ultp-anim-style4 {
    .wp-block-ultimate-post-button { 
        box-shadow: none;
        &:hover {
            // transform: translate(-.25rem,-.25rem);
            box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
        }
    }
}

.ultp-anim-style1, .ultp-anim-style2 {
    .wp-block-ultimate-post-button {
        &.ultp-button-layout2 {
            &:before {
                background: #004cf7;
            }
        }
        &.ultp-button-layout3 {
            &:before {
                background: #62ADFF;
            }
        }
    }
}
// .ultp-button-wrapper.ultp-button-frontend {
//     display: flex;
// }