.ultp-menu-item-label-container {
    &, .ultp-menu-item-icon, .ultp-menu-item-dropdown {
        display: flex;
        align-items: center;
    }
    .ultp-menu-item-label {
        display: flex;
        align-items: center;
        &.ultp-menuitem-pos-bef {
            flex-direction: row-reverse;
        }
        &:has(> .ultp-menu-item-badge) {
            position: relative;
            & > .ultp-menu-item-badge {
                position: absolute;
                z-index: 9;
                width: max-content;
            }
        }
    }
}

.wp-block-ultimate-post-menu-item {
    .ultp-menu-item-content > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender > .block-editor-inserter > .block-editor-button-block-appender {
        padding: 2px;
        background-color: #000;
        color: #fff;
    }
    .ultp-menu-item-content > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender {
        margin-top: 6px;
        margin-left: 6px;
    }
}
.ultp-menu-item-content > .block-editor-inner-blocks:has( > .block-editor-block-list__layout > .block-list-appender ) {
    top: 100% !important;
    left: unset !important;
}
.hasListMenuParent {
    & > .ultp-menu-item-wrapper > .ultp-menu-item-content > .block-editor-inner-blocks:has( > .block-editor-block-list__layout > .block-list-appender ) {
        top: 0 !important;
        left: 100% !important;
    }
}