.ultp-block-archive-title {
    .ultp-archive-content {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        line-height: 0;
        overflow: hidden;
        transition: 400ms;
        text-decoration: none !important; 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        .ultp-archive-name,
        .ultp-archive-desc,
        .ultp-archive-prefix {
            transition: 400ms;
            position: relative;
            z-index: 1;
            margin: 0;
        }  
        .ultp-archive-overlay {
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 100%;
            transition: 400ms;
        }
        &:hover {
            .ultp-archive-overlay {
                background: rgba(0, 0, 0, 0.7);
            }
        }
    }
}
.ultp-archive-layout-2 {
    .ultp-archive-name,
    .ultp-archive-desc,
    .ultp-archive-prefix {
        color: #fff;
    }
}

