.ultp-filter-select {
	height: fit-content;
	position: relative;

	&-field {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		padding-block: 0.5rem;
		padding-inline: 1rem;
		border: 1px solid black;
		cursor: pointer;

		&-selected {
			flex-grow: 1;
			user-select: none;
			word-wrap: none;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			transition: transform 0.3s ease;
			width: 10px;
			height: 10px;
		}
	}

	&-options {
		position: absolute;
		top: calc(100% + 5px);
		list-style-type: none;
		overflow: hidden;
		margin: 0px !important;
		z-index: 2147483647; // max value
		overflow-y: auto;
		max-height: 300px;

		/* Custom scrollbar styles */
		&::-webkit-scrollbar {
			width: 3px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		// &::-webkit-scrollbar-thumb {
		//     // background-color: var(--sb-thumb-color);
		//     border: 4px solid transparent;
		//     border-radius: 8px;
		//     background-clip: padding-box;
		// }

		li {
			box-sizing: border-box;
			padding-inline: 0.5rem;
			white-space: nowrap;
			color: white;
			width: 100%;
			cursor: pointer;
		}

		li.disabled {
			color: #6c757d;
			cursor: not-allowed;
		}

		li.disabled:hover {
			background-color: transparent;
		}
	}
}

.ultp-dropdown-icon-rotate {
	transform: rotate(180deg);
}

.ultp-filter-button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s ease !important;
}

input[type="search"].ultp-filter-select-search {
	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&::-ms-reveal {
		display: none;
		width: 0;
		height: 0;
	}

	/* clears the ‘X’ from Chrome */
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}

    transition: all 300ms ease;

    width: 100%;
    height: unset;
    min-height: 30px;
}
