.wp-block-ultimate-post-social-icons {
    a {
        text-decoration: none !important;
    }
    .ultp-social-icons-separator {
        display: block;
    }
    .ultp-social-icons-wrapper {
        list-style: none;
        transition: .3s;
        &:hover {
            transition: .3s;
        }
        &:has( .block-editor-block-list__layout){
            padding: 0px !important;
        }
        &:has(> .wp-block-ultimate-post-social){
            width: max-content;
            max-width: fit-content;
        }
        & > li:last-child { 
            border: none;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
    }
    .ultp-social-bg {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        &:hover {
            transition: .3s;
        }
        svg {
            transition: .3s;
            &:hover {
                transition: .3s;
            }
        }
    }
    .ultp-social-content {
        width: 100%;
        box-sizing: border-box;
        justify-content: flex-start;
        transition: .3s;
        &:hover {
            transition: .3s;
        }
    }

    // Backend
    .block-editor-block-list__layout {
        width: max-content;
        max-width: fit-content;
        transition: .3s;
        &:hover {
            transition: .3s;
        }
        & > .block-editor-block-list__block {
            margin: 0px !important;
            width: 100%;
        }
    }
    .block-editor-inner-blocks:has( .block-list-appender ) {
        & >.block-editor-block-list__layout  {
            & > div {
                margin: 0px;
                &:nth-last-child(2) {
                    li {
                        border: none;
                        padding-bottom: 0px !important;
                        margin-bottom: 0px !important;
                        padding-right: 0px !important;
                        margin-right: 0px !important;
                    }
                }
            }
        }
    }
    .block-editor-inner-blocks {
        & >.block-editor-block-list__layout  {
            & > div {
                margin: 0px;
                &:last-child {
                    li {
                        border: none;
                        padding-bottom: 0px !important;
                        margin-bottom: 0px !important;
                        padding-right: 0px !important;
                        margin-right: 0px !important;
                    }
                }
            }
        }
    }
}

/* ===== Layout Style ===== */
.ultp-social-icons-layout2 {
    list-style: none;   
    justify-content: flex-end;
    .ultp-social-content {
        text-align: right;
        flex-direction: row-reverse;
    }
}