@import "../utility.scss";

$addonsItemPadding : 25px;
$addonsGridCol : 1fr 1fr;
$addonsGridColMd : 1fr;
$addonsGridColSm : 1fr;
$addonsContainerBg : #fff;
$addonsContainerRadius : 4px;
$addonsContainerShadow : 0 1px 2px 0 rgba(8, 68, 129, 0.2);
$addonsPopWidth : $dashAddonsSettingsWidth;

.ultp-gettingstart-message {
  display: grid;
  grid-template-columns: 440px auto;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
  .ultp-start-left {
    position: relative;
    line-height: 0;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      @media only screen and (max-width: 1400px) {
        object-fit: cover;
      }
    }
    .ultp-start-content {
      position: absolute;
      flex-direction: column;
      gap: 20px;
      display: flex;
      bottom: 24px;
      left: 24px;
      line-height: normal;
      .ultp-start-text {
        color: #FFFFFF;
        font-size: 18px;
      }
      .ultp-start-btns {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
        .ultp-primary-button, .ultp-secondary-button {
          padding: 10px 20px;
          font-size: 14px;
          border-radius: 4px;
        }
        .ultp-secondary-button {
          background: unset;
          border: 1px solid #FFFFFF;
          color: #ffffff !important;
          font-weight: 600;
          &:hover {
            background: unset;
          }
        }
      }
    }
  }
  .ultp-start-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    @media only screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
    .ultp-dashboard-content {
      background: #ffffff;
      padding: 24px 32px;
      border-radius: 0 4px 4px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media only screen and (min-width: 1200px) and (max-width: 1360px) {
        padding: 24px 15px;
      }
      .ultp-title {
        &._pro {
          font-size: 20px;
          margin-bottom: 12px;
        }
        color: $headingColor;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 8px;
      }
      .ultp-description {
        &._pro {
          color: #070707;
          margin-bottom: 32px;
        }
        margin-bottom: 22px;
        @media only screen and (min-width: 1200px) and (max-width: 1300px) {
          display: none;
        }
      }
      .ultp-lists {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 22px;
        .ultp-list {
          display: flex;
          align-items: center;
          gap: 7px;
          color: #070707;
          font-weight: 500;
          font-size: 14px;
          @media only screen and (min-width: 1200px) and (max-width: 1300px) {
            font-size: 12px;
          }
        }
      }
      .ultp-upgrade-btn {
        background: linear-gradient(180deg, #ea5e40, transparent) #e36f16;
        padding: 12px 25px;
        border-radius: 4px;
        font-size: 14px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: fit-content;
        cursor: pointer;
        text-decoration: none;
        color: #ffffff;
        &:hover {
          background: linear-gradient(180deg, #e36f16, transparent) #ea5e40;
        }
      }
    }
  }
  .ultp-dashborad-banner {
    width: 100%;
    position: relative;
    line-height: 0;
    @media only screen and (max-width: 1200px) {
      display: none;
    }
    .ultp-play-icon-container {
      max-width: 25%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      max-height: fit-content;
      cursor: pointer;
      height: fit-content;
      .ultp-play-icon {
        max-width: 100%;
      }
      .ultp-animate {
        -webkit-animation: pulse 1.2s ease infinite;
        animation: pulse 1.2s ease infinite;
        background: var(--postx-primary-color);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 100%;
      }
    }
    img.ultp-banner-img {
      max-width: 100%;
      height: 100%;
      border-radius: 4px 0 0 4px;
      @media only screen and (max-width: 1420px) {
        object-fit: cover;
      }
    }
  }
  @-webkit-keyframes pulse {
    0% {
      opacity: 0;
      transform: scale(1, 1)
    }

    50% {
      opacity: .3
    }

    100% {
      transform: scale(1.5);
      opacity: 0
    }
  }

  @keyframes pulse {
    0% {
      opacity: 0;
      transform: scale(1, 1)
    }

    50% {
      opacity: .3
    }

    100% {
      transform: scale(1.5);
      opacity: 0
    }
  }
}
.ultp-dashboard-addons-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .ultp-addon-parent-heading.mt {
        margin-top: 50px;
    }
    .ultp-addon-parent-heading {
        margin-bottom: 30px;
        & > span {
            color: $postxPrimaryColor ;
        }
    }
    .ultp-addons-grid {
        &.ultp-gs {
            grid-template-columns: repeat(3, 1fr);
        }
        display: grid;
        justify-content: space-between;
        grid-template-columns: $addonsGridCol;
        gap: 30px;
        position: relative;
        .ultp-addon-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: unset !important;
            position: relative;
            overflow: hidden;
            img {
                height: 30px;
            }
            .dashicons {
                height: unset;
                width: unset;
                line-height: unset;
                font-size: 16px;
            }
            .ultp-new-tag {
                color: #ffff;
                font-size: 11px;
                border-radius: 0px 0px 0px 0px;
                text-shadow: 0.5px 0.5px #acaaaa;
                transform: rotate(-43deg);
                background: #fc3b5d;
                padding: 22px 30px 3px;
                position: absolute;
                left: -32px;
                top: -14px;
            }
            .ultp-shortcode-copy {
                cursor: copy;
            }
            .ultp-addon-item-contents {
                padding: $addonsItemPadding;
                position: relative;
                .ultp-addon-item-name {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    margin-bottom: 20px;
                    .name {
                        font-size: 20px;
                    }
                }
                .ultp-pro-lock {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    font-size: 12px;
                    color: var(--postx-primary-color);
                    cursor: pointer;
                    transition: 400ms;
                    border: 1px solid var(--postx-primary-color);
                    border-radius: 2px;
                    padding: 2px 8px;
                }
            }
        }
    }
    
    .ultp-addons-container-grid {
        &.ultp-gs {
            display: block;
        }
        display: grid;
        grid-template-columns: auto 330px;
        gap: 50px;
    }
    .ultp-addon-item-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 15px;
        border-top: 1px solid #eaedf2;
        & > .ultp-docs-action {
            display: flex;
            justify-content: space-between;
            gap: 15px;
            .ultp-option-tooltip {
                display: flex;
                align-items: center;
                text-decoration: none;
                gap: 3px;
            }
            .dashicons, a {
                font-size: 14px;
                color: $dashBodyColor;
                cursor: pointer;
            }
            .dashicons-admin-collapse {
                transform: rotate(180deg);
            }
        }
        .ultp-popup-setting {
            position: relative;
            height: 20px !important;
            width: 20px !important;
            margin-left: 10px;
            &::before {
                position: absolute;
                left: -12px;
                font-size: 30px;
                top: -13px;
                border-left: 1px solid #eaedf2;
                padding-left: 9px;
            }
        }
        .ultp-addon-settings {
            width: 150%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            position: fixed;
            top: 0%;
            right: 10%;
            transition: 0.5s;
            z-index: 999;
            .ultp-addon-settings-popup {
                height: 100%;
                width: $addonsPopWidth;
                position: fixed;
                z-index: 99;
                top: 32px;
                right: 0px;
                margin: 0 auto;
                border-radius: $postxRadius;
                box-sizing: border-box;
                background-color: $postxWHite;
                box-shadow: $addonsContainerShadow;
                overflow-x: hidden;
                transition: 0.5s;
                &::-webkit-scrollbar { 
                    display: none;
                }
                .ultp-addon-settings-title {
                    padding: 15px 20px;
                    background: #e3f1ff;
                    position: sticky;
                    top: 0;
                    z-index: 1
                    ;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    position: relative;
                    .ultp-addon-settings-body {
                        position: relative;
                        padding: 40px 40px 30px;
                    }
                    .ultp-addon-settings-footer {
                        text-align: center;
                        background: #e3f1ff;
                        padding: 16px;
                        position: sticky;
                        bottom: 32px;
                        .onloading {
                            cursor: no-drop;
                            svg {
                                height: 14px;
                                width: 14px;
                                vertical-align: middle;
                                margin-left: 4px;
                                animation: ultp-spin 1s linear infinite;
                                fill: #fff;
                            }
                        }
                    }
                    .ultp-addons-setting-save {
                        color: $postxWHite;
                        cursor: pointer;
                        width: $addonsPopWidth;
                        border: none;
                        position: fixed;
                        right: 0;
                        bottom: 0;
                        padding: $btnPadding;
                        background: $postxPrimaryColor;
                    }
                }
                .ultp-popup-close {
                    position: fixed;
                    top: 40px;
                    right: 11px;
                    color: $postxWHite;
                    font-size: 25px;
                    cursor: pointer;
                    border: none;
                    padding: 0px 9px 3px;
                    background-color: $postxBlack;
                    z-index: 99;
                    &::after {
                        content: "\00d7";
                    }
                    &:hover {
                        background: #ff0000;
                    }
                }
            }
        }
    }
}

.addons_promotions {
    &.ultp-gs {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    margin-top: 40px;
    border: 1px solid #B9CFF0;
    background-color: #E0ECFF;
    padding: 30px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    color: #091F36;
    .addons_promotions_label {
        line-height: 20px;
        font-size: 16px;
    }
    .addons_promotions_btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        margin-top: 15px;
        .addons_promotions_btn {
            padding: 6px 12px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 12px;
            &.btn1 {
                background: #07CC92;
                color: #fff;
                text-decoration: none;
            }
            &.btn2 {
                background: #fff;
                color: #000;
                text-decoration: none;
            }
        }
    }
}

.ultp_dash_key_features {
    margin-top: 60px;
    margin-bottom: 30px;
    .ultp_dash_key_features_content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-top: 30px;
    }
    .ultp_dash_key_features_label {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #091F36;
    }
    .ultp-description {
        font-size: 14px;
    }
}
.ultp-description {
  color: #656976;
  font-size: 14px;    

  &-notice {
    margin-top: 5px;
    color: #E68429;
  }
}

// new one 
.ultp-plugin-required {
	font-size: 14px;
	text-align: center;
	display: inline-block;
    padding: 20px 0px 0;
	color: var(--postx-warning-button-color);
}

@media only screen and (max-width: 1200px) {
	.ultp-dashboard-addons-container {
        .ultp-addons-grid {
            grid-template-columns: $addonsGridColMd;
            &.ultp-gs {
              grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    .ultp_dash_key_features .ultp_dash_key_features_content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 1100px) {
    .ultp-dashboard-addons-container  .ultp-addons-container-grid {
        grid-template-columns: auto;
    }
    .ultp-dashboard-addons-container {
        .ultp-addons-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media only screen and (max-width: 768px) {
  .ultp-dashboard-addons-container  .ultp-addons-container-grid {
      grid-template-columns: auto;
  }
  .addons_promotions.ultp-gs {
    max-width: 100%;
  }
  .ultp-gettingstart-message {
     grid-template-columns: 1fr;
  }
	.ultp-dashboard-addons-container {
        .ultp-addons-grid {
            grid-template-columns: $addonsGridColSm;
            &.ultp-gs {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        
    }
    .ultp_dash_key_features .ultp_dash_key_features_content {
        grid-template-columns: 1fr;
    }
}