@import "../utility.scss";

$blocksGridCol : 1fr 1fr 1fr;
$blocksGridColMd : 1fr 1fr;
$blocksGridColSm : 1fr;

.ultp-dashboard-blocks-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .ultp-dashboard-blocks-group {
        .frequency {
            margin-bottom: 0px !important;
        }
        .ultp-dashboard-group-blocks {
            margin-top: 20px;
            display: grid;
            gap: 30px;
            grid-template-columns: $blocksGridCol;
            .ultp-dashboard-group-blocks-item {
                display: flex;
                justify-content: space-between;
                padding: 20px 15px;
                .ultp-blocks-item-meta {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    font-size: 16px;
                    img {
                        height: 25px;
                        width: 25px;
                    }
                }
                .ultp-blocks-control-option {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    a {
                        text-decoration: none;
                    }
                    .ultp-option-tooltip {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        gap: 3px;
                        font-size: 14px;
                        color: #575a5d;
                        .dashicons {
                            height: unset;
                            width: unset;
                            line-height: unset;
                            font-size: 14px;
                            color: #575a5d;
                        }
                    }
                }
            }
            
        }
    }
}

@media only screen and (max-width: 1350px) {
	.ultp-dashboard-blocks-container {
        .ultp-dashboard-blocks-group {
            .ultp-dashboard-group-blocks {
                grid-template-columns: $blocksGridColMd;
            }
        }
    }
}
@media only screen and (max-width: 990px) {
	.ultp-dashboard-blocks-container {
        .ultp-dashboard-blocks-group {
            .ultp-dashboard-group-blocks {
                grid-template-columns: $blocksGridColSm;
            }
        }
    }
}