.wp-block-ultimate-post-button {
    /* ===== Common  Style ===== */
    color: #fff;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 0;
    transition: all .4s;
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
            opacity: 0;
        }
    &:hover {
        transition: all .4s;
        &:before {
            transition: all .4s;
            opacity: 1;
        }
    }
    .ultp-button-text {
        line-height: normal;
    }
    .ultp-btnIcon-wrap {
        line-height: 0;
        svg {
            transition: .3s;
        }
    }
    
    /* ===== Button Layout Style ===== */
    &.ultp-button-layout1 {
        background:  #354CFF;
        border-radius: 4px;
        &:before {
            background: #152FF0;
        }
    }
    &.ultp-button-layout2 {
        border-radius: 100px;
        background-image: linear-gradient(0deg,#354CFF 10%,#7485FF 80%);
        &:before {
            background-image: linear-gradient(0deg,#7485FF 0%, #354CFF 100%)
        }
    }
    &.ultp-button-layout3 {
        color: #004cf7;
        font-weight: 500;
        background: #fff;
        border-radius: 100px;
        box-shadow: 4px 4px 17px 0 #354cff38;
        &:hover {
            color: #004cf7;
            box-shadow: 15px 15px 20px 0 #354cff38;
        }
    }
    &.ultp-button-layout4 {
        color: #101010;
        border-radius: 0px;
        font-weight: 500;
        border: solid 4px #354CFF;
        &:before {
            background: #E3E7FF;
        }
    }
}