body:has(.ultp-builder-container):has(.alignfull), body:has(.ultp-template-container):has(.alignfull) {
	overflow-x: hidden; /* == Its use for alignfull 20 20 2 theme == */
}
.wp-block-ultimate-post-image {
    .ultp-image-button {
        pointer-events: none;
        a {
            pointer-events: auto;
        }
    }
    .ultp-image-block {
        img.inactive {
            display: none !important;
        }
    }
}
.ultp-template-container {
    box-sizing: border-box; // for slider 2 layout 6
    .ultp-image {
        max-width: 100%;
    }
    .ultp-block-image {
        img {
            max-width: 100%;   
        }
    }
    .alignfull {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: 100vw;
        max-width: 100vw;
        left: 0;
        right: 0;
    }
}
.ultp-image {
    max-width: 100%;
}
.ultp-block-image {
    img {
        max-width: 100%;   
    }
}
.ultp-image-block.ultp-image-block-zoomIn,
.ultp-image-block.ultp-image-block-roateLeft,
.ultp-image-block.ultp-image-block-rotateRight,
.ultp-image-block.ultp-image-block-zoomOut  {
    img {
        -webkit-transition: 400ms;
        transition: 400ms;
    }
}
.ultp-image-block {
    &.ultp-loading-active {
        position: relative;
        img {
            opacity: 0.5 !important;
        }
        svg {
            height: 50px;
            width: 50px;
            position: absolute;
            top: calc(50% - 25px);
            left: calc(50% - 25px);
            z-index: 999;
        }
    }
    .ultp-imag-empty {
        background: #f5f5f5;
        width: 400px;
        height: 250px;
        position: relative;
        border: 1px solid #e5e5e5;
        border-radius: 0px;
        > span {
            right: 0;
            top: 20px;
            position: absolute;
            width: 100%;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            z-index: 3;
            span {
                position: relative;
                border: 2px dashed #c3c3c3;
                padding: 8px 20px 8px 30px;
                border-radius: 4px;
                background: #dadada;
                font-size: 18px !important;
                display: inline-block;
                &:before {
                    content: "\f317";
                    font-family: dashicons;
                    position: absolute;
                    left: 8px;
                    top: 6px;
                    font-size: 20px;
                }
            }
        }
    }
    display: inline-block;
    overflow: hidden;
    position: relative;
    -webkit-transition: 400ms;
    transition: 400ms;
    .ultp-image-button {
        a {
            height: fit-content;
            display: inline-block;
            transition: 400ms;
            &:hover {
                text-decoration: none;
            }
        }
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 2;
        &.ultp-image-button-centerCenter {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
        }
        &.ultp-image-button-leftTop {
            -webkit-box-align: start;
            -ms-flex-align: start;
            -ms-grid-row-align: flex-start;
            align-items: flex-start;
        }
        &.ultp-image-button-rightTop {
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            text-align: right;
            -webkit-box-align: start;
            -ms-flex-align: start;
            -ms-grid-row-align: flex-start;
            align-items: flex-start;
        }
        &.ultp-image-button-bottomLeft {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            text-align: left;
            -webkit-box-align: end;
            -ms-flex-align: end;
            -ms-grid-row-align: flex-end;
            align-items: flex-end;
        }
        &.ultp-image-button-bottomRight {
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            text-align: right;
            -webkit-box-align: end;
            -ms-flex-align: end;
            -ms-grid-row-align: flex-end;
            align-items: flex-end;
        }
    }
    a {
        /* button/link changeing issue when using only fixed height */
        display: contents;
    }
    &.ultp-image-block-opacity {
        overflow: hidden;
        img {
            -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
        }
    }
    &.ultp-image-block-zoomIn {
        img {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    &.ultp-image-block-zoomOut {
        img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
    }
    &.ultp-image-block-roateLeft {
        img {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
    }
    &.ultp-image-block-rotateRight {
        img {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
    }
    &.ultp-image-block-opacity {
        img {
            opacity: 1;
        }
    }

    &.ultp-image-block-overlay {
        &:before {
            bottom: 0;
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            z-index: 1;
            pointer-events: none;
        }  
        &.ultp-image-block-custom {
            &:before {
                height: 100%;
            }
        }
        &.ultp-image-block-default {
            &:before {
                background-color: #000;
                opacity: 0.6;
                height: 100%;
            }
        }
        &.ultp-image-block-simgleGradient {
            &:before {
                background: -webkit-gradient(linear,left top,left bottom,color-stop(30%,rgba(0, 0, 0, 0.4)),to(rgba(0,0,0,0)));
                background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.4) 20%,rgba(0,0,0,0) 90%);
                background: -o-linear-gradient(top,rgba(0, 0, 0, 0.4) 20%,rgba(0,0,0,0) 90%);
                background: linear-gradient(to bottom,rgba(0, 0, 0, 0.4) 20%,rgb(0, 0, 0) 90%);
                opacity: 0.6;
                height: 100%;
            }
        }
        &.ultp-image-block-multiColour {
            &:before {
                opacity: 0.75;
                -webkit-box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.4);
                -moz-box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.4);
                box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.4);
                height: 100%;
                background: #d760b7;
                background: -moz-linear-gradient(-45deg, #d760b7 0%, #3b78b4 100%);
                background: -webkit-gradient(left top, right bottom, color-stop(0%, #d760b7), color-stop(100%, #3b78b4));
                background: -webkit-linear-gradient(-45deg, #d760b7 0%, #3b78b4 100%);
                background: -o-linear-gradient(-45deg, #d760b7 0%, #3b78b4 100%);
                background: -ms-linear-gradient(-45deg, #d760b7 0%, #3b78b4 100%);
                background: linear-gradient(135deg, #d760b7 0%, #3b78b4 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d760b7', endColorstr='#3b78b4', GradientType=1);
            }
        }
        &.ultp-image-block-flat {
            &:before {
                opacity: 0.80;
                height: 100%;
                background: #292484;
                background: -moz-linear-gradient(20deg, #292484 0%, #dc4225 100%);
                background: -webkit-gradient(left bottom, right top, color-stop(0%, #292484), color-stop(100%, #dc4225));
                background: -webkit-linear-gradient(20deg, #292484 0%, #dc4225 100%);
                background: -o-linear-gradient(20deg, #292484 0%, #dc4225 100%);
                background: -ms-linear-gradient(20deg, #292484 0%, #dc4225 100%);
                background: linear-gradient(20deg, #292484 0%, #dc4225 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292484', endColorstr='#dc4225', GradientType=1);
            }
        }
    }
}

.ultp-image-block-wrapper {
    margin: 0px !important;
    display: inline-block;
    // width: -webkit-fill-available; // Firefox issue
    width: 100%; // fix for firefox
    .ultp-image {
        display: block !important;
    }
    .ultp-image-block {
        vertical-align: middle;
    }
    .ultp-image-caption {
        line-height: normal;
    }
    .ultp-image-block:hover {
        &.ultp-image-block-zoomIn {
            img {
                -webkit-transform: scale(1.3);
                transform: scale(1.3); 
            }
        }
        &.ultp-image-block-zoomOut {
            img {
                -webkit-transform: scale(1);
                transform: scale(1); 
            }
        }
        &.ultp-image-block-roateLeft {
            img {
                -webkit-transform: rotate(5deg) scale(1.3);
                transform: rotate(5deg) scale(1.3);
            }
        }
        &.ultp-image-block-rotateRight {
            img {
                -webkit-transform: rotate(-5deg) scale(1.3);
                transform: rotate(-5deg) scale(1.3);
            }
        }
        &.ultp-image-block-opacity {
            img {
                opacity: .5;
            }
        }
    }
}