@import "../utility.scss";

// box-shadow: 0 1px 2px 0 rgba(8, 68, 129, 0.2);
.ultpPages {
    li.active {
        color: #ee0404;
    }
}
$radius : 4px;
$tableWidth : 100%;
$tableWidthMd : 1200px;
$leftRightPadding : 25px;
$bodyBg : #fff;
$headBg : rgba(3, 127, 255, 0.04);

.tableCon {
    margin-top: 30px;
    border-radius: $radius;
    box-shadow: 0 1px 2px 0 rgba(8, 68, 129, 0.2);
}
.ultp-bulk-con  {
    display: flex;
    justify-content: space-between;
    border-radius: $radius $radius 0 0 !important;
    box-shadow: unset !important;
    flex-wrap: wrap;
    gap: 20px;
    & > div {
        display: flex;
        gap: 15px;
    }
    select , input {
        max-height: 35px;
    }
    .ultp-primary-button {
        padding: 6px 15px;
    }
    input[type=text],
    select {
        border: 1px solid $inputBorderColor;
        padding-left: 12px;
        &:focus {
            box-shadow: none;
            outline: 0;
            border: 1px solid $postxPrimaryColor;
        }
    }
}
.pageCon {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 $radius $radius;
    padding: 22px 25px;
    background: $bodyBg;
    .ultpPages {
        display: flex;
        gap: 12px;
        .currentPage {
            background: #000;
            border-radius: 50%;
            font-size: 14px;
            color: $postxWHite;
            height: 25px;
            width: 25px;
            text-align: center;
        }
        span:not(.currentPage) {
            cursor: pointer;
            display: flex;
            align-items: center;
            svg {
                height: 14px;
                width: 14px;
            }
        }
    }
}
.shortCode {
    cursor: copy;
    position: relative;
    span {
        background: rgb(0 0 0 / 70%);
        color: #fff;
        border-radius: 6px;
        position: absolute;
        left: calc( 100% + 6px );
        padding: 2px 6px;
    }
}
th.title {
    width: 220px;
}
th.fontType {
    width: 65px;
}
th.fontpreview {
    width: 300px;
}
.fontType {
    text-align: center;
}
.actions {
    position: relative;
    .dashicons {
        cursor: pointer;
    }
    .actionPopUp {
        position: absolute;
        width: 130px;
        right: 0;
        text-align: left;
        padding: 10px;
        z-index: 1;
        li {
            cursor: pointer;
            margin-bottom: 8px;
            padding: 0 6px;
            a {
                display: block;
                text-decoration: none;
            }
            &:hover {
                background: $headBg;
                border-radius: $radius;
            }
            .dashicons {
                font-size: 16px;
                margin-right: 5px;
            }
        }
    }
}

.ultpTable {
    width: 100%;
    table {
        width: 100%;
        border-spacing: 0px;
        $tableHeadColor : #091f36;
        $tableBodyColor : #575a5d;
        thead {
            tr {
                background: $headBg;
                th {
                    font-size: 14px;
                    border-bottom: 1px solid #e7eef7;
                    border-top: 1px solid #e7eef7;
                    padding: 15px 0px;
                    color: $tableHeadColor;
                }
            }
        }
        th , td {
            &:first-child {
                padding-left: $leftRightPadding;
                padding-right: 12px;
                width: 55px;
            }
            &:last-child {
                text-align: center;
                padding-right: $leftRightPadding;
            }
        }
        tbody {
            .dashicons {
                vertical-align: middle;
            }
            background: $bodyBg;
            tr {
                td {
                    border-bottom: 1px solid #eaedf2;
                    padding: 15px 0px;
                    color: $tableBodyColor;
                    font-size: 14px;
                    &.title a {
                        color: $postxPrimaryColor;
                    }
                    &.typeDate {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1350px) {
	.ultpTable {
        overflow-x: auto;
        table {
            width: $tableWidthMd;
        }
    }
}