@import "../utility.scss";

.ultp-settings-container.ultp-settings-container-startersites {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    .ultp-settings-content {
        max-width: 100%;
    }
    .ultp-premade-grid {
        max-width: 1260px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
    }
}

#ultp-starter-preview.mobileView, #ultp-starter-preview.tabletView {
    box-shadow: rgb(130 130 130) 0px 0px 12px -3px;
    border-radius: 8px 8px 0px 0px;
    margin-top: 24px;
}
.ultp_starter_packs_demo {
    .wp-full-overlay-sidebar {
        width: 300px !important;
    }
    &.expanded .wp-full-overlay-footer{
        width: 299px !important;
    }
    .wp-full-overlay-main::before {
        content: unset;
    }
    &.wp-full-overlay.expanded {
        margin-left: 300px !important;
    }
    &.inactive.expanded {
        margin-left: 0 !important;
        .wp-full-overlay-sidebar,
        .wp-full-overlay-footer {
            margin-left: -300px !important;
        }
    }
    .ultp_starter_packs_demo_header {
        display: flex;
        justify-content: space-between;
        padding-right: 12px;
        padding-left: 12px;
        align-items: center;
        height: 100%;
        .packs_title {
            font-size: 14px;
        }
    }
    .ultp-starter-packs-device-container {
        display: flex;
        gap: 10px;
        line-height: normal;
        align-items: center;
        justify-content: center;
       .ultp-starter-packs-device {
            border: 1px solid transparent;
            height: 14px;
            padding: 2px;
            opacity: 0.5;
            transition: 400ms;
            svg {
                width: 15px;
                cursor: pointer;
            }
            &.d-active {
                border: 1px solid #091F36;
                border-radius: 2px;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    .close-full-overlay {
        margin-left: 12px;
        border: none;
        padding: 0;
        width: auto;
        &:hover {
            background: none;
            color: var(--postx-primary-color);
        }
    }
    .ultp_starter_preset_container {
        padding: 20px;
        .ultp_starter_reset_container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            align-items: center;
            .dashicons {
                font-size: 16px;
                height: 16px;
                cursor: pointer;
            }
        }
        .ultp-color-group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            .ultp_starter_preset_list {
                background: white;
                display: flex;
                padding: 4px;
                gap: 2px;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0;
                cursor: pointer;
                border-radius: 4px;
                border: 1px solid #ededed;
                &.active, &:hover {
                    border: 1px solid #037fff;
                }

            }
        }
        .ultp-global-color,
        .ultp-global-current-color {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: inline-block;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
            border: 1px solid #e5e5e5;
        }
        .ultp-typo-group {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            margin-bottom: 25px;
            position: relative;
            .ultp_starter_preset_typo_list {
                background: white;
                display: flex;
                padding: 5px;
                cursor: pointer;
                border-radius: 2px;
                border: 1px solid #ededed;
                margin-bottom: 0;
                width: 55px;
                box-sizing: border-box;
                justify-content: center;
                &.active, &:hover {
                    border: 1px solid #037fff;
                }
                & > span {
                    font-size: 24px;
                }

            }
        }
    }
    .ultp_starter_import_options {
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 15px 20px;
        // border: 1px solid;
        border-top: 1px solid #dcdcde;
        background: #fff;
        .title {
            text-align: center;
        }
        .option_buttons {
            display: flex;
            gap: 10px;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 15px;
            a {
                width: 100%;
                box-sizing: border-box;
                text-align: center;
            }
        }
    }
    .close-full-overlay{
        background: #ffffff;
    }
    .wp-full-overlay-header{
        background: #ffffff;
        height: 60px;
    }
    .packs_title {
        color: $headingColor;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        span {
            text-transform: capitalize;
            display: block;
            color: #575A5D;
            font-weight: normal;
            margin-top: 5px;
        }
    }
    .ultp-starter-collapse {
        position: absolute;
        width: 40px;
        height: 40px;
        right: -20px;
        background: #fff;
        border-radius: 100px;
        top: 70px;
        box-shadow: inset 0 0 0 1px rgb(9 32 54 / 15%), 0 2px 15px 6px rgb(9 32 54 / 15%);
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        transition: 400ms;
        z-index: 9999;
        svg {
            transform: rotate(90deg);
            width: 16px;
            transition: 400ms;
            fill: $headingColor;
            margin-left: -2px;
        }
        &:hover {
            transform: scale(1.1);
            background: $headingColor;
            svg {
                fill: #fff;
            }
        }
        &.inactive {
            right: -44px;
            svg {
                transform: rotate(-90deg);
                margin-left: 2px;
            }
        }
    }
    .wp-full-overlay-sidebar-content {
        background: #f7f9ff;
        bottom: 112px;
        top: 60px;
        .skeletonOverflow {
            padding: 25px 20px;
            & > .ultp_skeleton__custom_size {
                margin: auto;
            }
        }
        .skeletonOverflow_colors {
            margin-top: 30px;
            & > .ultp_skeleton__custom_size {
                margin-bottom: 20px;
            }
            .demos-color {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
            }
        }
    }
    .close-full-overlay {
        height: 60px;
        &::before {
            font-size: 32px;
        }
    }
}
.ultp-stater-container-settings-overlay {
    background: rgb(0 0 0 / 70%);
    position: absolute;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999999999999;
    top: -32px;
    display: flex;
    justify-content: center;
}
.ultp-stater-settings-container {
    position: fixed;
    top: 6%;
    z-index: 999;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 99px 0 rgba(62, 51, 51, 0.5);
    display: flex;

    & > div:first-child {
        flex: 1;
        max-height: auto;
        width: 600px;
    }
    .ultp-info {
        margin-bottom: 15px;
        color: $dashBodyColor;
        &.ultp-info-desc {
            font-size: 16px;
        }
    }
    .ultp-stater-settings-header {
        color: $headingColor;
        font-size: 16px;
        font-weight: 400;
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        top: 0;
        padding: 12px 30px;
        border-bottom: 1px solid #eaedf2;
    }
    .stater_title {
        color: $headingColor;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 600;
    }
    .ultp-popup-stater {
        padding: 40px 40px 20px;
        max-height: calc(75vh - 20px);
        overflow: auto;
        .input_container {
            margin-bottom: 15px;
            input[type=checkbox] {
                margin-right: 8px;
                width: 22px;
                height: 20px;
                &:checked{
                    background: #092036;
                }
                &:checked::before {
                    left: 6px;
                    top: 9px;
                    font-size: 13px;
                    transform: rotate(6deg);
                }
            }
        }
    }
    .starter_page_impports {
        margin-top: 25px;
        margin-bottom: 20px;
        .cursor {
            font-size: 14px;
            margin-top: 15px;
            transition: 400ms;
            color: #091F36;
            opacity: .7;
            &:hover {
                opacity: 1;
            }
            svg {
                height: 10px;
                width: 10px;
                margin-left: 4px;
            }
        }
    }
    .starter_import {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        text-align: center;
        .ultp-primary-button {
            width: 100%;
            box-sizing: border-box;
        }
    }
    .ultp-popup-close {
        position: absolute;
        font-size: 0px;
        top: 0;
        right: -10%;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #000;
        cursor: pointer;
        border: none;
        padding: 12px;
        background: #fff;
        &:hover {
            background: #ff0000;
            svg {
                fill: #fff;
            }
        }
        &.s_loading {
            cursor: no-drop;
        }
    }
    .input_container {
        .email_box {
            width: 100%;
            box-sizing: border-box;
            margin: 8px 0;
            border: 1px solid #dcdcde;
            border-radius: 2px;
            padding: 5px 15px;
        }
        .get_newsletter {
            background: #888888;
        }
    }
    .ultp_successful_import {
        .stater_title {
            font-size: 20px;
        }
        .ultp_import_builders {
            margin: 20px 0;
            max-width: 80%;
            font-size: 16px;
            a {
                color: var(--postx-primary-color);
                text-decoration: underline;
                &:hover {
                    color: var(--postx-primary-hover-color);
                }
            }
        }
        .ultp-primary-button {
            margin-bottom: 20px;
        }
    }
    .ultp_processing_import {
        .stater_title {
            font-size: 20px;
        }
        .progress {
            font-size: 16px;
            margin-top: 12px;
        }
        .ultp_import_notice {
            margin-top: 10px;
            margin-bottom: 20px;
            color: var(--postx-warning-button-color);
            & > span {
                font-size: 14px;
                font-weight: 500;
            }
        }
        .ultp_processing_show {
            margin-top: 20px;
            margin-bottom: 0;
            text-align: center;
            .ultp-importer-loader {
                width: 100%;
                height: 20px;
                background-color: #f0f0f0;
                position: relative;
                border-radius: 4px;
                overflow: hidden;
            }
            #ultp-importer-loader-bar {
                width: 0;
                height: 100%;
                background-color: var(--postx-primary-color);
                position: absolute;
                transition: width 0.5s;
            }
            #ultp-importer-loader-percentage {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .ultp_processing_loader {
                border-radius: 4px;
                width: 80%;
                height: 12px;
                display: inline-block;
                background-color: #f7f9ff;
                background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(3, 127, 255, 0.75) 50%, rgba(3, 127, 255, 0.75) 75%, transparent 75%, transparent);
                font-size: 30px;
                background-size: 1em 1em;
                box-sizing: border-box;
                animation: ultp_processing_loader .5s linear infinite;
            }
            @keyframes ultp_processing_loader {
                0% {
                    background-position: 0 0;
                }
                100% {
                    background-position: 1em 0;
                }
            }
        }
        
    }
}

// dark enable 
.ultp_starter_dark_container {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 15px;
    font-size: 16px;
    .ultp_starter_dark_enable {
        display: none;
        height: 0;
        width: 0;
        border-radius: 2px;
        border: solid 1px #eaedf2;
        background: #fff;
        position: relative;
        margin: 0;
        box-shadow: none;
        &:checked + label {
            opacity: unset;
            &::after {
                left: calc(100% - 3px);
                transform: translateX(-100%);
            }
        }
    }
    & > label {
        color: #037fff;
        width: 36px;
        height: 18px;
        display: block;
        cursor: pointer;
        border-radius: 100px;
        text-indent: -9999px;
        background: var(--postx-primary-color);
        opacity: 0.4;
        position: relative;
        margin: 0 8px;
        &::after {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 12px;
            height: 12px;
            border-radius: 90px;
            background: #fff;
            transition: 0.3s;
        }
    }
}
// dark enable new
.ultp_starter_dark_container {
    justify-content: center;
    .ultp-dl-container {
        cursor: pointer;
        display: flex;
        background: #fff;
        gap: 10px;
        align-items: center;
        border-radius: 100px;
        width: 140px;
        height: 40px;
        box-shadow: 0px 0px 0 2px rgb(9 32 54 / 20%), 2px 4px 15px 5px rgb(9 32 54 / 10%);
        svg {
            height: 20px;
            width: 20px;
        }
        .ultp-dl-svg-con {
            transform: translateX(4px);
            &.dark {
                svg {
                    fill: #fff;
                } 
            }
        }
    }
    .ultp-dl-svg {
        display: flex;
        background: $headingColor;
        padding: 6px;
        border-radius: 50%;
        svg {
            fill: #FFC107;
        }
    }
}

// iframe loader
.iframe_loader {
    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow-y: scroll;
    .iframe_container {
        width: calc( 100% - 80px );
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 60px 40px;
    }
    .iframe_header_top {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: center;
    }
    .header_top_right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .iframe_body {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 20px;
    }
    .iframe_body_slider {
        margin-bottom: 60px;
    }
    .iframe_body_left {
        flex-basis: calc( 60% - 12px );
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .iframe_body_right {
        flex-basis: calc( 40% - 12px );
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}