@mixin iconSeparator( $topValue, $leftValue, $font: unset ) {
    left:$leftValue ;
    top:$topValue;
    font-size: $font;
}

.ultp-builder-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px !important;
    margin: 0px !important;
    li {
        display: inline-block;
        padding-right: 0;
        padding-left: 0px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        color: #888;
        /* Text Length Control */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 380px;
        /* Text Length Control */
        &:first-child {
            margin-left: 0 !important;
        }
        a {
            transition: 400ms;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        &li.ultp-breadcrumb-separator {
            margin: 0px !important;
            line-height: 0px;
            position: relative;
        }
    }
}
.nv-content-wrap .ultp-builder-breadcrumb li , 
.editor-styles-wrapper .ultp-builder-breadcrumb li {
    margin-top: 0px;
}
// ========Separator Style==========//
.ultp-breadcrumb-dot {
    .ultp-breadcrumb-separator {
        border-radius: 100%;
        &:after {
            content: "";
            bottom: auto;
            width: 3px;
            margin-top: 0;
            height: 3px;
            @include iconSeparator(50%, -1px);
            display: block;
        }
    }
}
.ultp-breadcrumb-slash {
    .ultp-breadcrumb-separator {
        &:after {
            content: "/";
            @include iconSeparator(1px, -2px, 12px);
            line-height: normal;
        }
    }
}
.ultp-breadcrumb-doubleslash {
    .ultp-breadcrumb-separator {
        &:after {
            content: "//";
            @include iconSeparator(1px, -4px, 12px);
            line-height: normal;
        }
    }
}
.ultp-breadcrumb-close {
    .ultp-breadcrumb-separator {
        &:after {
            content: "x";
            @include iconSeparator(-1px, -4px, 10px);
            line-height: normal;
        }
    }
}
.ultp-breadcrumb-dash {
    .ultp-breadcrumb-separator {
        &:after {
            content: "-";
            @include iconSeparator(0, -3px, 18px);
            line-height: normal;
        }
    }
}
.ultp-breadcrumb-verticalbar {
    .ultp-breadcrumb-separator {
        &:after {
            content: "|";
            @include iconSeparator(0, -1px, 12px);
            line-height: normal;
        }
    }
}
.ultp-breadcrumb-greaterThan {
    .ultp-breadcrumb-separator {
        &:after {
            content: ">";
            @include iconSeparator(0, -1px, 12px);
            line-height: normal;
        }
    }
}
.ultp-breadcrumb-emptyspace {
    .ultp-breadcrumb-separator {
    padding-left: 0
    }
}
