@import "../utility.scss";

$gsRightWidth :  330px;
$gsGridCol : auto $gsRightWidth;
$gsGridColMd : auto;

// General settings 
.ultp-dashboard-general-settings-container {
    display: grid;
    grid-template-columns: $gsGridCol;
    gap: 50px;
    .ultp-general-settings  {
        height: fit-content;
        width: -webkit-fill-available;
        form {
            margin-top: 40px;
        }
        .skeletonOverflow {
            display: flex;
            gap: 30px;
            flex-direction: column;
            margin-top: 40px;
        }
        .onloading {
            cursor: no-drop;
            svg {
                height: 14px;
                width: 14px;
                vertical-align: middle;
                margin-left: 4px;
                animation: ultp-spin 1s linear infinite;
                fill: #fff;
            }
        }
    }
}
@media only screen and (max-width: 1100px) {
	.ultp-dashboard-general-settings-container {
        grid-template-columns: $gsGridColMd;
        justify-items: center;
        .ultp-general-settings-content-right {
            width: $gsRightWidth;
        }
    }
}