.ultp-tabs-content-warp {
    // display: flex;
    & {
        > .block-editor-inner-blocks:has( > .block-editor-block-list__layout > .wp-block > .wp-block-ultimate-post-tab-item.pt-active ),
        > .block-editor-inner-blocks > .block-editor-block-list__layout:has( > .wp-block > .wp-block-ultimate-post-tab-item.pt-active ),
        > .block-editor-inner-blocks > .block-editor-block-list__layout .wp-block:has( > .wp-block-ultimate-post-tab-item.pt-active ),
        .wp-block-ultimate-post-tab-item.pt-active {
            height: 100%;
        }
    }
}

// Accepted start
.ultp-tab-item-label {
    cursor: pointer;
}
.ultp-tabs-content {
    display: flex;
    flex-direction: column;
    .ultp-tabs-items-wrap .ultp-tab-items {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
}
.ultp-tab-item-label-actions {
    position: absolute;
    background: red;
    padding: 4px;
    border-radius: 6px;
    font-size: 12px;
    width: max-content;
    gap: 4px;
    bottom: calc( 100% );
    display: none;
    z-index: 9999;
    & > div {
        cursor: pointer;
        background: black;
        color: white;
        padding: 2px;
        border-radius: 6px;
        svg {
            fill: #fff;
            width: 12px;
        }
    }
}
.ultp-tabs-add {
    display: flex;
    align-items: center;
    border: 2px solid red;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.wp-block-ultimate-post-tab-item {
    display: none;
    height: 0;
    &.pt-active {
        display: block;
        height: 100%;
    }
}

// Accepted End


.ultp-tab-item-label-container:hover > .ultp-tab-item-label-actions.pt-active {
    display: flex;
}
.ultp-tab-item-label-container {
    position: relative;
}
