.ultp-toc-header {
    display: flex;
    align-items: center;
    .ultp-toc-heading {
        margin-right: 10px;
    }
    .ultp-collapsible-toggle {
        > a {
            transition: 400ms;
            svg {
                width: 16px;
            }
            &.ultp-collapsible-icon {
                line-height: 16px;
            }
        }
        .ultp-collapsible-open {
            display: none;
        }
        &.ultp-toggle-collapsed {

                .ultp-collapsible-hide{
                    display: none;
                }
                .ultp-collapsible-open {
                    display: inline-block;
                    &.ultp-collapsible-icon {
                        transform: rotate(180deg);
                        position: relative;
                        top: 3px;
                    }
                }
            
        }
    }
}

//sticky
.ultp-toc-sticky {
    overflow: hidden;
    z-index: 999;
    opacity: 1;
    transition: 400ms;
    .ultp-block-toc-body {
        width: 100%;
        max-height: 400px;
        overflow-x: hidden;
    }
    &.ultp-toc-scroll {
        transition: 400ms;
        opacity: 1;
        position: fixed;
        top: 80px;
        max-height: 480px;
        max-width: 350px;
        width: 350px;
        right: 0;
    }
}
.block-editor-block-list__block {
    .ultp-toc-sticky.ultp-toc-scroll {
        top:inherit;
        right: inherit;
        position: relative;
        max-height: inherit;
        max-width: inherit;
        overflow: visible;
        .ultp-block-toc-body {
            width: inherit;
            max-height: initial;
            overflow-x: initial;
        }
    }
}

//to top
.ultp-toc-backtotop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99999999;
    background: red;
    text-align: center;
    text-decoration: none!important;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s;
    line-height: 0;
    &.tocshow {
        opacity: 1;
        visibility: visible;
    }
}
.editor-styles-wrapper .ultp-toc-backtotop {
    opacity: 1;
    visibility: visible;
}

.ultp-block-toc-body {
    ul.ultp-toc-lists {
        margin-left: 0;
        li {
            list-style: none;
            a {
                border:none;
                transition: color 300ms;
                text-decoration: none;
            }
        }
    }
}

.ultp-block-toc-body {
    ul.ultp-toc-lists {
        padding-left: 0;
        li {
            margin-bottom: 0px;
            ul.ultp-toc-lists {
                margin-left: 15px; 
            }
        }
    }
    &.ultp-block-toc-style1 {
        .ultp-toc-lists {
            padding-left: 25px;
            list-style: disc;
            li {
                list-style: initial;
            }
        }
    }
    &.ultp-block-toc-style2 {
        .ultp-toc-lists {
            counter-reset: item;
            list-style: none !important;
            margin-left: 0;
            padding-left: 25px;
            > li {
              counter-increment: item;
              list-style-type: none;
            }
            li{
                a {
                    transition: 400ms;
                    text-decoration: none;
                    position: relative;
                    &::before{
                        content: counters(item, ".") ". ";
                        position: absolute;
                        right: calc(100% + 8px);
                        word-break: initial;
                      }
                }
                ol > li {
                  a {
                    &::before{
                        content: counters(item, ".") " ";
                        word-break: initial;
                      }
                  }
                }
            }
        }
    }
    &.ultp-block-toc-style3 {
        .ultp-toc-lists {
            li a{
                &::before {
                    transition: 400ms;
                    content: "☞";
                    padding-right: 5px;
                }
            }
        }
    }
    &.ultp-block-toc-style4 {
        .ultp-toc-lists {
            li a{
                &::before {
                    transition: 400ms;
                    content: "▶";
                    padding-right: 5px;
                    font-size: 13px;
                }
            }
        }
    }
    &.ultp-block-toc-style5 {
        .ultp-toc-lists {
            li a{
                &::before {
                    transition: 400ms;
                    content: "➢";
                    padding-right: 5px;
                }
            }
        }
    }
    &.ultp-block-toc-style6 {
        .ultp-toc-lists {
            li a{
                &::before {
                    transition: 400ms;
                    content: "➞";
                    padding-right: 5px;
                }
            }
        }
    }
    &.ultp-block-toc-style7 {
        .ultp-toc-lists {
            li a {
                &::before {
                    transition: 400ms;
                    content: "▷";
                    padding-right: 5px;
                    font-size: 14px;
                }
            }
        }
    }
    &.ultp-block-toc-style8 {
        .ultp-toc-lists {
            li a {
                &::before {
                    transition: 400ms;
                    content: "→";
                    margin-right: 5px;
                }
            }
        }
    }

    > .ultp-toc-lists {
        margin: 0;
        > li:first-of-type {
            margin-top: 0;
        }
    }
}

@media (max-width: 992px) {
    .ultp-toc-sticky.ultp-toc-scroll {
        top:inherit;
        right: inherit;
        position: relative;
        max-height: inherit;
        width: inherit;
        max-width: inherit;
        overflow: visible;
        z-index: initial;
        .ultp-block-toc-body {
            width: inherit;
            max-height: initial;
            overflow-x: initial;
        }
    }
}