.wp-block-ultimate-post-row {
    position: relative;
    & > .ultp-row-wrapper {
        transition: .3s;
        position: relative;
        &:hover {
            transition: .3s;
        }
        & > .wp-block-ultimate-post-column {
            transition: .3s;
            &:hover {
                transition: .3s;
            }
        }
        .alignfull {
            margin-left: unset;
            margin-right: unset;
            width: unset;
            max-width: unset;
        }
        & > .ultp-row-content {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            width: 100%;
        }
    }
}

/*========= Row Background Video  =========*/
.ultp-rowbg-video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    iframe {
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        left: 50%;
        top: 50%;
    }
    video {
        height: auto;
        width: auto;
        min-width: 100%;
        min-height: 100%;
        max-width: unset;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

/*========= Shape Style =========*/
.ultp-row-shape {
    width: 100%;
    height: fit-content;
    pointer-events: none;
    line-height: 0px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 0;
}
.ultp-row-shape.ultp-shape-bottom {
    bottom: 0;
    top: auto !important;
    svg {
        transform: rotate(180deg);
    }
}

/*========= Row Wrapper Url Css  =========*/
.ultp-rowwrap-url {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999999999;
}

/*========= Row/Column Overlay =========*/
.ultp-row-overlay, .ultp-column-overlay {
    width: 100%;
    height: 100%;
    transition: .3s;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    &:hover {
        transition: .3s;
    }
}

/*========= Row/Column Background Padding =========*/
@media only screen and (min-width: 991px) {
    body .wp-block-ultimate-post-row.ultpBgPadding.lgL {
        & > .ultp-row-wrapper {
            & > .block-editor-inner-blocks , // backend  
            & > .ultp-row-content { 
                padding-left: 15px;
            }
        }
    }
    body .wp-block-ultimate-post-row.ultpBgPadding.lgR {
        & > .ultp-row-wrapper {
            & > .block-editor-inner-blocks, 
            & > .ultp-row-content { 
                padding-right: 15px;
            }
        }
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) { 
    body .wp-block-ultimate-post-row.ultpBgPadding.smL {
        & > .ultp-row-wrapper {
            & > .block-editor-inner-blocks, 
            & > .ultp-row-content { 
                padding-left: 15px;
            }
        }
    }
    body .wp-block-ultimate-post-row.ultpBgPadding.smR {
        & > .ultp-row-wrapper {
            & > .block-editor-inner-blocks, 
            & > .ultp-row-content { 
                padding-right: 15px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    body .wp-block-ultimate-post-row.ultpBgPadding.xsL {
        & > .ultp-row-wrapper {
            & > .block-editor-inner-blocks, 
            & > .ultp-row-content { 
                padding-left: 15px;
            }
        }
    }
    body .wp-block-ultimate-post-row.ultpBgPadding.xsR {
        & > .ultp-row-wrapper {
            & > .block-editor-inner-blocks, 
            & > .ultp-row-content { 
                padding-right: 15px;
            }
        }    
    }
}

.postx-page .wp-block-ultimate-post-row {
    &.row_scrollToStickyTop {
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100vw;
        max-width: unset !important; 
    } 
    &.row_scrollToStickyTop,
    &.row_scrollToStickyTop.stickyTopDeActive {
        opacity: 1;
        overflow: visible;
        transition: .1s;
    }
    &.row_scrollToStickyTop.stickyTopActive {
        opacity: 0;
        overflow: hidden;
        transition: .1s;
    }
    &.row_sticky {
        top: 0px;
        width: -moz-available;
        width: -webkit-fill-available;
        &.stickyTopDeActive  {
            height: auto !important;
            position: static;
            animation: stickyDeActive .1s;
        }
        &.stickyTopActive {
            height: max-content !important;
            position: fixed;
            animation: stickyActive .1s;
        }
    }
    // &.row_stickyFixed {
    //     width: 100vw;
    //     position: fixed;
    //     top: 0px;
    //     left: 0px;
    //     z-index: 999;
    // }
    &.row_sticky_active {
        z-index: 999;
    }
}


// #wpadminbar ~ div {
//     .wp-block-ultimate-post-row {
//         &.row_stickyFixed,
//         &.stickyTopActive.sticky,  
//         &.row_scrollToStickyTop {
//             top: 32px !important;
//         }
//     }
// }
@keyframes stickyActive {
    0% { 
        opacity: .3; 
    }
    100% { 
        opacity: 1; 
    }
}

@keyframes stickyDeActive {
    0% { 
        opacity: .3; 
    }
    100% { 
        opacity: 1; 
    }
}


body:has(#wpadminbar) {
    .wp-block-ultimate-post-row {
        // &.row_stickyFixed,
        &.stickyTopActive.row_sticky,  
        &.row_scrollToStickyTop {
            top: 32px !important;
        }
    }
}


@media screen and (max-width: 600px) { 
    body:has(#wpadminbar) {
        .wp-block-ultimate-post-row {
            // &.row_stickyFixed,
            &.stickyTopActive.row_sticky,  
            &.row_scrollToStickyTop {
                top: 0px !important;
            }
        }
    }
}