@import '../utility.scss';
$tabItemPadding : 12px 0px 12px 30px;
$builderGridCol : 200px 1fr;
$builderColor : #091f36;
$contentPadding : 30px;
$listItemBg : $dashBodyBg;
$listItemPadding : 15px 20px 15px 20px;
$listItemRadius : 4px;
$listItemBorder : solid 1px #eaedf2;
$itemBodyColor : $dashBodyColor;
$conditionPopPadding : 40px 60px;
$conditionPopWidth : 700px;
$conditionPopHeight : 450px;

.ultp-builder-dashboard__content {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: $builderGridCol;
    .ultp-builder-tab__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .ultp-tab__content {
            height: 100%;
        }
    }
}
.ultp-builder-tab__option {
    background: rgba(3, 127, 255, 0.05);
    border: 1px solid rgba(3, 127, 255, 0.03);
    min-height: 100vh;
    border-radius: 4px 0 0 4px;
    ul {
        padding:0px;
        margin: 0px;
    }
    ul li {
        font-size: 14px;
        cursor: pointer;
        color: $builderColor;
        padding: $tabItemPadding;
        display: flex;
        align-items: center;
        transition: 400ms;
    }
    ul li.active, ul li.active * {
        color: $postxPrimaryColor;
        background-color: $postxWHite;
    }
    ul li:hover, ul li:hover * {
        color: $postxPrimaryColor;
    }
    ul li img {
        margin-right: 8px;
        height: 20px;
        text-align: left;
    }
    ul li span {
        margin-right: 8px;
        font-size: 24px;
        text-align: left;
        display: block;
        line-height: 1;
        height: auto;
    }
    ul ul li {
        padding-left: 50px;
    }
    .ultp-popup-sync {
        font-size: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: 400ms;
        padding: $tabItemPadding;
        margin-bottom: 0;
        i {
            margin-right: 4px;
            font-size: 25px;
            height: auto;
            width: auto;
        }
        &:hover , &:hover * {
            color: $postxPrimaryColor;
        }
    }
}
.ultp-builder-tab__content {
    .ultp-builder-tab__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 20px $contentPadding;
        max-height: 30px;
        .ultp-builder-heading__title {
            .heading {
                display: inline-block;
                font-size: 18px;
                text-transform: capitalize;
            }
            span {
                margin-right: 20px;
                padding-right: 20px;
                border-right: 1px solid $dashBodyColor;
                font-size: 18px;
                cursor: pointer;
                color: $dashBodyColor;
                svg {
                    height: 12px;
                    width: 14px;
                    fill: $dashBodyColor;
                    margin-right: 5px;
                }
            }
        }
    }
    .ultp-tab__content {
        display: none !important;
        opacity: 0;
        transition: .3s;
        padding: $contentPadding;
        background: $postxWHite;
        border-radius: 0 4px 4px 0;
        box-shadow: 0 1px 2px 0 rgba(8, 68, 129, 0.2);
        &.active {
            display: block !important;
            opacity: 100;
            transition: .3s;
        }
        .ultp-template-list__tab {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .ultp-template-list__wrapper {
                background: $listItemBg;
                padding: $listItemPadding;
                border-radius: $listItemRadius;
                border: $listItemBorder;
                .ultp-template-list__heading {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 15px;
                    justify-content: space-between;
                    .ultp-template-list__meta {
                        display: flex;
                        gap: 15px;
                        color: #172c41;;
                        &> div {
                            font-size: 14px;
                            font-weight: normal;
                            margin: 0px !important;
                            & > span {
                                font-weight: 600;
                                text-transform: capitalize;
                            }
                        }                        
                    }
                    .ultp-template-list__content div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .ultp-template-list__control {
                        display: flex;
                        gap: 12px;
                        position: relative;
                        min-height: 26px;
                        align-items: center;
                        a {
                            text-decoration: none;
                            font-size: 13px;
                            color: $itemBodyColor;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-transform: capitalize;
                            span {
                                font-size: 12px;
                                color: #091f36;
                                height: auto;
                            }
                            &.status {
                                min-width: 56px;
                            }
                        }
                        .ultp-builder-dashboard__action {
                            line-height: 1.2;
                            cursor: pointer;
                        }
                        .ultp-builder-action__active {
                            position: absolute;
                            top: 52px;
                            cursor: pointer;
                            right: -20px;
                            padding: 10px 36px;
                            background: #f9f9f9;
                            box-shadow: 4px 6px 12px -10px #000;
                            z-index: 9999;
                            .dashicons {
                                font-size: 18px;
                                top: 3px;
                                position: relative;
                            }
                        }
                        .ultp-condition__edit {
                            padding: 5px 10px;
                            border-radius: 2px;
                            font-size: 12px;
                            border: none;
                            color: #fff;
                            cursor: pointer;
                            background-color: #091f36;
                        }
                    }
                }
            }
        }
    }
    $builderItemsCol : 1fr 1fr 1fr;
    $builderItemsColMd : 1fr 1fr;
    $builderItemsColSm : 1fr;
    .ultp-builder-items {
        display: grid;
        gap: 30px;
        grid-template-columns: $builderItemsCol;
        .newScreen {
            border-radius: 4px;
            border: solid 1px #eaedf2;
            background-color: #fff;
            .listInfo {
                padding: 8px 12px;
                border-bottom: solid 1px #eaedf2;
                text-transform: capitalize;
                margin-bottom: 12px;
                .ultp_h6 {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            .listOverlays {
                height: 250px;
                img {
                    height: 100%;
                    object-fit: fill;
                }
            }
        }
    }
}

.premadeScreen {
    .ultp-item-list {
        border-radius: 4px;
        border: solid 1px #eaedf2;
        background-color: #fff;
        .listInfo {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid 1px #eaedf2;
            text-transform: capitalize;
            flex-wrap: wrap;
            row-gap: 10px;
            .title {
                font-size: 14px;
                color: #091f36;
                font-weight: 500;
                .parent {
                    font-weight: 400;
                    font-size: 12px;
                    color: rgb(9 31 54 / 67%);
                }
            }
            .btnImport {
                display: flex;
                align-items: center;
                border-radius: 4px;
                background-image: linear-gradient(#18dd5c, #0c8d20);
                padding: 5px 10px;
                color: #fff;
                font-size: 12px;
                svg {
                    height: 12px;
                    fill: #fff;
                    margin-right: 6px;
                }
                span {
                    color: #fff;
                }
            }
            .ultp-upgrade-pro-btn {
                font-size: 12px;
                padding: 5px 10px;
            }
        }
        .listOverlay {
            box-sizing: border-box;
            position: relative;
            line-height: 0;
            padding: 10px;
            img {
                border-radius: 4px;
            }
        }
    }
    &.ultp-builder-items.ultpheader, &.ultp-builder-items.ultpfooter {
        .bg-image-aspect {
            aspect-ratio: 1.8;
        }
        .ultp-list-blank-img img {
            max-height: 190px;
        }
        .dashicons-visibility {
            font-size: 50px;
        }
    }
}
.ultp-builder-items .ultp-item-list img {
	width: 100%;
    max-width: 100%;
}
.ultp-item-list {
    position: relative;
}
.ultp-premade-item {
	transition: .3s;
    &:hover {
        box-shadow: 1px 4px 18px -12px #000;
    }
}
.ultp-list-white-overlay {
    cursor: pointer;
	font-weight: 600;
	width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
	position: absolute;
    display: flex;
    align-items: center;
	color: $postxPrimaryColor;
    font-size: 12px;
    .dashicons {
        margin-right: 15px;
        font-size: 32px;
        display: block;
        height: auto;
        color: $postxPrimaryColor;
    } 
}

//
.ultp-condition-wrapper {
	z-index: 100000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
	background: rgba(0, 0, 0, 0.7);
    .ultp-condition-popup {
        max-width: $conditionPopWidth;
        width: 100%;
        position: relative;
        background: $dashPopBg;
        padding: $conditionPopPadding;
        border-radius: $postxRadius;
        height: fit-content;
        max-height: 90%;
        overflow: unset !important;
        margin: 50px auto 0;

        .ultp-save-close { //check
            position: absolute;
            top: 0;
            right: -52px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            color: #000;
            cursor: pointer;
            border: none;
            padding: 12px;
            background: #fff;
            svg {
                fill: #000;
            }
            transition: 400ms;
            &:hover {
                background: #ff0000;
                svg {
                    fill: #fff;
                }
            }
        }
        .ultp-modal-content {
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            position: relative;
            .ultp-condition-wrap {
                height: $conditionPopHeight;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-y: scroll!important;
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
                .ultp-condition-wrap-heading {
                    margin-bottom: 14px;
                }
                &::-webkit-scrollbar {
                    display: none;
                }
                .ultp-condition-items {
                    width: calc( $conditionPopWidth - 100px );
                    margin-top: 20px;
                }
                .btnCondition {
                    margin-top: 20px;
                    color: #fff;
                    border-radius: $postxRadius;
                    background-color: #091f36;
                    padding: 8px 16px;
                    border: none;
                    cursor: pointer;
                }
                .ultp-condition_cancel {
                    cursor: pointer;
                    position: absolute;
                    right: -30px;
                    color: #de1010;
                    font-size: 24px;
                    line-height: 0.7;
                    transition: 400ms;
                    &:hover {
                        color: #c00a0a;
                    }
                }
                .ultp-condition-fields, 
                .ultp-condition-wrap__field {
                    display: flex;
                    align-items: center;
                    position: relative;
                    width: 100%;
                }
                .ultp-condition-wrap__field {
                    background: #fff;
                    margin-top: 15px;
                    border: 1px solid #eaedf2;
                    border-radius: 2px;
                }
                .ultp-condition-fields {
                    padding: 0px;
                    select{
                        color: $dashBodyColor;
                        border: none;
                        margin-right: 0;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        border-right: 1px solid #eaedf2;
                        border-radius: 0;

                        &:last-child {
                            border-right: none;
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
                .ultp-condition-dropdown__label {
                    display: inline-flex;
                    align-items: center;
                    background: #7c8084;
                    padding: 4px 8px;
                    border-radius: 2px;
                    color: #fff;
                    &::-webkit-scrollbar { 
                        display: none;
                    }
                }
                .ultp-condition-dropdown {
                    text-align: left;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    .ultp-condition-text {
                        width: 100%;
                        display: inline-flex;
                        padding: 0 10px 0 10px;
                        align-items: center;
                        .ultp-condition-arrow {
                            // top: 14px;
                            // right: 7px;
                            font-size: 15px;
                            // position: absolute;
                            display: inline-block;
                            padding-left: 15px;
                            line-height: 1.5;
                        }
                    }
                    span {
                        cursor: pointer;
                    }
                    .ultp-dropdown-value__close {
                        color: #fff;
                        background: #000;
                        margin-left: 8px;
                        border-radius: 50%;
                        font-size: 14px;
                        line-height: 1;
                        height: auto;
                        width: auto;
                    }
                }
                .ultp-condition-dropdown__default {
                    width: 100%;
                    display: block;
                    padding: 12px 0;
                }
                .ultp-condition-dropdown__content {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .ultp-condition-arrow{
                        top: 3px;
                    }
                }
                
                .ultp-condition-search {
                    background: #fff;
                    position: absolute;
                    left: 0;
                    z-index: 1;
                    top: 39px;
                    width: 100%;
                    padding: 10px;
                    border-radius: 0;
                    box-sizing: border-box;
                    border: 1px solid #eaedf2;
                    input {
                        width: 100%;
                        border-radius: 2px;
                        min-height: 34px;
                        border: 1px solid #eaedf2;
                    }
                    li {
                        cursor: pointer;
                        text-align: left;
                        margin-bottom: 12px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .ultp-save-condition {
                width: 100%;
                font-size: 14px;
                position: sticky;
                bottom: 0;
                color: #fff;
                border-radius: 4px;
                padding: 15px;
                border: none;
                cursor: pointer;
                background-image: linear-gradient( #399aff, #016cdb);
                span {
                    font-size: 17px;
                    margin-left: 4px;
                    color: #fff;
                }
            } 
            
        }
    }
}


// new ones 
.ultp-builder-items .ultp-premade-img__blank {
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.ultp-premade-img__blank  img {
	max-height: 395px;
}
.ultp-list-blank-img img{
	opacity: 0.1;
}
.ultp-list-blank-img a {
	text-decoration: none !important;
}


@media only screen and (max-width: 1100px) {
	.ultp-builder-dashboard__content {
        gap: 20px;
        grid-template-columns: auto;
        .ultp-builder-tab__option {
            min-width: 300px;
            width: fit-content;
            min-height: fit-content;
        }
    }
    .ultp-builder-tab__content .ultp-builder-items {
		grid-template-columns: 1fr 1fr;
	}
}