.ultp-builder-tag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
    .tag-builder-label {
        display: block;
        white-space: nowrap;
    }
    .tag-builder-content {
        // display: inline;
        a {
            transition: 400ms;
            display: inline-block;
        }
    }
}
.tag-builder-label {
    display: block;
    font-size: 14px;
    white-space: nowrap;
}
.tag-builder-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 6px;
    a {
        font-size: 12px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}