ul.ultp-news-ticker,
ul.ultp-news-ticker li{
    width:100%;
    padding: 0 !important;
    margin-bottom: 0px;
    list-style-type: none !important;
}
.ultp-newsTicker-wrap {
    overflow: hidden;
    position: relative;
    border:none ;
    background: unset;
}
.ultp-block-items-wrap > .ultp-newsTicker-wrap {
    box-sizing: content-box;
}

/* ======== Reset Ul li margin value ======== */

.ultp-newstick-marquee .ultp-news-ticker li{
    margin-top: 0px !important;
    margin-right: 0px !important;
}
.ultp-newstick-horizontal .ultp-news-ticker li {
    margin-top: 0px !important;
    // we can not use margin-right in here for rtl issue 
}
// For Typewriter {
// For Vertical
.ultp-newstick-vertical, 
.ultp-newstick-typewriter {
    .ultp-news-ticker {
        li {
            margin: 0px;
        }
    }
}

/* ======== Reset Ul li margin value ======== */
/* ======== Admin Dashboard Bar ======== */



/* ======== Label Style ======== */
.ultp-news-ticker-label {
    position: relative;
	width: auto;
	color: #fff;
	line-height: normal;
    display:flex;
    align-items: center;
    position:absolute;
    z-index: 11;
    top:0px;
    bottom:0px;
    left:auto;
	float: left;
    background: #1974d2;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin: 0px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
	padding:0px 10px;
}

.ultp-news-ticker-label::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 22.7px solid;
    border-left: 24px solid;
    border-bottom: 22.7px solid;
    position:absolute;
    z-index: 1;
}


/* ======== Label Style ======== */
.ultp-news-ticker li , .editor-styles-wrapper .ultp-newsTicker-wrap ul li {
    display: inline-block;
    a {
        display: flex; 
        align-items: center; 
    }
    img {
        height: 30px !important;
        object-fit:cover;
        display: inline;
     }
    div {
        position: relative;
        width: max-content;
        height:100%;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            height: 30px !important;
            object-fit:cover;
            display: block;
         }
         span {
            display: block;
         }
         .ultp-ticker-timebadge {
            margin-left: 7px; 
         }
    }
}
.rtl .ultp-ticker-timebadge {
    margin-left: auto;
    margin-right: 7px;
}
.ultp-news-ticker-box {
    height: 100%;
	overflow: hidden;
    ul {
        width: 100%;
        list-style-type: none !important;
        padding: 0;
        margin: 0px !important;
    }
    ul li a {
        text-decoration: none;
    }
}

.ultp-news-ticker-controls {
    display:flex;
	display: -ms-flexbox;
    align-items:center;
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
    button {
        display: inline-block;
        height:45px;
        width: 40px;
        border: none;
        border-radius: 0px;
        padding: 0;
        cursor: pointer;
        background: transparent;
        // &:focus {
        //     border:none;
        //     outline: none;
        // }
    }
    button.ultp-news-ticker-arrow {
        display: inline-block;
        border:none;
        margin: 0;
        position: relative;
    }
    button.ultp-news-ticker-pause {
        position: relative;
        display: inline-block;
    }
    .ultp-news-ticker-arrow {
        border-radius: 0px;
    }
    .ultp-news-ticker-pause {
        border:none !important;
    }
}
.rtl .ultp-news-ticker-controls {
    left: 0px !important;
    right: auto;
}   
/* ======== List Style box ======== */
.ultp-list-box {
    position: relative;
}
.ultp-list-box::before {
    content: " ";
    position: absolute;
    width: 7px;
    height: 7px;
    border: none;
    left: -24px;
    box-sizing: border-box;
}
/* ======== List Style box ======== */
/* ======== List Style circle ======== */
.ultp-list-circle::before {
    content: " ";
    position: absolute;
    width: 7px;
    height: 7px;
    border: none;
    left: -24px;
    border-radius:50px ;
}
/* ======== List Style hand ======== */
.ultp-list-hand::before {
    -webkit-transition: .4s;
    transition: .4s;
    content: "☞";
    padding-right: 15px;
    font-size: 20px;
}
/* ======== List Style right ======== */
.ultp-list-right-sign::before {
    -webkit-transition: .4s;
    transition: .4s;
    content: "➢";
    padding-right: 15px;
    font-size: 20px;
}
/* ======== List Style right bold ======== */
.ultp-list-right-bold::before {
    -webkit-transition: .4s;
    transition: .4s;
    content: "▶";
    padding-right: 15px;
    font-size: 20px;
}
/* 
    ================
        Css For marquee Style
    ================
 */
.ultp-newstick-marquee {
    ul {
        display: flex;
        align-items: center;
        li {
            width: fit-content;
            display: block !important;
            a {
                white-space: nowrap;
            }
            span {
                white-space: nowrap;
            }
        }
    }
}
/* 
    ================
        Navigation Icon Style
    ================
*/

/* ======== Icon style1 ======== */

.ultp-nav-Angle2 {
    button.ultp-news-ticker-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    svg {
        width: 17px;
        display: block;
    }
    button.ultp-news-ticker-pause:before {
        position: absolute;
        content: "";
        width: 10px;
        height: 13px;
        border-color: #999;
        border-style: solid;
        border-width: 0 2px 0;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        box-sizing: border-box;
    }
}

/* ======== Icon style2 ======== */
.ultp-nav-icon2 {
    svg {
        width: 20px;
    }
    button.ultp-news-ticker-pause:before {
        position: absolute;
        content: "";
        width: 12px;
        height: 17px;
        border-style: solid;
        border-width: 0 3.5px;
        box-sizing: border-box;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }
    .ultp-news-ticker-prev::before {
        content:" ";
        width: 0;
        height: 0;
        display: block;
        border-top: 10px solid transparent;
        border-right: 13px solid  ;
        border-bottom: 10px solid transparent;
        margin-left: auto;
    }
    .ultp-news-ticker-next::before {
        content:" ";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 13px solid ;
        border-bottom: 10px solid transparent;
        display: block;
        margin-right: auto;
    }
}

/* ======== Icon style3 ======== */
.ultp-nav-Angle {
    button.ultp-news-ticker-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    svg {
        width: 20px;
        display: block;
    }
    button.ultp-news-ticker-pause:before {
        position: absolute;
        content: "";
        width: 12px;
        height: 15px;
        border-style: solid;
        border-width: 0 3.5px;
        box-sizing: border-box;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }
}

/* ======== Icon Style 4 ======== */
.ultp-nav-ArrowLg {
    button.ultp-news-ticker-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    svg {
        width: 20px;
        display: block;
    }
    button.ultp-news-ticker-pause:before {
        position: absolute;
        content: "";
        width: 12px;
        height: 15px;
        border-style: solid;
        border-width: 0 3.5px;
        box-sizing: border-box;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }
}
    /* ================
        Layout Style
    ===================*/

/* ======== style-1 ======== */
.ultp-news-ticker-nav1  {
    .ultp-news-ticker-prev::before, .ultp-news-ticker-next::before {
        margin: 0 auto;
    }
    .ultp-news-ticker-controls {
        padding-left: 0px;
    }
}

/* ======== style-2 ======== */
.ultp-news-ticker-nav2 {
    .ultp-news-ticker-arrow {
        width: 28px;
        height: 26px !important;
        border-radius: 2px;
        margin:0px 5px !important;
    }
    .ultp-news-ticker-controls {
        padding: 0px 10px;
    }
    .ultp-news-ticker-prev::before, .ultp-news-ticker-next::before {
        margin: 0 auto;
    }
}
/* ======== style-3 ======== */
.ultp-news-ticker-nav3  {
    .ultp-news-ticker-controls {
        button.ultp-news-ticker-prev:after {
            right: -2px;
            left:auto;
        }
        button.ultp-news-ticker-next:after {
            left: 7px;
            right:auto;
        }
        button.ultp-news-ticker-next:after {
            left: 7px;
            right:auto;
        }
        button.ultp-news-ticker-pause:before {
            width:8px;
            border-width:0px 3px;
            box-sizing: border-box;
        }
    }
    .ultp-news-ticker-pause:after {
        content: '';
        width: 25px;
        height:25px;
        display: block;
        border-width: 0 4px;
        border-radius: 26px;
        background: rgba(0,0,0,.14);
        margin: 0 auto;
    }
    .ultp-news-ticker-arrow {
        width: 26px;
    }
    .ultp-news-ticker-next::before {
        margin-left: 5px;
    }
    .ultp-news-ticker-prev::before {
        margin-right: 5px;
    }
}
.ultp-news-ticker-nav3.ultp-nav-icon2 button.ultp-news-ticker-pause:before {
    height: 10px;
}

/* ======== style-4 ======== */
.ultp-news-ticker-nav4 {
    .ultp-news-ticker-controls {
        padding-right: 10px;
        padding-left: 10px;
        button {
            width: auto;
            height: auto;
            background-color: transparent;
            margin: 0px 8px;
        }
        button.ultp-news-ticker-arrow {
            background: none;
        }
    }
}

/* ==== Icon Rotation css ==== */ 
.ultp-news-ticker-controls.ultp-news-ticker-horizontal-controls button.ultp-news-ticker-prev:after {
	-webkit-transform: translate(-50%, -50%) rotate(135deg);
	-ms-transform: translate(-50%, -50%) rotate(135deg);
	transform: translate(-50%, -50%) rotate(135deg);
}

.ultp-news-ticker-controls.ultp-news-ticker-horizontal-controls button.ultp-news-ticker-next:after {
	-webkit-transform: translate(-50%, -50%) rotate(315deg);
	-ms-transform: translate(-50%, -50%) rotate(315deg);
	transform: translate(-50%, -50%) rotate(315deg);
}

.ultp-news-ticker-controls.ultp-news-ticker-vertical-controls button.ultp-news-ticker-prev:after {
	-webkit-transform: translate(-50%, -50%) rotate(133deg);
	-ms-transform: translate(-50%, -50%) rotate(133deg);
	transform: translate(-50%, -50%) rotate(133deg);
}

.ultp-news-ticker-controls.ultp-news-ticker-vertical-controls button.ultp-news-ticker-next:after {
	-webkit-transform: translate(-50%, -50%) rotate(317deg);
	-ms-transform: translate(-50%, -50%) rotate(317deg);
	transform: translate(-50%, -50%) rotate(317deg);
}
/* ==== Rtl Icon Rotation css ==== */ 

.rtl .ultp-news-ticker-controls.ultp-news-ticker-horizontal-controls button.ultp-news-ticker-prev:after {
	-webkit-transform: translate(-50%, -50%) rotate(135deg);
	-ms-transform: translate(-50%, -50%) rotate(135deg);
	transform: translate(-50%, -50%) rotate(135deg);
}

.rtl .ultp-news-ticker-controls.ultp-news-ticker-horizontal-controls button.ultp-news-ticker-next:after {
	-webkit-transform: translate(-50%, -50%) rotate(315deg);
	-ms-transform: translate(-50%, -50%) rotate(315deg);
	transform: translate(-50%, -50%) rotate(315deg);
}

.rtl .ultp-news-ticker-controls.ultp-news-ticker-vertical-controls button.ultp-news-ticker-prev:after {
	-webkit-transform: translate(-50%, -50%) rotate(133deg);
	-ms-transform: translate(-50%, -50%) rotate(133deg);
	transform: translate(-50%, -50%) rotate(133deg);
}

.rtl .ultp-news-ticker-controls.ultp-news-ticker-vertical-controls button.ultp-news-ticker-next:after {
	-webkit-transform: translate(-50%, -50%) rotate(317deg);
	-ms-transform: translate(-50%, -50%) rotate(317deg);
	transform: translate(-50%, -50%) rotate(317deg);
}
.rtl .ultp-nav-Angle2 svg, 
.rtl .ultp-news-ticker-controls button.ultp-news-ticker-arrow svg {
    transform: rotate(180deg);
}
.rtl .ultp-nav-icon2 .ultp-news-ticker-prev::before {
    transform: rotate(180deg);
}
.rtl .ultp-nav-icon2 .ultp-news-ticker-next::before {
    transform: rotate(-180deg);
}
/* ==== Icon Rotation css ==== */ 

/* ==== Animation Css ==== */ 
.ultp-newstick-marquee {
    .ultp-news-ticker { 
        width: fit-content !important;
    }    
    .active {
        display: block !important;
        animation: none !important;
    } 
}
.ultp-newstick-typewriter {
    .active {
        .title-text {
            height: 100%;
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            white-space: nowrap; /* Keeps the content on a single line */
            letter-spacing: .1px !important; /* Adjust as needed */
            padding: 2px 5px 2px 0px;
            width: fit-content;
            -webkit-animation: 
              typing 3.5s steps(40, end),
              blink-caret .75s step-end infinite;
            animation: 
              typing 3.5s steps(40, end),
              blink-caret .75s step-end infinite;
            border-right: .15em solid #000;
        }
    }
    .ultp-animation-normal {
        .active {
            display: block !important;
        }
    }
    .ultp-animation-fadein {
        .active {
            display: block !important;
            animation: FadeIn 5s;
        }
    }
    .ultp-animation-fadeout {
        .active {
            display: block !important;
            animation: FadeOut ease-out 1s;
        }
    }
}
.rtl .ultp-newstick-typewriter .title-text { 
    border-left: .15em solid #000;
    border-right: none;
    padding-left: 5px;
}

.ultp-news-ticker {
    position: relative;
} 
.ultp-news-ticker li {
      display: none;
}
ul.ultp-news-ticker .active {
      display: block !important;
}
.ultp-animation-slide.ultp-sliderDir-left {
    .active {
        display: block !important;
        animation: left-animation 3s;
    } 
}
.rtl .ultp-animation-slide.ultp-sliderDir-left {
    .active {
        display: block !important;
        animation: left-rtl 3s !important;
    } 
}
.ultp-animation-slide.ultp-sliderDir-right {
    .active {
        display: block !important;
        animation: right-animation 3s;
    } 
}
.rtl .ultp-animation-slide.ultp-sliderDir-right {
    .active {
        display: block !important;
        animation: right-rtl 3s;
    } 
}
.ultp-animation-slide.ultp-sliderDir-up {
    .active {
        display: block !important;
        animation: up-animation 1s;
    } 
}
.ultp-animation-slide.ultp-sliderDir-down {
    .active {
        display: block !important;
        animation: down-animation 1s;
    } 
}
.ultp-animation-fadein {
    .active {
        display: block !important;
        animation: FadeIn 2s;
    }
}
.ultp-animation-fadeout {
    .active {
        display: block !important;
        animation: FadeOut 1s;
    }
}
/* ======== Slide left animation ======== */
@keyframes left-animation {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0px;
    }
}
@keyframes left-rtl {
    from {
        margin-right: 100%;
    }
    to {
        margin-right: 0px;
    }
}
/* ======== Slide right animation ======== */
@keyframes right-animation {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0px;
    }
}
@keyframes right-rtl {
    from {
        margin-right: -100%;
    }
    to {
        margin-right: 0px;
    }
}
/* ======== Verticale Animation ======== */
@keyframes up-animation {
    from {
        margin-top: -100px;
    }
    to {
        margin-top: 0px ;
        margin-bottom: 0px;
    }
}
@keyframes down-animation {
    from {
        margin-top: 100px ;
    }
    to {
        margin-top: 0px ;
        margin-bottom: 0px ;
    }
}
/* ======== Fade in & Fadeout Animation ======== */
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes FadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* ======== Typewriter Animation ======== */
@-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
 @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
 @-webkit-keyframes blink-caret {
 50% { border-color: transparent }
}
 @keyframes blink-caret {
 50% { border-color: transparent }
} 

/* ==== Responsive CSS ==== */ 
@media (min-width: 768px) {
	.ultp-newsTicker-wrap {
		margin-top: 0;
	}
} 
@media (max-width: 575px) {
	.ultp-news-ticker-label {
        display: none !important;
	}
    .ultp-news-ticker-box {
		padding-left: 10px !important;
		padding-right: 120px;
	}
    .ultp-newsTicker-wrap {
        margin: 0px;
    }
}
