@mixin iconSeparator( $topValue, $leftValue, $font: unset ) {
    left:$leftValue ;
    top:$topValue;
    font-size: $font;
}
/* =====================
    CUSTOM CSS
======================== */
.ultp-advance-post-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    & > div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .ultp-post-auth, 
    .ultp-auth-heading {
        display: flex;
        align-items: center;
        img {
            display: block;
        }
    }
    .ultp-meta-separator {
        display: flex;
        align-items: center;
    }
}

.ultp-date-prefix {
    margin-right: 5px;
}

.ultp-contentMeta-align {
    justify-content: space-between !important;
}
.ultp-readTime-wrap {
    display: flex;
    align-items: center;
    
}
.ultp-readTime-wrap {
    white-space: nowrap;
}
.ultp-auth-name {
    // margin-left: 5px;
    // for advance Post Meta
}
/* =====================
    Date Meta
======================== */
.ultp-date-meta {
    display:inline-flex;
    align-items: center;
    span {
        line-height: 0;
    }
}
/* =====================
    Author Meta
======================== */
.ultp-authMeta-label {
    margin-right: 5px;
} 
.ultp-authMeta-count, .ultp-authMeta-wrap {
    display:inline-flex;
    align-items: center;
} 
.ultp-authMeta-avatar {
    line-height: 0;
    img {
        max-width: inherit;
    }
}
.ultp-authMeta-count .ultp-authMeta-name {
    white-space: nowrap;
    transition: 400ms;
    text-decoration: none;
}

/* =====================
    Categories Meta
======================== */
/* ===== USED Categories META ===== */
.ultp-builder-category {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .cat-builder-content {
        display: block;
        a{
            transition: 400ms;
            margin:5px  auto ;
            display: inline-block;
        }
    }
}
.cat-builder-label {
    white-space: nowrap;
    display: block;
    font-size: 14px;
}
.cat-builder-content {
    a {
        text-decoration: none;
        font-size: 12px;
        &:hover {
            text-decoration: none;
        }
    }
}
.ultp-meta-separator span {
    white-space: nowrap;
}
/* =====================
    Comments meta
======================== */
.ultp-comment-count, 
.ultp-comment-wrap {
    display:inline-flex;
    align-items: center;
}
/* =====================
    POST READING TIME meta
======================== */
.ultp-read-count, .ultp-read-wrap {
    display:inline-flex;
    align-items: center;
}
/* =====================
    VIEW TIME meta
======================== */
.ultp-view-label {
    // margin-left: 4px;
} 
.ultp-view-count, 
.ultp-view-wrap {
    display:inline-flex;
    align-items: center;
}
// ========Separator Style==========//
.ultp-post-meta-dot {
    .ultp-meta-separator {
        &:not(:last-child)::after {
            content: "";
            bottom: auto;
            width: 3px;
            margin-top: 0;
            height: 3px;
            border-radius: 100%;
            @include iconSeparator(50%, -1px)
        }
    }
}
.ultp-post-meta-slash {
    .ultp-meta-separator {
        &:not(:last-child)::after {
            content: "/";
            @include iconSeparator(1px, -2px, 12px);
        }
    }
}
.ultp-post-meta-doubleslash {
    .ultp-meta-separator {
        &:not(:last-child)::after {
            content: "//";
            @include iconSeparator(1px, -4px, 12px);
        }
    }
}
.ultp-post-meta-close {
    .ultp-meta-separator {
        &:not(:last-child)::after {
            content: "x";
            @include iconSeparator(-1px, -4px, 10px);
        }
    }
}
.ultp-post-meta-dash {
    .ultp-meta-separator {
        &:not(:last-child)::after {
            content: "-";
            @include iconSeparator(0, -3px, 18px);
        }
    }
}
.ultp-post-meta-verticalbar {
    .ultp-meta-separator {
        &:not(:last-child)::after {
            content: "|";
            @include iconSeparator(0, -1px, 12px);
        }
    }
}
.ultp-post-meta-emptyspace {
    .ultp-meta-separator {
    padding-left: 0
    }
}

/* =====================
    This CSS comes from Post Meta
======================== */
@mixin iconSeparator( $topValue, $leftValue, $font: unset ) {
    left:$leftValue ;
    top:$topValue;
    font-size: $font;
}
@mixin contentsAlign( $element, $align: unset, $verAlign: unset ) {
    display: $element;
    justify-content: $align;
    align-items: $verAlign;
}
.ultp-meta-wrapper {
    @include contentsAlign(flex, center, center);
    flex-wrap: wrap;
    svg {
        width:20px;
        margin-right: 5px;
    }
    .ultp-cat-wrap, .ultp-tag-wrap, .ultp-post-auth, .ultp-comment-wrap, .ultp-date-meta, .ultp-comment-count {
        @include contentsAlign(flex, unset, center);
    }
    .ultp-auth-heading {
        margin-right: 5px;
        @include contentsAlign(flex, unset, center);
        img {
            margin:0px 3px;
        }
    }
}
.ultp-post-cat, .ultp-post-tag {
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    gap: 2px;
    a {
        display:block;
    }
}
.ultp-readTime-wrap, .ultp-date-icon, .ultp-comment-wrap, .ultp-comment-count {
    display:flex;
    align-items: center;
    svg {
        margin-right: 5px;
    }
}
.ultp-post-meta, .ultp-meta-style2-left {
    @include contentsAlign(flex, center, center);
    flex-wrap: wrap;
}
.ultp-meta-style2 {
    @include contentsAlign(flex, space-between, unset);
}
// -----------------------------------
// -----------------------------------
// -----------------------------------