
.ultp-block-wrapper {
    transition: 400ms;
    position: relative;
    &.ultp-loading-active {
        .ultp-block-item {
            opacity: .2;
            transition: 400ms;
        }
        .ultp-loading{
            display: block;
        }
    }
}

.ultp-block-wrapper {
    .ultp-block-items-wrap {
        .ultp-taxonomy-items {
            list-style: none;
            padding: 0;
            margin: 0;
            display: grid;
            .ultp-taxonomy-item {
                list-style: none;
                line-height: 0;
                margin-top: 0;
                a {
                    width: 100%;
                    height: 100%;
                    line-height: 0;
                    overflow: hidden;
                    transition: 400ms;
                    text-decoration: none !important; 
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    position: relative;
                    box-sizing: border-box;
                    .ultp-taxonomy-name {
                        transition: 400ms;
                    }  
                }
            }
        }
    }
}
.ultp-block-wrapper {
    .ultp-filter-active-icon .filter-active {
        &::before {
            content: "<< ";
        }
        &::after {
            content: " >>";
        }
    }
}

.ultp-block-row {
    display: grid;
}

.ultp-block-content-wrap {
    transition: 400ms;
    overflow: hidden;
}

//image 
.ultp-block-items-wrap {
    backface-visibility: hidden;
}


.ultp-block-image {
    position: relative;
    overflow: hidden;
    img {
        display: block;
    }
    .ultp-category-topLeft,
    .ultp-category-topRight,
    .ultp-category-bottomLeft,
    .ultp-category-bottomRight,
    .ultp-category-centerCenter {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        .ultp-category-in {
            position: relative;
            z-index: 2;
        }
    }
    .ultp-category-topLeft {
        -webkit-box-align: start;
        -ms-flex-align: start;
        -ms-grid-row-align: flex-start;
        align-items: flex-start;
    }
    .ultp-category-topRight {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: right;
        -webkit-box-align: start;
        -ms-flex-align: start;
        -ms-grid-row-align: flex-start;
        align-items: flex-start;
        &.ultp-category-grid {
            a {
                margin-right: 0;
            }
        }
    }
    .ultp-category-bottomLeft {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: left;
        -webkit-box-align: end;
        -ms-flex-align: end;
        -ms-grid-row-align: flex-end;
        align-items: flex-end;
    }
    .ultp-category-bottomRight {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: right;
        -webkit-box-align: end;
        -ms-flex-align: end;
        -ms-grid-row-align: flex-end;
        align-items: flex-end;
    }
    .ultp-category-centerCenter {
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
}