.ultp_skeleton__image{
    height: 300px;
    width: 300px;
    border-radius: 4px;
}
.ultp_skeleton__circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.ultp_skeleton__title{
    height: 20px;
    width: 100%;
    border-radius: 4px;
}
.ultp_skeleton__button{
    height: 40px;
    width: 90px;
    border-radius: 4px;
}
.ultp_frequency {
    position: relative;
    background-color: #e2e2e2;
    &.loop {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    overflow: hidden;
}
.ultp_frequency::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: -webkit-gradient(linear, left top,
                right top, from(transparent), 
                color-stop(rgba(255, 255, 255, 0.2)),
                to(transparent));
                  
    background: linear-gradient(90deg, transparent,
            rgba(255, 255, 255, 0.2), transparent);
    animation: loadings 0.8s infinite;
}
.skeletonOverflow {
    overflow: hidden;
}
@keyframes loadings {
    100% {
        transform: translateX(100%);
    }
}