@mixin visibility-hide {
    opacity: 0 !important;
    visibility: hidden !important;
}
@mixin visibility-show {
    opacity: 1 !important; 
    visibility: visible !important;
}
@mixin flex-vertical-center {
    display: flex;
    align-items: center;
}
.ultp-search-inputwrap {
    @include flex-vertical-center;
    position: relative;
}
.ultp-search-button {
    cursor: pointer;
}
.ultp-backend-viewmore {
    text-align: center;
}
.ultp-search-button__text {
    width: max-content;
}
.ultp-searchpopup-icon {
    gap: 10px;
    cursor: pointer;
    width: fit-content;
}
.ultp-searchform-content {
    position: relative;
}
.ultp-search-button, 
.ultp-searchpopup-icon, 
.ultp-searchform-content {
    @include flex-vertical-center;
}
.ultp-search-button,
.ultp-searchpopup-active {
    svg {
        height: 20px;
        width: 20px;
    }
}
.ultp-canvas-header,
.ultp-search-inputwrap, 
.ultp-search-inputwrap input, 
.ultp-searchform-content input {
    width: 100%;
}

/*=========================
    Input Style Layout  
============================*/
.ultp-search-inputwrap input {
    &::placeholder {
        color: #9e9e9e;
    }
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
    box-sizing: border-box !important;
}
.ultp-searchform-content .ultp-search-clear {
    display: none;
    position: absolute;
    &.active {
        display: block;
    }
    svg {
        width: 20px;
        height: 13px;
        cursor: pointer;
        fill: #8b8b8b;
    }
}
.ultp-searchform-input2, 
.ultp-searchform-input3  {
    .ultp-search-clear {
        right: 110px;
    }
    .ultp-search-button {
        position: absolute;
        bottom: auto !important;
        top: auto !important;
    }
    .ultp-searchres-input {
        padding-right: 140px;
    }
}
.ultp-searchform-input1, 
.ultp-searchform-input3 {
    .ultp-searchres-input {
        height: 46px;
    }
}
.ultp-searchform-input1  {
    .ultp-search-clear {
        right: 16px;
    }
    .ultp-searchres-input {
        padding-right: 40px;
    }
}
.ultp-searchform-input2 .ultp-searchres-input {
    height: 60px;
}
.ultp-searchform-input3 .ultp-search-button {
    height: 100%;
    box-sizing: border-box;
    right: -1px;
    left: auto;
}
/*======================
    Search Result  
=========================*/
.ultp-search-result {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
    scrollbar-width: none;
    @include visibility-hide;
    &::-webkit-scrollbar {
        display: none;
    }
    img.ultp-searchresult-image {
        max-width: max-content;
    }
    .ultp-result-data {
        opacity: 0;
        overflow: hidden;
        overflow-y: auto;
        transform: translateY(-106px);
        transition: all 1s ease;
    }
    .ultp-search-result__item {
        @include flex-vertical-center;
        animation: searchAnimation .5s ease;
    }
    &:has(.ultp-result-data > .ultp-search-result__item) {
        .ultp-result-data {
            opacity: 1;
            transform: translateY(0px);
            transition: all .5s ease;
        }
    }
    &:has(.active), &:has(.ultp-result-data > .ultp-search-result__item) {
        @include visibility-show;
    }
    .ultp-searchresult-category a {
        margin-right: 3px;
        &:last-child {
            margin-right: 0px;
        }
    }
    .ultp-viewall-results {
        cursor: pointer;
        display: none;
        justify-content: center;
        column-gap: 5px !important;
        border-bottom: none !important;
        min-height: 40px;
        &.active {
            display: flex !important;
        }
    }
}
.ultp-search-dropdown {
    position: relative;
    .ultp-search-result {
        width: 100%;
        position: absolute;
        z-index: 99;
    }
}
// .ultp-search-container > .ultp-search-result {
//     box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.16);
// }
.ultp-rescontent-meta {
    @include flex-vertical-center;
    flex-wrap: wrap;
    & > div, & > a {
        @include flex-vertical-center;
        &::after {
            content: "";
            @include flex-vertical-center;
            border-radius: 50%;
        }
        &:last-child{
            &::after{
                display: none;
            }
        }
    }
}
.ultp-searchresult-excerpt {
    word-break: break-all;
}

/*================================= 
    Common Items
================================*/
.ultp-search-canvas {
    width: 100%;
    box-sizing: border-box;
    position: relative; 
    z-index: 9;
    .ultp-searchform-content, .ultp-search-result {
        width: 100%;
        margin: 0 auto;
    }
}
.ultp-search-noresult {
    display: none !important;
    min-height: 40px;
    // border-top: none !important;
    // border-bottom: none !important;
    &.active {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}
.ultp-popupclose-icon {
    cursor: pointer;
    display: none;
    max-width: unset;
    height: 30px;
    position: absolute;
    top: 50px;
    right: 80px;
    z-index: 9999;
    &.active {
        display: block !important;
    }
    svg {
        width: 30px;
    }
}

.ultp-result-loader, 
.ultp-viewmore-loader {
    height: 15px;
    width: 15px;
    display: none !important;
    margin: 30px auto;
    transition: all 1s;
    padding: 15px !important;
    box-sizing: border-box;
    border: none !important;
    &.active {
        display: block !important;
        border-bottom: none !important;
        position: relative; 
        animation: around 5.4s infinite;
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            display: inline-block;
            border-width: 2px;
            border-color: #333 #333 transparent transparent;
            border-style: solid;
            box-sizing: border-box;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            animation: rotate 0.7s ease-in-out infinite;
            -webkit-animation: rotate 0.7s ease-in-out infinite;
        }
    }
    &.viewmore-active  {
        @include visibility-show;
        display: block !important;
    }
}

.ultp-result-loader {
    margin: 15px auto  15px !important;
}

.ultp-search-animation-top, 
.ultp-search-animation-fullwidth {
    .ultp-search-canvas {
        @include flex-vertical-center;
        justify-content: center;
        flex-direction: column;
        visibility: hidden;
        z-index: 999;
        top: -100% !important;
        transition: all 1s ease;
    }
    &.popup-active {
        top: 0% !important;
        .ultp-search-canvas {
            visibility: visible;
            top: 0% !important;
        }
        .ultp-popupclose-icon {
            display: block !important;
        }
    }
}

.ultp-search-animation-top {
    // height: fit-content !important;
    .ultp-canvas-header {
        padding: 80px 0px 0px;
    }
}
.ultp-search-animation-fullwidth {
    .ultp-canvas-wrapper, 
    .ultp-search-canvas {
        height: 100%;
    }
    .ultp-search-result {
        // min-height: 0px !important;
        transition: all .5s ease !important;
        &:not(:has(.ultp-result-data > div)){
            @include flex-vertical-center;
            justify-content: center;
            flex-direction: column;
        }
        &:has(.ultp-result-data > .ultp-search-result__item) .ultp-result-data {
            transition: all 1s ease-in-out !important;
        }
    }
    .ultp-search-canvas:has(.ultp-search-clear.active) {
        .ultp-search-result {
            box-shadow:  8px 5px 26px -6px #8d8d8d;
            transition: all .5s ease-in-out;
        }
    }
}
/*================================= 
    canvas & Popup For Backend  
================================*/
.ultp-search-popup {
    position: relative;
    &:has( .ultp-search-result > .ultp-result-data > div) .ultp-search-canvas {
        justify-content: flex-start !important;
    }
    .ultp-search-canvas {
        overflow-y: auto;
    }
}
.wp-block-ultimate-post-advanced-search {
    &.aligncenter {
        .ultp-searchform-content {
            margin: 0 auto;
        }
    }
    .ultp-pro-helper {
        background-color: #797add !important;
    }
    .ultp-search-animation-fullwidth  .ultp-canvas-wrapper, 
    .ultp-search-animation-top  .ultp-canvas-wrapper {
        display: flex;
        align-items: flex-start;
        width: 100%;
        opacity: 0;
        overflow: hidden !important;
        transition: .7s ease;
        box-sizing: border-box;
        background-color: #e2e2e2;
        position: absolute;
        z-index: 999;
        right: 0px;
        top: 0px;
        .ultp-search-canvas {
            position: static !important;
            transition: .7s ease;
            animation: topSlideAnimation 1s ease !important;
            &:has(.ultp-result-data > .ultp-search-result__item) {
                animation: none;
            }
        }
    }
    .ultp-search-animation-popup {
        .ultp-canvas-wrapper {
            height: 0;
            &.canvas-popup-active {
                @include visibility-show;
                height: 100%;
                transition: .7s;
            }
        }
        .ultp-canvas-wrapper, .ultp-search-canvas {
            @include visibility-hide;
            transition: all .3s;
        }
        &.popup-active { 
            .ultp-search-canvas {
                transition: all .3s;
                @include visibility-show;
            }   
        }
    }
    .ultp-search-animation-top  .ultp-canvas-wrapper {
        height: 0rem !important;
        .ultp-search-canvas {
            margin: 20px 20px 0;
        }
        &.canvas-popup-active {
            opacity: 1 !important;
            height: 20rem !important;
            overflow-y: auto !important;
            padding-bottom: 40px;
        }
    }
    .ultp-search-animation-fullwidth {
        .ultp-canvas-wrapper {
            height: 0rem !important;
            display: flex;
            align-items: stretch;
            &.canvas-popup-active {
                opacity: 1 !important;
                height: 25rem !important;
                padding: 40px;
            }
            .ultp-search-canvas {
                height: auto !important;
            }
        }
    }
}
.ultp-search-container:has(.ultp-canvas-wrapper) {
    .ultp-popupclose-icon {
        position: absolute !important;
    }
}

/*================================= 
    Fron end popup
================================*/
body  {
    &:is(.admin-bar) { // close icon 
        .ultp-search-animation-top.popup-active .ultp-popupclose-icon{
            top: 55px !important;
            right: 55px !important;
        }
    }
    .ultp-search-frontend {
        .ultp-search-canvas, .ultp-popupclose-icon {
            display: none !important;
        }    
    }
    .result-data {
        position: absolute;
        z-index: 9999;
        visibility: hidden;
        &:not(.ultp-search-animation-popup, .ultp-search-animation-top, .ultp-search-animation-fullwidth) {
            .ultp-search-result:has(.active), .ultp-search-result:has(.ultp-result-data>.ultp-search-result__item) {
                @include visibility-hide;
            }
        }
        &.popup-active:not(.ultp-search-animation-popup, .ultp-search-animation-top, .ultp-search-animation-fullwidth) {
            visibility: visible !important;
            .ultp-search-result:has(.active), .ultp-search-result:has(.ultp-result-data>.ultp-search-result__item) {
                @include visibility-show;
            }
        }
        &.ultp-search-animation-top, 
        &.ultp-search-animation-fullwidth  {
            position: fixed !important;
            .ultp-popupclose-icon {
                width: fit-content !important;
            }    
        }
    }
    // Full View Animation for front end only
    & > .ultp-search-animation-fullwidth {
        width: 100vw;
        position: fixed !important;
        top: 0%;
        height: 0%;
        transition: 5s ease;
        animation: topAnimation 1.5s ease;
        z-index: 999;
        .ultp-search-result:has(.active), .ultp-search-result:has(.ultp-result-data>.ultp-search-result__item) {
            @include visibility-hide;
        }
        &.popup-active {
            height: 100%;
            transition: 3s ease;
            .ultp-popupclose-icon {
                top: 85px !important;
                right: 80px !important;
            }
            .ultp-search-result:has(.active), .ultp-search-result:has(.ultp-result-data>.ultp-search-result__item) {
                @include visibility-show;
            }
        }
    }

    // Top View Animation for front end only
    & > .ultp-search-animation-top {
        height: 0%;
        width: 100vw;
        top: -100%;
        transition: 2s ease;
        animation: topAnimation .7s ease;
        z-index: 999;
        .ultp-search-result {
            padding-bottom: 80px;
            &:has(.ultp-result-data > div) {
                padding-bottom: 0px;
            }
        }
        &.popup-active {
            visibility: visible;
            height: fit-content;
            transition: .9s ease;
            .ultp-popupclose-icon {
                top: 25px !important;
                right: 55px !important;
            }
        }
    }
    // Popup View Animation for front end only
    & > .ultp-search-animation-popup { 
        width: fit-content;
        opacity: 0;
        transition: .7s !important;
        animation: searchAnimation .4s ease !important;
        &.popup-active { 
            transition: .7s;
            @include visibility-show;
        }
    }
}
header .wp-block-ultimate-post-advanced-search {
    &:not(:has(.ultp-search-animation-top, .ultp-search-animation-fullwidth, .ultp-search-animation-popup) ) {
        .ultp-searchform-content, .ultp-search-result  {
            width: 25vw; // default static with for search form inside header
        }
    }
}

/* ======== Animation Style  =======*/
@keyframes searchAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes rotate {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}
@keyframes topAnimation {
    0% { transform: translateY(-100%);}
    100% { transform: translateY(0%); }
}

@keyframes topSlideAnimation {
    0% { 
        transform: translateY(-100%);
        opacity: 0;
    }
    100% { 
        transform: translateY(0%); 
        opacity: 1;
    }
}

/* ======== Responsive Style  =======*/
@media only screen and (max-width: 600px) {
    body .popup-active.result-data .ultp-popupclose-icon {
        top: 25px !important;
        right: 36px !important;
    }
    body.admin-bar .popup-active.result-data .ultp-popupclose-icon {
        top: 35px !important;
        right: 46px !important;
    }
} 

/* ======== browser Compitibility  =======*/
.ultp-search-result.ultp-result-show, .popup-active .ultp-search-result.ultp-search-show {
    @include visibility-show;
    box-shadow:  8px 5px 26px -6px #8d8d8d;
    .ultp-result-data.ultp-result-show {
        opacity: 1;
        transform: translateY(0);
        transition: all .5s ease;
        @include visibility-show;
    }
}

.ultp-search-result:not(:has(.active, .ultp-result-data > .ultp-search-result__item)) {
    @include visibility-hide;
}