// Drag and Drop File Uploader

$font-size-base: 14px;
$color-base: #343a46;
$color-primary: #037fff;
$color-secondary: #575A5D;
$padding-base: 10px;
$background-color-base: #efefef;
$line-height-base: 28px;
$font-weight-base: 500;

.ultp_drag_drop_file_upload {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input#ultp_file_upload {
    opacity: 0;
    height: 0px;
    width: 0px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    right: 50%;
}

.ultp_drag_drop_file_upload__content_wrapper {
    border-radius: 4px;
    width: fit-content;
    border: dotted 1px #eaedf2;
    background-color: #fff;
    padding: 20px 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: $font-weight-base;
}

.ultp_cloud_upload_icon {
    font-size: 40px;
    line-height: $line-height-base;
    width: 40px;
    height: 35px;
    color: #3b414d;
}

.ultp_drag_drop_file_upload__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $color-secondary;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

.ultp_file_upload__drag_active {
    background-color: #e5e5e5 !important;
}

.ultp_link_text {
    color: $color-primary;
}
//----- Drag and Drop File Upload