.wp-block-ultimate-post-post-slider-1, .wp-block-ultimate-post-post-slider-2  {
    .ultp-block-slider-wrap {
        position: relative;
        .ultp-block-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 10;
            .ultp-block-content-inner {
                transition: 400ms;
            }
        }
    }
    .ultp-block-slider-wrap {
        // overflow: hidden;
        position: relative;
        // height: 550px;
        .ultp-block-image-inner {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            // overflow: hidden;
            .ultp-block-image>a {
                height: 100%;
            }
            .ultp-block-image img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
            img.ultp-block-img {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                width: auto;
                height: auto;
                min-width: 100%;
                max-width: none;
                // left: 50%;
                // top: 50%;
                // -webkit-transform: translate(-50%, -50%);
                // -ms-transform: translate(-50%, -50%);
                // transform: translate(-50%, -50%);
                min-height: 100%;
            }
        }
    }
    .slick-arrow {
        transition: 400ms;
        text-align: center;
        display: flex !important;
        justify-content: center;
        cursor: pointer;
        &:before {
            display: none;
        }
        &:before{
            opacity: 1;
            transition: 400ms;
        }
        svg {
            // width: 16px;
        }
    }
    .slick-dots {
        li {
            margin: 0;
            width: auto;
            height: auto;
            button {
                display: inline-block;
                transition: 400ms;
                padding: 0;
                &:before {
                    display: none;
                }
            }
        }
    }
}
.ultp-block-readmore {
    a {
        transition: 400ms;
        display: inline-block;
        &:hover {
            text-decoration: none;
        }
        svg {
            height: auto;
            width: 15px;
            margin-left: 6px;
            vertical-align: sub;
            display: inline-block;
        }
    }
}


.ultp-loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    -webkit-transition: all .4s cubic-bezier(.55,0,.1,1);
    transition: all .4s cubic-bezier(.55,0,.1,1);
    overflow: hidden;

    .ultp-loading-blocks {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -31px;
        margin-top: -31px;
        div {
            position: absolute;
            width: 20px;
            height: 20px;
            background: var(--loading-block-color);
            -webkit-animation: loading-blocks .8s linear infinite;
            animation: loading-blocks .8s linear infinite;
        }
    }

    .ultp-loading-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -35px;
        margin-top: -33px;
        div {
            left: 0;
            top: 0;
            position: absolute;
            -webkit-animation: loading-spinner linear 1s infinite;
            animation: loading-spinner linear 1s infinite;
            background: calc(var(--loading-block-color) * 0.8);
            width: 5px;
            height: 15px;
            border-radius: 40%;
            -webkit-transform-origin: 5px 35px;
            transform-origin: 5px 35px;
            &:nth-child(1) {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-animation-delay: -0.916666666666667s;
                animation-delay: -0.916666666666667s;
            }
            &:nth-child(2) {
                -webkit-transform: rotate(30deg);
                transform: rotate(30deg);
                -webkit-animation-delay: -0.833333333333333s;
                animation-delay: -0.833333333333333s;
            }
            &:nth-child(3) {
                -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
                -webkit-animation-delay: -0.75s;
                animation-delay: -0.75s;
            }
            &:nth-child(4) {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                -webkit-animation-delay: -0.666666666666667s;
                animation-delay: -0.666666666666667s;
            }
            &:nth-child(5) {
                -webkit-transform: rotate(120deg);
                transform: rotate(120deg);
                -webkit-animation-delay: -0.583333333333333s;
                animation-delay: -0.583333333333333s;
            }
            &:nth-child(6) {
                -webkit-transform: rotate(150deg);
                transform: rotate(150deg);
                -webkit-animation-delay: -0.5s;
                animation-delay: -0.5s;
            }
            &:nth-child(7) {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                -webkit-animation-delay: -0.416666666666667s;
                animation-delay: -0.416666666666667s;
            }
            &:nth-child(8) {
                -webkit-transform: rotate(210deg);
                transform: rotate(210deg);
                -webkit-animation-delay: -0.333333333333333s;
                animation-delay: -0.333333333333333s;
            }
            &:nth-child(9) {
                -webkit-transform: rotate(240deg);
                transform: rotate(240deg);
                -webkit-animation-delay: -0.25s;
                animation-delay: -0.25s;
            }
            &:nth-child(10) {
                -webkit-transform: rotate(270deg);
                transform: rotate(270deg);
                -webkit-animation-delay: -0.166666666666667s;
                animation-delay: -0.166666666666667s;
            }
            &:nth-child(11) {
                -webkit-transform: rotate(300deg);
                transform: rotate(300deg);
                -webkit-animation-delay: -0.083333333333333s;
                animation-delay: -0.083333333333333s;
            }
            &:nth-child(12) {
                -webkit-transform: rotate(330deg);
                transform: rotate(330deg);
                -webkit-animation-delay: 0s;
                animation-delay: 0s;
            }
        }
    }

}
// Specific Style for Slider 1
.wp-block-ultimate-post-post-slider-1 {
    .ultp-block-slider-wrap {
        overflow: hidden;
        height: 550px;
        .ultp-block-image-inner {
            overflow: hidden;
        }
    }
    .slick-arrow {
        svg {
            width: 16px;
        }
    }
}

@keyframes loading-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes loading-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

@keyframes loading-blocks {
    0% {
      background: var(--loading-block-color);
    }
    12.5% {
      background: var(--loading-block-color);
    }
    12.625% {
      background: var(--loading-block-color);
    }
    100% {
      background: calc(var(--loading-block-color) * 0.8);
      
    }
  }
  @-webkit-keyframes loading-blocks {
    0% {
      background: var(--loading-block-color);
    }
    12.5% {
      background: var(--loading-block-color);
    }
    12.625% {
      background: var(--loading-block-color);
    }
    100% {
      background: calc(var(--loading-block-color) * 0.8);
    }
  }

.ultp-block-items-wrap .fade.in {
    animation-name: fadeIn;
    animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-timing-function: linear;	
	-webkit-animation-timing-function: linear;
}

.ultp-block-items-wrap .fade.out {
    animation-name: fadeOut;
    animation-duration: 1s;	
    -webkit-animation-duration: 1s;
	animation-timing-function: linear;	
	-webkit-animation-timing-function: linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(10px);
    } 
    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

.rtl .wp-block-ultimate-post-post-slider-1 .slick-prev svg,
.rtl .wp-block-ultimate-post-post-slider-1 .slick-next svg, 
.rtl .wp-block-ultimate-post-post-slider-2 .slick-prev svg,
.rtl .wp-block-ultimate-post-post-slider-2 .slick-next svg {
    transform: rotate(180deg);
}

.wp-block-ultimate-post-post-slider-1:has(.ultp-post-slider-loader-container) , .wp-block-ultimate-post-post-slider-2:has(.ultp-post-slider-loader-container) {
    .ultp-block-wrapper:not(:has(.slick-initialized)) {
        .ultp-block-items-wrap .ultp-block-item {
            position: relative;
            &:not(:first-child) {
                display: none;
            }
            .ultp-block-slider-wrap {
                visibility: hidden;
            }
        }
        .ultp-post-slider-loader-container {
            // position: relative;
            position: absolute;
            top: 40%;
            right: 0;
            left: 0;
            bottom: 50%;
            height: 80px;
            .ultp-loading {
                display: block;
                .ultp-loading-spinner {
                    > div {
                        background: var(--loading-block-color);
                    }
                }
            }
            
        }
    }
} 