.ultp-filter-search {
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }

    // position: relative;
}

.ultp-filter-search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3s ease, border-color 0.3s ease,
        background-color 0.3s ease;

    // &:focus-within {
    //     border-color: blue;
    // }

    input[type="search"] {
        border: none;
        background-color: transparent;
        margin: 0px;
        outline: none;
        flex-grow: 1;
        padding: 0 8px;
        min-height: 30px;
        height: auto !important;

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

// .ultp-filter-search-results {
//     position: absolute;
//     top: calc(100% + 5px);
//     list-style-type: none;
//     overflow: hidden;
//     margin: 0px;
//     z-index: 99999;
//     overflow-y: scroll;
//     max-height: 300px;
//     background-color: bisque;

//     .no-result {
//         width: 100%;
//     }

//     /* Custom scrollbar styles */
//     &::-webkit-scrollbar {
//         width: 3px;
//     }

//     &::-webkit-scrollbar-track {
//         background: #f1f1f1;
//     }

//     &::-webkit-scrollbar-thumb {
//         background: #888;
//     }

//     &::-webkit-scrollbar-thumb:hover {
//         background: #555;
//     }

//     li {
//         box-sizing: border-box;
//         padding-inline: 0.5rem;
//         word-wrap: break-word;
//         width: 100%;
//         cursor: pointer;
//         color: black;
//     }

//     li.disabled {
//         color: #6c757d;
//         cursor: not-allowed;
//     }

//     li.disabled:hover {
//         background-color: transparent;
//     }
// }
