@import "./utility.scss";

#wpbody-content:has(.ultp-settings-tab-wrap) {
    padding: 0 !important;
    background-color: $dashBodyBg;
}
.ultp-settings-tab-wrap {
    line-height: 1.6;
    h1, h2, h3, h4, h5, h6 {
        padding: 0;
        margin: 0;
    }
    .ultp-discount-wrap {
        transform: rotate(-90deg);
        width: 150px;
        height: 40px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        border-radius: 4px 4px 0 0;
        position: fixed;
        top: 200px;
        right: -55px;
        z-index: 99999;
        text-decoration: none;
        background: linear-gradient(60deg, hsl(224deg, 88%, 61%), hsl(359deg, 85%, 66%), hsl(44deg, 74%, 55%), hsl(89deg, 72%, 47%), hsl(114deg, 79%, 48%), hsl(179deg, 85%, 66%));
        background-size: 300% 300%;
        background-position: 0 50%;
        animation: ultp_moveGradient 4s alternate infinite;
        transition: .4s;
        .ultp-discount-text {
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
        } 
        @keyframes ultp_moveGradient {
            50% {
                background-position: 100% 50%;
            }
        }
    }
}
.cursor {
    cursor: pointer;
}
.ultp-builder-create-btn {
    text-transform: capitalize;
}
input[type=checkbox] {
    width: 22px;
    height: 20px;
    border-radius: 2px;
    border: solid 1px #eaedf2;
    background: #fff;
    position: relative;
    margin: 0;
    box-shadow: none;
    display: inline-block;
    &+.ultp-description {
        margin-left: 10px;
    }
}
input[type=checkbox]:checked {
    background: $postxPrimaryColor;
    border: none;
    &::before {
        content: "\2713";
        color: #fff;
        height: unset;
        width: unset;
        margin: unset;
        position: absolute;
        left: 5px;
        top: 9px;
        font-weight: 900;
    }
}
.ultp-primary-button {
    cursor: pointer;
    padding: 12px 25px;
    color: $primaryBtnColor !important;
    font-size: $btnSize;
    background: $primaryBtnBg;
    border-radius: $btnRadius;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    border: $primaryBtnBorder;
    transition: background-color 400ms;
    &:hover {
        background-color: $postxPrimaryColor;
    }
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}
.ultp-secondary-button {
    cursor: pointer;
    padding: $btnPadding;
    color: $secondaryBtnColor !important;
    font-size: $btnSize;
    background: $secondaryBtnBg;
    border-radius: $btnRadius;
    text-decoration: none;
    border: $secondaryBtnBorder;
    display: inline-block;
    width: fit-content;
    transition: background-color 400ms;
    &:hover {
        background-color: #dee5fa;
    }
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}
.ultp-upgrade-pro-btn {
    display: inline-block;
    padding: $btnPadding;
    color: $upgradeBtnColor;
    font-size: $btnSize;
    background: $upgradeBtnBg;
    border-radius: $btnRadius;
    text-decoration: none;
    width: fit-content;
    transition: background-color 400ms;
    &:hover {
        background-color: #ff9336;
        color: $upgradeBtnColor;
    }
    &:focus {
        outline: 0;
        box-shadow: none;
    }
    &:active {
        color: #fff;
    }
}
// .ultp-dash-two-btns {
//     .ultp-primary-button, .ultp-secondary-button ,.ultp-upgrade-pro-btn {
//         padding: $btnPaddingMd;
//     }
// }
form {
    .ultp-settings-wrap {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 30px;
        strong {
            font-size: $formLabelSize;
            color: $formLabelColor;
            font-weight: $formLabelWeight;
        }
        .ultp-settings-field-wrap {
            select, input[type="text"], input[type="number"]  {
                height: $inputHeight;
                width: 100%;
                max-width: 100%;
                border: $inputBorder;
                border-radius: $inputRadius;
                color: $inputColor;
                padding: $inputPadding;
                background-color: $inputBg;
                margin-bottom: 3px;
            }
            textarea {
                width: 100%;
                max-width: 100%;
                border: $inputBorder;
                border-radius: $inputRadius;
                color: $inputColor;
                padding: $inputPadding;
                background-color: $inputBg;
                margin-bottom: 3px;
            }
            select[multiple] {
                max-height: 100px;
                height: 100%;
            }
            .ultp-description {
                font-size: $inputDescpSize;
            }
            
            
        }
    }
    .ultp-data-message {
        display: none;
        position: fixed;
        bottom: 10%;
        padding: 13px 14px 14px 15px;
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(8, 68, 129, 0.2);
        background: rgb(115 184 28 / 10%);
        width: 224px;
        color: $headingColor;
    }
}
#postx-regenerate-css {
    margin-top: 10px;
    display: none;
    span {
        color: $postxWHite;
    }
}
#postx-regenerate-css.active{
    display: inline-block;
}
#postx-regenerate-css .dashicons{
    display: none;
    margin-right: 8px;
    -webkit-animation: ultp-spin 1s linear infinite;
    animation: ultp-spin 1s linear infinite;
}
#postx-regenerate-css.ultp-spinner .dashicons{
    display: inline-block;
}
@keyframes ultp-spin {
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    } to {
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn);
    }
}
.rotate{
    animation: rotate 1.5s linear infinite; 
}
@keyframes rotate{
    to{ transform: rotate(360deg); }
}
.ultp-addon-lock-container-overlay {
    background: rgb(0 0 0 / 70%);
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    top: 0;
    display: flex;
    justify-content: center;
}
.ultp-addon-lock-container {
    position: fixed;
    top: 20%;
    z-index: 999;
    background: $dashPopBg;
    padding: $dashPopPadding ;
    border-radius: 4px;
    box-shadow: 0 50px 99px 0 rgba(62, 51, 51, 0.5);
    .ultp-popup-unlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: $dashPopWidth;
        width: 100%;
        width: 100%;
        gap: 20px;
        .title {
            text-align: center;
        }
        img {
            height: 112px;
        }
        .ultp-description {
            text-align: center;
        }
    }
    .ultp-popup-close {
        position: absolute;
        font-size: 0px;
        top: 0;
        right: -10%;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #000;
        cursor: pointer;
        border: none;
        padding: 12px;
        background: #fff;
        &:hover {
            background: #ff0000;
            svg {
                fill: #fff;
            }
        }
    }
}
.settingsLink {
    color: $postxPrimaryColor !important;
}
.ultp-dash-control-options {
    .ultp-addons-enable, .ultp-blocks-enable {
        width: 0;
        height: 0;
        display: none;
        &:checked+.ultp-control__label {
            position: relative;
            background-color: $postxPrimaryColor;
            opacity: unset;
            & > span {
                display: none;
            }
            &::after {
                left: calc(100% - 3px);
                transform: translateX(-100%);
            }
        }
        &.disabled + .ultp-control__label {
            opacity: 0.25 !important;
        }
    }
    & > label {
        width: 36px;
        height: 18px;
        display: block;
        cursor: pointer;
        border-radius: 100px;
        text-indent: -9999px;
        background: $postxPrimaryColor;
        opacity: 0.25;
        position: relative;
    }
    
    & > label::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        border-radius: 90px;
        background: $postxWHite;
        transition: 0.3s;
    }
}
.ultp_h1 {
    font-size: $h1Size;
    font-weight: $h1Weight;
}
.ultp_h2 {
    font-size: $h2Size;
    font-weight: $h2Weight;
}
.ultp_h3 {
    font-size: $h3Size;
    font-weight: $h3Weight;
}
.ultp_h4 {
    font-size: $h4Size;
    font-weight: $h4Weight;
}
.ultp_h5 {
    font-size: $h5Size;
    font-weight: $h5Weight;
}
.ultp_h6 {
    font-size: $h6Size;
    font-weight: $h6Weight;
}
.ultp_h1, .ultp_h2, .ultp_h3, .ultp_h4, .ultp_h5, .ultp_h6 {
    color: $headingColor;
}
.ultp-settings-container {
    margin: 0px !important;
    background: $dashBodyBg;
    padding: $dashBodyPadding;
    min-height: 100vh;
    height: 100%;
    .ultp-settings-content .ultp-premade-grid {
        background: $dashBodyBg;
    }
}
.ultp-settings-content {
    margin: 0px auto 40px auto !important;
    max-width: $settingConWidth;
}
.ultp-dash-item-con {
    background: $itemConBg;
    border-radius: $itemConRadius;
    box-shadow: $iteConShadow;
    padding: $itemConPadding;
}
.ultp-text-center {
    text-align: center;
}
.ultp-pro-feature-lists {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
    & > span {
        display: inline-flex;
        gap: 8px;
        align-items: center;
        &, & > span {
            color: $headingColor;
            font-size: 14px;
        }
        & > span {
            & > a {
                text-decoration: none;
                .dashicons {
                    color: $postxPrimaryColor;
                    font-size: 17px;
                    line-height: 1.2;
                }
            }
        }
        svg {
            height: 16px;
            width: 16px;
            vertical-align: middle;
            fill: $postxPrimaryColor;
            flex-shrink: 0;
        }
    }
}
.ultp-dashboard-promotions-features {
    display: flex;
    flex-direction: column;
    gap: 40px;
    & > div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h5 {
            line-height: 1;
        }
        &.ultp-dashboard-news-tips {
            gap: 15px;
        }
    }
    .ultp-dashboard-news-tips {
        a {
            color: #575a5d;
            transition: 400ms;
            &:focus {
                outline: 0;
                box-shadow: none;
            }
            &:hover {
                color: $postxPrimaryColor
            }
        }
    }
}

/* =========================
     Dashboard header Style
============================ */
.ultp-setting-header {
	display: grid;
    align-items: center;
	grid-template-columns: 230px 1fr 60px;
	background: var(--postx-white-color);
	border-bottom: 1px solid var(--postx-border-color);
	padding: 0 10px 0 20px;
    position: sticky;
    width: 100%;
    box-sizing: border-box;
    top: 32px;
    z-index: 99;
}

// hello bar
.ultp-setting-hellobar {
	background: #027fff;
	padding: 6px 0;
	text-align: center;
	color: rgba(255, 255, 255, 0.85);
	font-size: 14px;
}

.ultp-setting-hellobar a {
	margin-left: 4px;
	font-weight: 700;
	font-size: 14px;
	color: #fff;
}

.ultp-setting-hellobar strong {
	color: #fff;
	font-weight: 700;
}
.ultp-ring {
	-webkit-animation: ring 4s .7s ease-in-out infinite;
	-moz-animation: ring 4s .7s ease-in-out infinite;
	animation: ring 4s .7s ease-in-out infinite;
	margin-right: 5px;
	font-size: 20px;
    position: relative;
    top: 2px;
	color: #fff;
}
.helobarClose {
    position: absolute;
    cursor: pointer;
    right: 15px;
    svg {
        height: 10px;
        fill:rgba(255, 255, 255, 0.43);
    }
}
@keyframes ring {
	0% { transform: rotate(0); }
	1% { transform: rotate(30deg); }
	3% { transform: rotate(-28deg); }
	5% { transform: rotate(34deg); }
	7% { transform: rotate(-32deg); }
	9% { transform: rotate(30deg); }
	11% { transform: rotate(-28deg); }
	13% { transform: rotate(26deg); }
	15% { transform: rotate(-24deg); }
	17% { transform: rotate(22deg); }
	19% { transform: rotate(-20deg); }
	21% { transform: rotate(18deg); }
	23% { transform: rotate(-16deg); }
	25% { transform: rotate(14deg); }
	27% { transform: rotate(-12deg); }
	29% { transform: rotate(10deg); }
	31% { transform: rotate(-8deg); }
	33% { transform: rotate(6deg); }
	35% { transform: rotate(-4deg); }
	37% { transform: rotate(2deg); }
	39% { transform: rotate(-1deg); }
	41% { transform: rotate(1deg); }
	43% { transform: rotate(0); }
	100% { transform: rotate(0); }
}

// header logo
.ultp-setting-logo {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--postx-border-color);
	padding: 8px 0;
    span {
        font-size: 12px;
        border: 1px solid var(--postx-primary-color);
        border-radius: 100px;
        padding: 4px 15px;
        margin-left: 20px;
        background: rgba(2, 126, 255, 0.06);
        color: var(--postx-primary-color);
        line-height: 18px;
        font-weight: 600;
    }
}
.ultp-setting-header-img {
    height: 40px;
}

// Header Menu
.ultp-settings-tab {
	margin: 0;
	padding: 0 0 0 30px;
    li {
        margin: 0px 30px 0 0;
        display: inline-block;
        &:last-child {
            margin-right: 0;
        }
        a {
            text-decoration: none;
            font-size: 14px;
            padding: 0;
            color: var(--postx-dark-color);
            position: relative;
            display: inline-block;
            transition: 400ms;
            &:after {
                content: "";
                position: absolute;
                bottom: -18px;
                width: 100%;
                height: 2px;
                background: var(--postx-primary-color);
                left: 0;
                opacity: 0;
            }
        }
        &.current a {
            color: var(--postx-primary-color);
            &:after {
                opacity: 1;
            }
        }
    }
}
.ultp-settings-tab li a:active, 
.ultp-settings-tab li a:focus {
	outline: none;
	box-shadow: none;
	border: none;
}
@media only screen and (max-width: 1350px) {
	.ultp-settings-tab li{
		margin: 0px 10px 0 0;
	}
    .ultp-design-search-wrapper .ultp-design-search-input {
        min-width: 220px;
    }
}
@media only screen and (max-width: 1250px) {
	.ultp-settings-tab li a:after {
        bottom: -2px;
        height: 2px;
	}
    .ultp-design-search-wrapper {
        display: none;
    }
}

//header faq dropdown
ul:has(.ultp-dash-faq-icon) {
	position: relative;
}
.ultp-dash-faq-con {
	height: 100%;
    border-left: 1px solid var(--postx-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.ultp-dash-faq-icon {
	height: auto;
    width: auto;
    font-size: 35px;
	cursor: pointer;
}
.dash-faq-container {
	// display: none;
    a {
        text-decoration: none;
        font-size: 14px;
        color: #575a5d;
        display: flex;
        gap: 8px;
        align-items: center;
        width: -webkit-fill-available;
        padding-right: 32px;
        &:focus {
            box-shadow: none;
        }
        .dashicons {
            padding-top: 2px;
        }
        &:hover {
            color: $postxPrimaryColor;
        }
    }
    & {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 25px;
        position: absolute;
        right: 20px;
        top: 70px;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(8, 68, 129, 0.2);
        background-color: #fff;
        z-index: 1;
        &::before {
            content: "";
            content: "\f142";
            position: absolute;
            right: 0px;
            top: -29px;
            font: normal 42px dashicons;
            color: #fff;
        }
    }
}
//Multiselection in settings
.ultp-ms-container {
    position: relative;
    .ultp-ms-results-con {
        min-height: 30px;
        max-width: 100%;
        border: $inputBorder;
        border-radius: $inputRadius;
        color: $inputColor;
        padding: 8px 14px;
        background-color: $inputBg;
        margin-bottom: 3px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        .ultp-ms-results {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            .ultp-ms-selected {
                padding: 4px 8px;
                border-radius: 2px;
                background-color: #7c8084;
                color: #fff;
                display: inline-flex;
                align-items: center;
                gap: 6px;
                .ultp-ms-remove {
                    height: 16px;
                    width: 14px;
                    &:hover {
                        svg {
                            fill: $postxPrimaryColor;
                        }
                    }
                    svg {
                        fill: #fff;
                    }
                }
            }
        }
        .ultp-ms-results-collapse {
            height: 12px;
            width: 12px;
            display: inline-block;
        }
    }
    .ultp-ms-options {
        display: flex;
        flex-direction: column;
        gap: 5px;
        z-index: 1;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        margin-top: 4px;
        border: $inputBorder;
        box-shadow: $iteConShadow;
        border-radius: $inputRadius;
        color: $inputColor;
        padding: 8px 14px;
        background-color: $inputBg;
        margin-bottom: 3px;
        
        .ultp-ms-option {
            padding: 4px 8px;
            border-radius: 2px;
            &:hover {
                background-color: #7c8084;
                color: #fff;
            }
        }
    }
}

// Radio Button Style
.ultp-field-radio  {
    .ultp-field-radio-items {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        input[type=radio]:checked::before  {
            background-color:  $postxPrimaryColor;
        }
    }
}

// Modal 
.ultp-dashboard-modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    background: rgba(0, 0, 0, .35);
    .ultp-dashboard-modal {
        width: fit-content;
        background: #fff;
        max-width: 90%;
        max-height: 80%;
        overflow: hidden;
    }
    .ultp-modal-header {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 20px 0;
        background: #e3f1ff;
        position: relative;
        .ultp-modal-title {
            font-size: 1.2rem;
            font-weight: 600;
            color: $headingColor;
        }
        .ultp-popup-close {
            position: absolute;
            top: -3px;
            right: 0;
            color: $postxWHite;
            font-size: 25px;
            cursor: pointer;
            border: none;
            padding: 0px 9px 3px;
            background-color: $postxBlack;
            z-index: 99;
            &::after {
                content: "\00d7";
            }
            &:hover {
                background: #ff0000;
            }
        }
    }
    .ultp-modal-body {
        padding: 20px;
        iframe {
            max-width: 100%;
            max-height: 100%;
        }
    }
}