$fontFamily : '';
$descpSize : 14px;
$bodySize : 14px;

$h1Size : var(--postx-h1-fontsize);
$h2Size : var(--postx-h2-fontsize);
$h3Size : var(--postx-h3-fontsize);
$h4Size : var(--postx-h4-fontsize);
$h5Size : var(--postx-h5-fontsize);
$h6Size : var(--postx-h6-fontsize);
$h1Weight : var(--postx-h1-weight);
$h2Weight : var(--postx-h2-weight);
$h3Weight : var(--postx-h3-weight);
$h4Weight : var(--postx-h4-weight);
$h5Weight : var(--postx-h5-weight);
$h6Weight : var(--postx-h6-weight);

$headingColor : #091F36;
$headingWeight : bold;

$settingConWidth : 1300px;

$postxPrimaryColor : var(--postx-primary-color);
$postxWHite : var(--postx-white-color);
$postxBlack : var(--postx-dark-color);
$postxRadius : 4px;

$itemConBg : #fff;
$itemConRadius : 4px;
$itemConPadding : 25px;
$iteConShadow : 0 1px 2px 0 rgba(8, 68, 129, 0.2);

$formLabelSize : 14px; 
$formLabelColor : $headingColor;
$formLabelWeight : 500;

$dashBodyColor: #575A5D;
$dashBodyBg : #EEF0F6;
$dashBodyPadding : 40px 62px;
$dashBorderClr : #E1E6EB;
$upgradeBtnColor : #fff;
$upgradeBtnBg : linear-gradient(180deg, #ff9336, transparent) #de521e;

$btnRadius : 4px;
$btnPadding : 10px 25px;
$btnPaddingMd : 10px;
$btnSize : 14px;

$primaryBtnColor : #fff;
$primaryBtnBg : linear-gradient(180deg, #399AFF, transparent) #004fd0;
$primaryBtnBorder : none;

$secondaryBtnColor : $headingColor;
$secondaryBtnBg : linear-gradient(180deg, #dee5fa, transparent) #f4f9fc;;
$secondaryBtnBorder : 1px solid rgb(3 127 255 / 10%);

$proLockColor : #f78430;
$proLockSize : 30px;

$inputRadius : 4px;
$inputColor : #000;
$inputBorder : 1px solid #eaedf2;
$inputHeight : 36px;
$inputBg : #fff;
$inputPadding : 0px 13px 0px;
$inputDescpSize : 12px;
$inputDescpColor : #575a5d;
$inputDescpStyle : italic;
$inputBorderColor: #eaedf2;

$dashPopBg : #fff;
$dashPopPadding : 40px 100px;
$dashPopWidth : 300px;

$dashAddonsSettingsWidth : 600px;
