.ultp-filter-block {
    display: flex;
    flex-wrap: wrap;

    // .block-list-appender {
    //     position: static;
    //     align-self: center;
    //     margin-left: 50px !important;
    // }
}
