
.wp-block-ultimate-post-post_share .ultp-post-share .ultp-post-share-layout {
  display: flex;
  align-items: center;
  &:is(.remove-sticky) {
    position: absolute;
    bottom: unset;
    top: unset;
    left: unset;
    right: unset;
  }
  .ultp-post-share-item {
    display: block;
    margin: 5px;
  }
}
.ultp-post-share-item  {
  height: fit-content;
    a {
      display: flex !important;
      align-items: center;   
      line-height: 0px;
      text-decoration: none !important;
      border-radius: 5px;
      &:hover {
        span {
          color: #ddd;
        }
        svg {
          fill: #ddd;
        }
      }
      svg {
        height: 20px;
        width: 20px; 
      }
    }
}
.ultp-post-share-item-label  {
  color: white ;
  white-space: nowrap;
  margin: 0 0 0 8px!important
}
.ultp-share-more-section {
  display: -webkit-inline-box;
  height: fit-content;
  a {
    display: block;
    margin-right: 5px;
  }
  img{
    width: 30px;
  }
}
.ultp-post-share-count-section {
  width: fit-content;
  height: fit-content;
  word-break: normal;
  margin-right: 15px;
}
.ultp-post-share-item-icon {
  svg {
    fill: #fff;
  }
  img {
    height: 25px;
    width: 25px;
    margin-right: 8px;
  }
}
.ultp-post-share-icon-section {
  img{
    width: 23px;
  }
}
.ultp-sort-items .components-base-control {
    margin-bottom: unset;
}
.ultp-post-share .block-editor-block-list__block{
  display: flex;
  width: unset !important;
}
.ultp-post-share .block-editor-block-list__block:empty {
  display: none;
}
// .hide_item { // html not found
//   display: none !important;
// }

.ultp-post-share-item-inner-block {
  display: block;
  flex-wrap: wrap;
  height: fit-content;
}
.ultp-post-share-count-section-style1, .ultp-post-share-count-section-style3 {
  position: relative;
  text-align: center; 
  padding: 2.5px 23.2px 5.5px 14px;
  border: solid 1px #070c1a;
  border-radius: 11px;
  span {
    display: block;
  }
}
.ultp-post-share-count-section-style1 {
  &::after {
    content: " ";
    height: 15px;
    width: 15px;
    display: inline-block;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(44deg);
    position: absolute;
    top: 40%;
    right: -9px;
  }
}
.ultp-post-share-count-section-style2 {
  line-height: 0;
}
.ultp-post-share-count-section-style3 {
  border-radius: 2px !important;
  border: none !important;
  &::after {
    border-color: transparent !important;
  }
}
.ultp-post-share-count-section-style3 {
  margin-bottom: 10px;
}
.ultp-post-share-count-section-style4 {
  &::after {
    display: none;
  }
  span:not(:last-child) {
    margin-right: 10px;
  }
}
.ultp-inline-false {
  display: inline-block !important;
  .ultp-post-share-item {
    width: fit-content;
  }
}
.ultp-inline-false {
  .ultp-post-share-count-section-style1:after {
    right: 40%;
    bottom: -9px;
    transform: rotate(136deg);
    top: auto;
  }
  .ultp-post-share-count-section-style1 {
    margin-bottom: 15px;
  }
}
.ultp-inline-true .ultp-post-share-item-inner-block {
    display: flex !important;
}
.rtl {
  .ultp-inline-true {
    .ultp-post-share-count-section-style1::after  {
      border-bottom: 1px solid #000;
      border-top: none;
      border-right: none;
      border-left: 1px solid #000;
      left: -9px;
      right: auto;
    }
  }
  .ultp-post-share-item-label {
    margin: 0 8px 0 0!important;
  }
  .ultp-inline-false { 
    .ultp-post-share-count-section-style1:after {
      border-right: 1px solid #000 ;
      border-top: 1px solid #000;
    }
  }
}