.wp-block-ultimate-post-post-grid-7 {
    .ultp-block-row {
        &.ultp-layout1 {
            grid-template-columns: 40%  30% 1fr;
            .ultp-block-item {
                &:first-child {
                    grid-column-start: 1;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
                &:nth-child(2) {
                    grid-column-start: 2;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
            }
        }
        &.ultp-layout2 {
            grid-template-columns: 40%  32% 1fr;
        }
        &.ultp-layout3 {
            grid-template-columns: 1fr 45% 1fr;
        }
        &.ultp-layout4 {
            grid-template-columns: 40%  30% 1fr;
            .ultp-block-item {
                &:first-child {
                    grid-column-start: 1;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
                &:nth-child(4) {
                    grid-column-start: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .wp-block-ultimate-post-post-grid-7 {
        .ultp-block-row {
            max-height: 100% !important;
            &.ultp-layout1,
            &.ultp-layout2,
            &.ultp-layout3 {
                grid-template-columns: 1fr;
                .ultp-block-item {
                    max-height: 100% !important;
                    .ultp-block-content-overlay {
                        height: 100% !important;
                    }
                    &:first-child {
                        grid-column-start: initial;
                        grid-row-start: initial;
                        grid-row-end: initial;
                        min-height: 100%;
                    }
                    &:nth-child(2) {
                        grid-column-start: initial;
                        grid-row-start: initial;
                        grid-row-end: initial;
                        min-height: 100%;
                    }
                }
            }
            &.ultp-layout4 {
                grid-template-columns: 1fr;
                .ultp-block-item {
                    &:first-child {
                        grid-column: 1;
                        grid-row: 1;
                        min-height: 100%;
                    }
                    &:nth-child(4) {
                        grid-column: 1;
                        grid-row: 2;
                        min-height: 100%;
                    }
                }
            }
        }
    }
}
