.wp-block-ultimate-post-social {
    position: relative;
    width: 100%;
    transition: .3s;
    &:hover {
        transition: .3s;
    }
    .ultp-social-content{
        display: flex;
        height: 100%;
        align-items: center;
        text-decoration: none;
        transition: 0.3s;
        cursor: pointer;
        text-decoration: none;
    }
}
.block-editor-block-list__block li.wp-block-ultimate-post-social {
    height: 100%;
}