
.wp-block-ultimate-post-post-list-1,
.wp-block-ultimate-post-post-list-2,
.wp-block-ultimate-post-post-list-3,
.wp-block-ultimate-post-post-list-4 {
    .ultp-block-meta  {
        span {
            margin-bottom: 5px;
        }
    }
}

.wp-block-ultimate-post-post-list-1 {
    .ultp-block-content-wrap  {
        height: 100%;
    }
    .ultp-block-image {
        display: inline-block;
    }
    .ultp-block-content-wrap {
        box-sizing: border-box;
        .ultp-block-entry-content {
            line-height: 0;
        }
    }
}

.ultp-post-list1-layout2,
.ultp-post-list1-layout3,
.ultp-post-list1-layout4 {
    .ultp-block-content-wrap {
        transition: 400ms;
        overflow: visible;
    }
    .ultp-block-entry-content {
        position: relative;
        overflow: inherit;
        height:fit-content;
    }
    .ultp-block-item {
        margin-top: 30px;
    }
    .ultp-block-entry-heading {
        padding: 20px;
        position: absolute;
        top: -30px;
        width: 100%;
        z-index: 2;
        margin: 0 auto;
        transition: 400ms;
        height:fit-content;
    }
}

// Layout One
.ultp-post-list1-layout1 {
    .ultp-block-entry-heading {
        padding-bottom: 0px !important;
    }
}
// Layout Two
.ultp-post-list1-layout2 {
    .ultp-block-entry-heading {
        left: 30px;
        right: auto;
    }
}

// Layout Three
.ultp-post-list1-layout3 {
    .ultp-block-entry-heading {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
}

// Layout Three
.ultp-post-list1-layout4 {
    .ultp-block-entry-heading {
        left: auto;
        right: 30px;
    }
}

// Layout & Style Commone Css
.ultp-post-list1-layout1 {
    &.ultp-pl1a-style1, 
    &.ultp-pl1a-style2,
    &.ultp-pl1a-style3 {
        .ultp-block-item { 
            .ultp-block-content {
                padding-top: 0px !important;
            }
        }
    }
    &.ultp-pl1a-style3 {
        .ultp-block-item { 
            &:first-child {
                .ultp-block-entry-heading {
                    padding-bottom: 0px !important;
                }
            }
        }
    }
}

// layout 2, 3, 4 and style 3 css reset
.ultp-pl1a-style3.ultp-post-list1-layout2, 
.ultp-pl1a-style3.ultp-post-list1-layout3, 
.ultp-pl1a-style3.ultp-post-list1-layout4 {
    .ultp-block-item {
        &:first-child {
            margin-top: 0px !important;
            .ultp-block-entry-heading {
                top: auto !important;
            }
        }
        &:not(:first-child) {
            .ultp-block-content {
                // padding-top: 0px !important;
            }
        }
    }
}

//style1
.ultp-pl1a-style2,
.ultp-pl1a-style3 {
    &.ultp-block-column-2 {
        .ultp-block-item {
            &:first-child {
                grid-column: 1 / 3;
                -ms-grid-row: 1;
                grid-row: 1;
            }
        }
    }
    &.ultp-block-column-3 {
        .ultp-block-item {
            &:first-child {
                grid-column: 1 / 4;
                grid-row: 1;
            }
        }
    }
    &.ultp-block-column-4 {
        .ultp-block-item {
            &:first-child {
                grid-column: 1 / 5;
                grid-row: 1;
            }
        }
    }
    &.ultp-block-column-5 {
        .ultp-block-item {
            &:first-child {
                grid-column: 1 / 6;
                grid-row: 1;
            }
        }
    }
}

@media (max-width: 768px) {
    .ultp-pl1a-style2.ultp-block-column-2 .ultp-block-item:first-child,
    .ultp-pl1a-style2.ultp-block-column-3 .ultp-block-item:first-child,
    .ultp-pl1a-style2.ultp-block-column-4 .ultp-block-item:first-child,
    .ultp-pl1a-style2.ultp-block-column-5 .ultp-block-item:first-child,
    .ultp-pl1a-style3.ultp-block-column-2 .ultp-block-item:first-child,
    .ultp-pl1a-style3.ultp-block-column-3 .ultp-block-item:first-child,
    .ultp-pl1a-style3.ultp-block-column-4 .ultp-block-item:first-child,
    .ultp-pl1a-style3.ultp-block-column-5 .ultp-block-item:first-child  {
        grid-column: 1 / 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }
    // .wp-block-ultimate-post-post-grid-1, // post grid 1 column count responsive conflict
    .wp-block-ultimate-post-post-grid-3 {
        .ultp-block-row.ultp-block-items-wrap{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .wp-block-ultimate-post-post-grid-1 .ultp-block-column2 .ultp-block-item:first-child,
    .wp-block-ultimate-post-post-grid-1 .ultp-block-column3 .ultp-block-item:first-child,
    .wp-block-ultimate-post-post-grid-3 .ultp-block-column2 .ultp-block-item:first-child,
    .wp-block-ultimate-post-post-grid-3 .ultp-block-column3 .ultp-block-item:first-child {
        grid-column: 1 / 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }
}

.rtl .ultp-block-meta span svg {
    margin-right: 0px;
    margin-left: 5px;
}