.wp-block-ultimate-post-column {
    position: relative;
    height: max-content;
    width: 100%;
    min-width: 0; // for slider 2 Wrap Issue
    & > .ultp-column-wrapper {
        height: 100%;
        position: relative;
        // z-index: 0; column overlay issues
        transition: .3s;
        .block-editor-inner-blocks, .block-editor-block-list__layout {
            height: 100%;
        }
    } 
    .ultp-column-overlay {
        z-index: -1;
    }
    .ultp-column-link {
        position: absolute;
        top: 0px;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }
}   
.ultp-row-content {
    .ultp-column-wrapper {
        & > * {
            max-width: 100%;
        }
    }
}