.ultp-filter-clear {
    transition: background-color 200ms ease-in-out;

    &.ultp-filter-clear {
        margin-inline: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .ultp-clear-button {
        text-align: center;
        margin: 0px !important;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}

.ultp-selected-filter {
    transition: background-color 200ms ease-in-out;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &-text {
        flex-grow: 1;
        user-select: none;
        word-wrap: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-icon {
        cursor: pointer;
    }
}