// custom category
.ultp-cat-only-color-true,
.ultp-cat-only-color-1 {
    padding: 2px 8px;
}


.ultp-block-post-module1 {
    margin: 0 -15px;
    clear: both;
    display: inline-block;
    .ultp-big-post-module1,
    .ultp-small-post-module1 {
        width: 50%;
        float: left;
        padding: 0 15px;
        box-sizing: border-box;

    } 
    &.ultp-block-content-true {
        .ultp-big-post-module1,
        .ultp-small-post-module1 {
            float: right;
        }
    }
    &.ultp-layout2 {
        .ultp-small-post-module1 {
            .ultp-block-item {
                .ultp-block-content-wrap {
                    flex-direction: row-reverse;
                }
            }
        }
    }
}

.ultp-small-post-module1 {
    .ultp-block-item {
        .ultp-block-content-wrap {
            display: flex !important;
            position: relative;
        }
    }
}
.ultp-layout1 {
    .ultp-small-post-module1 {
        .ultp-block-item {
            .ultp-block-image {
                margin-right: 0 !important;
                margin-left: 0!important;
            }
        }
    }      
}
.wp-block-ultimate-post-post-module-1 {
    counter-reset: post-list2-counter;
    .ultp-block-image {
        transition: .3s;
    }
    .ultp-block-content-wrap .ultp-block-image {
        height: fit-content;
    }
    .ultp-layout4 {
        .ultp-small-post-module1 {
            .ultp-block-content {
                position: relative;
                &::before {
                    counter-increment: post-list2-counter;
                    content: counter(post-list2-counter, decimal);
                    position: absolute;
                    font-size: 18px;
                    text-align: center;
                    left: 0;
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    font-style: italic;
                    background: #eee;
                    padding: 10px;
                    border-radius: 100%;
                    box-sizing: content-box;
                    -webkit-transition: all .3s;
                    -o-transition: all .3s;
                    transition: all .3s;
                }
            }
        
            .ultp-block-item {
                .ultp-block-image {
                    margin-right: 0;
                    margin-left: 0;
                }
                .ultp-block-content {
                    padding-left: 60px;
                    position: relative;
                }
            }
        }
    }

    .ultp-layout5 {
        .ultp-small-post-module1 {
            .ultp-block-item {
                position: relative;
                &::before {
                    counter-increment: post-list2-counter;
                    content: counter(post-list2-counter, decimal);
                    display: block;
                    width: 35px;
                    height: 35px;
                    position: absolute;
                    z-index: 2;
                    top: 10px;
                    left: -15px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 31px;
                    border: 2px solid #ffffff;
                    background: #000;
                    color: #fff;
                    border-radius: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .ultp-block-post-module1 .ultp-big-post-module1, 
    .ultp-block-post-module1 .ultp-small-post-module1 {
        width: 100%;
    }
    .ultp-block-post-module1 .ultp-big-post-module1 {
        margin-bottom: 30px;
    }
}

.ultp-small-post-module1 .ultp-block-content{
    width: 100%;
}

// rtl
.rtl .wp-block-ultimate-post-post-module-1 .ultp-layout5 .ultp-small-post-module1 .ultp-block-item::before {
    right: -15px;
}
.rtl .wp-block-ultimate-post-post-module-1 .ultp-layout4 .ultp-small-post-module1 .ultp-block-item .ultp-block-content {
    padding-right: 60px;
    padding-left: 0;
}
.rtl .wp-block-ultimate-post-post-module-1 .ultp-layout4 .ultp-small-post-module1 .ultp-block-content::before {
    right: 0;
}