.ultp-author-box{
  box-sizing: border-box;
  width: 100%;
  img {
    display: inline-block !important;
  }
}
.ultp-post-author-image {
  display: inline !important;
}
.ultp-post-author-title {
  display: block;
  span:first-child {
    margin-right: 5px;
  }
}
.ultp-post-author-name {
  margin: 0px !important;
  a {
    text-decoration: none;
    transition: 400ms;
    &:hover {
      text-decoration: none;
    }
  }
}
.ultp-post-author-meta {
  display: block;
  span:first-child {
    margin-right: 5px;
  }  
}
.ultp-author-box-layout2-content, 
.ultp-author-box-layout4-content{
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
}
.ultp-author-box-layout4-content {
  grid-template-columns: auto max-content !important;
}
.ultp-author-box-layout4-content {
  .ultp-post-author-details {
    text-align: right;
  }
}