.wp-block-ultimate-post-post-category  {
    .cat-builder-content {
        display: flex;
        align-items: center;
        // row-gap: 6px;
        flex-wrap: wrap;
        column-gap: 3px;
    }
    .ultp-builder-category {
        // row-gap: 5px;
    }
}
.wp-block-ultimate-post-post-category  .cat-builder-content {
    a {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}