.wp-block-ultimate-post-post-slider-2  {  
    .ultp-wrapper-pro {
        position: relative;
        &::before{
            content: "";
            background: rgba(35, 37, 255, .2);
            width: 100%;
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: 4px;
            z-index: 9;
            pointer-events: none;
        }
    }
}


.wp-block-ultimate-post-post-slider-2 {
    .ultp-wrapper-pro {
        position: relative;
        &::before{
            height: calc(100% - 8px) !important;
        }
    }
    .ultp-pro-helper {
        background-color: #2728e4;
    }
    .slick-dots {
        margin: 0px !important;
    }
    .ultp-block-image  { /* layout 4 */
        height: 100%;
    }
    
    .ultp-block-content-inner {
        box-sizing: border-box;
    }
}

/* === Slider Style 1 === */
.ultp-slide-slide1 {
    .slick-slide {
        .ultp-block-slider-wrap > .ultp-block-content {
            transition: .3s all;
            opacity: 0;
        }
        .ultp-block-image-inner {
            transition: .3s all;
            opacity: 0.5;
        }
    }
    .slick-center {
        z-index: 999 !important;
        width: 800px;
        .ultp-block-slider-wrap > .ultp-block-content {
            transition: .3s all;
            opacity: 1;
        }
        .ultp-block-image-inner {
            opacity: 1;
            transition: .3s all;
        }
    }
}

/* === Slider Style 2 === */
.ultp-slide-slide2 {
    .ultp-block-slider-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        .ultp-block-content, .ultp-block-image-inner {
            position: static !important;
        }
    }
}

/* === Slider Style 3 === */
.ultp-slide-slide3 {
    .ultp-block-slider-wrap {
        .ultp-block-image-inner {
            height: auto;
        }
        .ultp-block-content {
            box-sizing: border-box;
        }
        .ultp-block-content, .ultp-block-image-inner {
            position: static !important;
        }
        .ultp-block-image {
            height: 100%;
        }
        .ultp-block-content-inner {
            height: 100%;
            width: 100%;
            .ultp-cat-new-world {
                position: relative;
                z-index: 999;
            }
        }
        .ultp-block-content {
            height: -webkit-fill-available;
        }
    }
}

/* === Slider Style 4 === */
.ultp-slide-slide4 { 
    .slick-slide{
        .ultp-block-content-inner {
            transition: all 0.4s ease-in-out;
            opacity: 0;
        }
    }
    .slick-center  {
        .ultp-block-content-inner {
            opacity: 1;
        }
    } 

}

/* === Slider Style 5 === */
.ultp-slide-slide5 { 
    .slick-slide {
        transition: all 0.4s ease-in-out;
    }
}

/* === Slider Pro Lock  Style === */
.ultp-pro-helper {
    text-align: center;
    font-size: 16px;
    // font-weight: 700;
    padding: 7px 27px;
    color: #fff;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            margin-right: auto;
        }
        a {
            color: #fff;
            text-decoration: underline;
            &:hover {
                color: #eee;
            }
        }
        .ultp-upgrade-pro {
            color: #ffca27 !important;
            margin-right: 20px;
            &:hover {
                color: #d4a619 !important;
            }
        }
    }
}

/* === Responsive Style === */
@media only screen and (max-width: 767px) {
    .ultp-slide-slide6 {
        .ultp-block-slider-wrap {
            height: -webkit-fill-available !important;
            & > .ultp-block-content, .ultp-block-content-inner {
                width: 100% !important;
            }
            & > .ultp-block-content, & > .ultp-block-image-inner, .ultp-block-content-inner {
                position: static !important;
                height: -webkit-fill-available !important;
            }
        }
        .slick-prev, .slick-next {
            left: unset !important;
            right: 0px !important;
        }
        .slick-prev  {
            right: 50px !important;
        }
    }
}