@mixin content-align( $elem:'block', $horizontal-align:'unset', $vertical-align:'unset') {
    display: $elem;
    justify-content: $horizontal-align;
    align-items: $vertical-align;
}
@mixin background-shape {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    content: "";
    z-index: 0;
    border-radius: 50%;
}
.ultp-block-nav {
    @include content-align(flex, space-between);
    .ultp-prev-title,
    .ultp-next-title {
        transition: 400ms;
        margin-bottom: 4px;
    }
    span {
        display: block;
        line-height: 0;
    }
    a {
        text-decoration: none;
        transition: 400ms;
        &:hover {
            text-decoration: none;
        }
    }
    .ultp-nav-block-prev {
        width:100%;
        justify-content:start;
        .ultp-nav-inside {
            justify-content:start;
        }
    }
    .ultp-nav-block-next {
        width:100%;
        justify-content:end;
        .ultp-nav-inside {
            justify-content:end;
        }
    }
    .ultp-nav-text-content {
        display: flex;
        flex-direction: column;
    }
    svg{
        height: auto;
    }
}
.ultp-nav-img,
.ultp-nav-inside,
.ultp-nav-inside-container {
    @include content-align(flex, unset, center);
}
.ultp-nav-img {
    img {
        max-width: 150px;
        max-height: 150px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    svg{
        width:30px;
    }
}
//================
//    layout 1
//================ 
.ultp-nav-next-style1,
.ultp-nav-next-style2 {
    text-align: right;
}
.ultp-nav-prev-style1,
.ultp-nav-next-style1{
    @include content-align(flex, unset, center);
    .ultp-nav-inside {
        display: block;
    }
    .ultp-nav-inside-container {
        @include content-align(flex, unset, center);
    }
}
//================
//    layout 2
//================ 
.ultp-nav-next-style2,
.ultp-nav-prev-style2 {
    .ultp-nav-inside {
        .ultp-nav-img {
            position: relative;
            @include content-align(flex ,center );
            &.ultp-npb-overlay {
                &::after {
                    @include background-shape;
                    background-color: rgba( 0, 0, 0, 0.6);
                }
                &:hover::after {
                    @include background-shape;
                    background-color: rgba(0, 0, 0, 0.75);
                }
            }
            img {
                border-radius: 50%;
            }
            .ultp-icon {
                position: absolute;
                z-index: 1;
                top:0;
                bottom: 0;
                @include content-align(flex , center, center );
            }
        }
    }
}
.ultp-nav-prev-style2,
.ultp-nav-next-style2 {
    .ultp-icon {
        svg {
            fill: #fff;
            transition: 400ms;
            &:hover {
                fill: #fff;
            }
        }
    }
}
//================
//    Layout 3
//================ 
.ultp-nav-next-style3,
.ultp-nav-prev-style3 {
    @include content-align(flex, unset, center);
    .ultp-nav-inside {
        display:block;
        .ultp-nav-text-content {
            display: flex;
            .ultp-next-prev-title {
                order: 3 !important;
            }
        }
    }
    .ultp-nav-date {
        order: 1;
    }
}
.ultp-nav-next-style3 {
    .ultp-nav-inside-container {
        justify-content:left;
    }
}

// Responsive CSS
@media only screen and (max-width: 600px) {
    .next-prev-img {
        flex-wrap: wrap;
    } 
}