.wp-block-ultimate-post-menu .ultp-menu-content > .block-editor-inner-blocks > .block-editor-block-list__layout,
.postx-page .wp-block-ultimate-post-menu .ultp-menu-wrapper > .ultp-menu-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .hasMenuParent > .ultp-menu-item-wrapper > .ultp-menu-item-label-container .ultp-menu-item-label-text {
        white-space: nowrap !important;
    }
}
.postx-page .wp-block-ultimate-post-menu .ultp-menu-wrapper > .ultp-menu-content,
.ultp-menu-content > .block-editor-inner-blocks > .block-editor-block-list__layout {
    & > .wp-block-ultimate-post-menu-item,  & > .block-editor-block-list__block {
        height: auto !important;
        & >  .wp-block-ultimate-post-menu-item {
            height: 100%;
        }
        & > .ultp-menu-item-wrapper, & >  .wp-block-ultimate-post-menu-item > .ultp-menu-item-wrapper {
            height: 100%;
            & > .ultp-menu-item-label-container {
                height: 100%;
                box-sizing: border-box;
            }
        }
    }
}
.ultp-menu-wrapper {
    &._left > .ultp-menu-content {
        margin-right: auto;
        justify-content: start;
        & > .block-editor-inner-blocks > .block-editor-block-list__layout {
            justify-content: start;
        }
    }
    &._center > .ultp-menu-content {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        & > .block-editor-inner-blocks > .block-editor-block-list__layout {
            justify-content: center;
        }
    }
    &._right > .ultp-menu-content {
        margin-left: auto;
        justify-content: end;
        & > .block-editor-inner-blocks > .block-editor-block-list__layout {
            justify-content: end;
        }
    }
}
.wp-block-ultimate-post-menu {
    &:has(> .ultp-menu-wrapper._left) .ultp-mv-ham-icon {
        margin-right: auto;
    }
    &:has(> .ultp-menu-wrapper._center ) .ultp-mv-ham-icon {
        margin-left: auto;
        margin-right: auto;
    }
    &:has(> .ultp-menu-wrapper._right ) .ultp-mv-ham-icon {
        margin-left: auto;
    }
    .ultp-mv-ham-icon {
        width: fit-content;
    }
}
.ultp-menu-content {
    width: fit-content;
    & > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender {
        right: -34px;
    }
}

.wp-block-ultimate-post-menu-item > .ultp-menu-item-wrapper > .ultp-menu-item-content > .block-editor-inner-blocks {
    display: none;
}
.wp-block-ultimate-post-menu-item {
    height: auto;
    cursor: pointer;
    position: relative;
    & > .ultp-menu-item-wrapper > .ultp-menu-item-content > .block-editor-inner-blocks {
        position: absolute;
        width: max-content;
        z-index: 9;
    }
}
.ultp-menu-wrapper .wp-block.is-selected    > .wp-block-ultimate-post-list-menu > .ultp-list-menu-wrapper > .ultp-list-menu-content > .block-editor-inner-blocks,
.ultp-menu-wrapper .wp-block.has-child-selected > .wp-block-ultimate-post-list-menu > .ultp-list-menu-wrapper > .ultp-list-menu-content > .block-editor-inner-blocks {
    display: block;
}
.ultp-menu-wrapper .wp-block.is-selected  > .wp-block-ultimate-post-menu-item > .ultp-menu-item-wrapper > .ultp-menu-item-content > .block-editor-inner-blocks,
.ultp-menu-wrapper .wp-block.has-child-selected > .wp-block-ultimate-post-menu-item > .ultp-menu-item-wrapper > .ultp-menu-item-content > .block-editor-inner-blocks {
    display: block;
}


// frontend
.postx-page {
    .wp-block-ultimate-post-menu-item > .ultp-menu-item-wrapper > .ultp-menu-item-content {
        visibility: hidden;
        opacity: 0;
        transform: translateY(20px);
        pointer-events: none;
        transition-property: opacity, visibility, transform;
        transition-timing-function: ease-in;
        transition-duration: 0.28s;
        z-index: -99;
        & > * { // carefully handle
            height: 0;
            overflow: hidden;
        }
    }
    .wp-block-ultimate-post-menu:is(:not(.ultp-mobile-menu)) .wp-block-ultimate-post-menu-item:hover {
        z-index: 999;
    }
    .wp-block-ultimate-post-menu:is(:not(.ultp-mobile-menu)) .wp-block-ultimate-post-menu-item:hover > .ultp-menu-item-wrapper > .ultp-menu-item-content {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        pointer-events: visible;
        z-index: 0;
        & > * { // carefully handle
            height: unset;
            overflow: unset;
        }
    }
    .wp-block-ultimate-post-menu-item {
        height: fit-content;
        cursor: pointer;
        position: relative;
        z-index: 0;
        & > .ultp-menu-item-wrapper > .ultp-menu-item-content {
            position: absolute;
            width: max-content;
            z-index: 1;
            &::before {
                content: "";
                position: absolute;
                min-height: 100%;
                min-width: 100%;
                background: transparent;
                // background: red;
                z-index: -4;
            }
        }
    }
}
.ultp-mega-menu-wrapper {
    cursor: auto;
    box-sizing: border-box;
}
.ultp-menu-item-label-container {
    justify-content: space-between;
    a.ultp-menu-item-label {
        text-decoration: none !important;
    }
}
.ultp-mobile-view-container {
    .ultp-mv-icons {
        display: none;
    }
}
.ultp-mv-ham-icon {
    cursor: pointer;
    display: none;
}
.wp-block {
    &[data-type="ultimate-post/menu-item"],
    &[data-type="ultimate-post/list-menu"],
    &[data-type="ultimate-post/mega-menu"]
    {
        margin: 0 !important;
    }
}
.ultp-menu-content,
.ultp-menu-content > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block
{
    & > .wp-block-ultimate-post-menu-item > .ultp-menu-item-wrapper > .ultp-menu-item-label-container {
        &:not(:has(.ultp-menu-item-dropdown > svg)) {
            gap: 0px;
        }
    }
}
// Column block comp
.wp-block-ultimate-post-column >.ultp-column-wrapper > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block[data-type="ultimate-post/menu"] {
    width: 100%;
}