.wp-block-ultimate-post-list-menu .ultp-list-menu-content > .block-editor-inner-blocks > .block-editor-block-list__layout,
.postx-page .wp-block-ultimate-post-list-menu .ultp-list-menu-content {
    display: flex;
    flex-direction: column;
}