/* =========================
	Post Builder Container CSS
============================ */
.ultp-builder-container {
    margin: 0 auto;
    &.ultp-widget-right {
        display: grid;
        grid-column-gap: 30px;
        grid-template-columns: 70% auto;
    }
    &.ultp-widget-left {
        display: grid;
        grid-column-gap: 30px;
        grid-template-columns: auto 70%;
    }
    .alignfull {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: 100vw;
        max-width: 100vw;
        left: 0;
        right: 0;
    }
}
@media (max-width: 992px) {
    .ultp-builder-container {
        &.ultp-widget-right, 
        &.ultp-widget-left {
            grid-template-columns: 100%;
            grid-row-gap: 40px;
        }
        .ultp-sidebar-left{
            grid-row: 2;
        }
    }
}
/* =========================
	Pro Plugins Progressbar style
============================ */
.ultp-progressbar-top,
.elementor-editor-active .ultp-progressbar-top{
	top: 0;
    left: 0;
}
.admin-bar .ultp-progressbar-top{
	top: 32px;
}
.ultp-progressbar-bottom{
	bottom: 0;
    left: 0;
}

.wp-block-ultimate-post-post-grid-1 .ultp-block-image {
    // display: inline-block;
    display: block; // Small Image Alingment 
    width: fit-content; // small image radius issue
}

// Interapt with image width issue
// Interapt With post grid 1/ post list 1 
// .ultp-block-image {
    // width: 100%; //Image Alingment
// }

//style1
.ultp-pg1a-style2 {
    &.ultp-block-column-2 {
        .ultp-block-item {
            &:first-child {
                grid-column: 1 / 3;
                -ms-grid-row: 1;
                grid-row: 1;
            }
        }
    }
    &.ultp-block-column-3 {
        .ultp-block-item {
            &:first-child {
                grid-column: 1 / 4;
                grid-row: 1;
            }
        }
    }
    &.ultp-block-column-4 {
        .ultp-block-item {
            &:first-child {
                grid-column: 1 / 5;
                grid-row: 1;
            }
        }
    }
    &.ultp-block-column-5 {
        .ultp-block-item {
            &:first-child {
                grid-column: 1 / 6;
                grid-row: 1;
            }
        }
    }
}

//style2
.ultp-pg1a-style3 {
    .ultp-block-item {
        &:nth-child(1) {
            grid-column: 1 / 3;
            grid-row: 1;
        }
        &:nth-child(4) {
            grid-column: 1 / 3;
            grid-row: 3;
        }
        &:nth-child(7) {
            grid-column: 1 / 3;
            grid-row: 5;
        }
        &:nth-child(10) {
            grid-column: 1 / 3;
            grid-row: 7;
        }
        &:nth-child(13) {
            grid-column: 1 / 3;
            grid-row: 9;
        }
        &:nth-child(16) {
            grid-column: 1 / 3;
            grid-row: 11;
        }
        &:nth-child(19) {
            grid-column: 1 / 3;
            grid-row: 13;
        }
        &:nth-child(22) {
            grid-column: 1 / 3;
            grid-row: 15;
        }
        &:nth-child(25) {
            grid-column: 1 / 3;
            grid-row: 17;
        }
        &:nth-child(28) {
            grid-column: 1 / 3;
            grid-row: 19;
        }
        &:nth-child(31) {
            grid-column: 1 / 3;
            grid-row: 21;
        }
        &:nth-child(34) {
            grid-column: 1 / 3;
            grid-row: 23;
        }
    }
}

//style 4
.ultp-pg1a-style4 {
    grid-template-columns: repeat(6,1fr) !important;
    .ultp-block-item {
        &:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        &:nth-child(2) {
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        &:nth-child(3) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &:nth-child(4) {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &:nth-child(5) {
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &:nth-child(6) {
            grid-column: 1 / 3;
            grid-row: 3;
        }
        &:nth-child(7) {
            grid-column: 3 / 5;
            grid-row: 3;
        }
        &:nth-child(8) {
            grid-column: 5 / 7;
            grid-row: 3;
        }
        &:nth-child(9) {
            grid-column: 1 / 3;
            grid-row: 4;
        }
        &:nth-child(10) {
            grid-column: 3 / 5;
            grid-row: 4;
        }
        &:nth-child(11) {
            grid-column: 5 / 7;
            grid-row: 4;
        }
        &:nth-child(12) {
            grid-column: 1 / 3;
            grid-row: 5;
        }
        &:nth-child(13) {
            grid-column: 3 / 5;
            grid-row: 5;
        }
        &:nth-child(14) {
            grid-column: 5 / 7;
            grid-row: 5;
        }
        &:nth-child(15) {
            grid-column: 1 / 3;
            grid-row: 6;
        }
        &:nth-child(16) {
            grid-column: 3 / 5;
            grid-row: 6;
        }
        &:nth-child(17) {
            grid-column: 5 / 7;
            grid-row: 6;
        }
        &:nth-child(18) {
            grid-column: 1 / 3;
            grid-row: 7;
        }
        &:nth-child(19) {
            grid-column: 3 / 5;
            grid-row: 7;
        }
        &:nth-child(20) {
            grid-column: 5 / 7;
            grid-row: 7;
        }
        &:nth-child(21) {
            grid-column: 1 / 3;
            grid-row: 8;
        }
        &:nth-child(22) {
            grid-column: 3 / 5;
            grid-row: 8;
        }
        &:nth-child(23) {
            grid-column: 5 / 7;
            grid-row: 8;
        }
        &:nth-child(24) {
            grid-column: 1 / 3;
            grid-row: 9;
        }
        &:nth-child(25) {
            grid-column: 3 / 5;
            grid-row: 9;
        }
        &:nth-child(26) {
            grid-column: 5 / 7;
            grid-row: 9;
        }
        &:nth-child(27) {
            grid-column: 1 / 3;
            grid-row: 10;
        }
        &:nth-child(28) {
            grid-column: 3 / 5;
            grid-row: 10;
        }
        &:nth-child(29) {
            grid-column: 5 / 7;
            grid-row: 10;
        }
    }
}

// Min-width 992px media query removed for border removing in small devce
@media (min-width: 768px) {
    .ultp-block-column-1 div.ultp-block-item:last-child, 
    .ultp-block-column-2 div.ultp-block-item:nth-last-of-type(-n+2), 
    .ultp-block-column-3 div.ultp-block-item:nth-last-of-type(-n+3), 
    .ultp-block-column-4 div.ultp-block-item:nth-last-of-type(-n+4), 
    .ultp-block-column-5 div.ultp-block-item:nth-last-of-type(-n+5), 
    .ultp-block-column-6 div.ultp-block-item:nth-last-of-type(-n+6), 
    .ultp-block-column-7 div.ultp-block-item:nth-last-of-type(-n+7) {
        border: none!important;
    }
}

@media (max-width: 768px) {
    .ultp-pg1a-style2.ultp-block-column-2 .ultp-block-item:first-child,
    .ultp-pg1a-style2.ultp-block-column-3 .ultp-block-item:first-child,
    .ultp-pg1a-style2.ultp-block-column-4 .ultp-block-item:first-child,
    .ultp-pg1a-style2.ultp-block-column-5 .ultp-block-item:first-child {
        grid-column: 1 / 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }
    .ultp-pg1a-style3 {
        .ultp-block-item {
            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(7),
            &:nth-child(10),
            &:nth-child(13),
            &:nth-child(16),
            &:nth-child(19),
            &:nth-child(22),
            &:nth-child(25),
            &:nth-child(28),
            &:nth-child(31),
            &:nth-child(34) {
                grid-column-start: inherit;
                grid-column-end: inherit;
                grid-row-start: inherit;
                grid-row-end: inherit;
            }
        }
    }

    .ultp-pg1a-style4 {
        grid-template-columns: repeat(1,1fr) !important;
        .ultp-block-item {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(11),
            &:nth-child(12),
            &:nth-child(13),
            &:nth-child(14),
            &:nth-child(15),
            &:nth-child(16),
            &:nth-child(17),
            &:nth-child(18),
            &:nth-child(19),
            &:nth-child(20),
            &:nth-child(21),
            &:nth-child(22),
            &:nth-child(23),
            &:nth-child(24),
            &:nth-child(25),
            &:nth-child(26),
            &:nth-child(27),
            &:nth-child(28),
            &:nth-child(29) {
                grid-column-start: inherit;
                grid-column-end: inherit;
                grid-row-start: inherit;
                grid-row-end: inherit;
            }
        }
    }
}

.ultp-block-column-1 .ultp-block-item:last-of-type  {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}


.wp-block-ultimate-post-post-grid-1 {
    .ultp-block-item:last-child {
        border: 0px;
    }
    .ultp-layout2 {
        .ultp-block-content {
            padding: 20px;
            position: relative;
        }
        .ultp-block-content-wrap {
            height: 100%;
            position: relative;
            .ultp-block-content-image {
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center top;
                background-size: cover;
                background-color: rgba(0,0,0,0.2);
                z-index: 0;
                opacity: 0;
                transition: 400ms;
                &:before {
                    position: absolute;
                    content: "";
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.5);
                    transition: 400ms;
                }
            }
            &:hover {
                .ultp-block-content-image {
                    opacity: 1;
                } 
                .ultp-block-excerpt,
                .ultp-block-content .ultp-block-title a,
                .ultp-block-meta span,
                .ultp-block-meta span a,
                .ultp-block-readmore a {
                    color: #fff;
                }
                .ultp-block-meta span svg,
                .ultp-block-readmore a svg {
                    fill: #fff;
                }
            }
        }
    }
    .ultp-layout3,
    .ultp-layout4,
    .ultp-layout5 {
        .ultp-block-content-wrap {
            .ultp-block-content {
                margin: -110px auto 0;
                max-width: 85%;
                background: #fff;
                z-index: 1;
                position: relative;
                .ultp-category-grid {
                    display: inline-block;
                }
            }
        }
    }
    .ultp-layout4 {
        .ultp-block-content-wrap {
            clear: both;
            .ultp-block-content {
                float: left;
            }
        }
    }
    .ultp-layout5 {
        .ultp-block-content-wrap {
            clear: both;
            .ultp-block-content {
                float: right;
            }
        }
    }
    .ultp-layout3 {
        .ultp-block-content {
            padding: 0 20px;
        }
    }
}
.block-editor-page  {
    .ultp-heading-filter .ultp-filter-navigation {
        margin: auto 0 0 0px !important;
    }
}


/* =========================
	Post Grid Video modal Style 
============================ */
.modal_active {
    visibility: visible !important;
    .ultp-video-modal__Wrapper {
        transform: translate(-50%,-50%) !important;
        transition: all .3s;
        opacity: 1 !important;
    }
    .ultp-video-wrapper{
        visibility: visible !important;
    }
}
.ultp-video-modal {
    visibility: hidden;
    .ultp-embaded-video {
        position: relative;
    }
    .ultp-video-modal__Wrapper {
        height: auto;
        opacity: 0;
        transition: all .3s;
        margin: 0 auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-60%);
        -o-transform: translate(-50%,-60%);
        -ms-transform: translate(-50%,-60%);
        -moz-transform: translate(-50%,-60%);
        -webkit-transform: translate(-50%,-60%);
        z-index: 9999999;
        .ultp-video-modal__content {
            text-align: center;
            position: relative;
            padding: 40px 80px;
            background-color: #000;
            a {
                font-size: 17px!important;
                display: block;
                width: fit-content;
                margin: 0 auto 9px;
                &:hover {
                    text-decoration: underline;
                }
            }
            .ultp-video-wrapper{
                visibility: hidden;
            }
        }
    }
    .ultp-video-modal__overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.788);
        position: fixed;
        z-index: 9999;
        top: 10px;
        left: 0px;
        right: 0px;
    }  
    .ultp-video-close {
        line-height: 0px;
        cursor: pointer;
        position: fixed;
        top: 60px;
        right: 60px;
        z-index: 99999;
        transition: .3s;
        &::before {
            display: inline-block;
            content: "\00d7";  
            font-weight: 200;
        }
    }  
}
// Video Icon
.ultp-video-icon {
    cursor: pointer;
    position: absolute;
    z-index: 999;
    svg {
        transition: .3s;
        display: block;
    }
}
@media only screen and (max-width: 768px){
	.ultp-video-modal .ultp-video-modal__Wrapper .ultp-video-modal__content {
        padding: 15px 20px;
        a {
            font-size: 11px !important;
        }
    }
}

/* =========================
	Post Grid Video Modal Spinner
============================ */
.ultp-video-modal__content:has(.ultp-embaded-video) {
    .ultp-loader-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .ultp-popup-loader {
        position: absolute;
        top: 50%;
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 3px solid rgba(255,255,255,.3);
        border-radius: 50%;
        border-top-color: #fff;
        animation: loader 1s ease-in-out infinite;
        -webkit-animation: loader 1s ease-in-out infinite;
    }
    @keyframes loader {
        to { -webkit-transform: rotate(360deg); }
    }
    @-webkit-keyframes loader {
        to { -webkit-transform: rotate(360deg); }
    }
}

.ultp-not-found-message {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 15px 0px;
    color: var(--postx_preset_Contrast_1_color, #1e1e1e);
    border: 1px solid var(--postx_preset_Contrast_1_color, #1e1e1e);
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.postx-page .ast-container:has(.ultp-builder-container) {
    max-width: unset !important;
}

@mixin ultp-custom-meta-common {
    svg {
        width: auto;
        height: 12px;
        margin-right: 5px;
    }
}

.ultp-custom-meta-inline {
    @include ultp-custom-meta-common;
}

.ultp-custom-meta-block {
    @include ultp-custom-meta-common;
    flex-basis: 100%;
    padding: 0px;
}

.ultp-meta-author-no-link {
    cursor: text;
}