// content animation
.ultp-animation-slideup {
    .ultp-block-content {
        .ultp-block-content-inner {
            transition: 400ms;
            transform:translateY(0);
        }
    }
    &:hover {
        .ultp-block-content {
            .ultp-block-content-inner {
                transform:translateY(-10px);
            }
        }
    }
}
.ultp-animation-slidedown {
    .ultp-block-content {
        .ultp-block-content-inner {
            transition: 400ms;
            transform:translateY(0);
        }
    }
    &:hover {
        .ultp-block-content {
            .ultp-block-content-inner {
                transform:translateY(10px);
            }
        }
    }
}

.wp-block-ultimate-post-post-grid-5 {
    .ultp-block-row {
        grid-template-columns: 50% 1fr 1fr;
        &.ultp-layout1 {
            .ultp-block-item {
                &:first-child {
                    grid-column-start: 1;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    height: 100%;
                    .ultp-block-content-overlay {
                        height: 100%;
                    }
                }
                &:nth-child(2) {
                    grid-column-start: 2;
                    grid-column-end: 4;
                    grid-row: 2;
                }
            }
        }
        &.ultp-layout2 {
            .ultp-block-item {
                &:first-child {
                    grid-column-start: 1;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    .ultp-block-content-overlay {
                        height: 100%;
                    }
                }
                &:nth-child(2) {
                    grid-column-start: 2;
                    grid-column-end: 4;
                    grid-row: 1;
                }
            }
        }
        &.ultp-block-content-true.ultp-layout1 {
            grid-template-columns: 1fr 1fr 50%;
            .ultp-block-item {
                &:first-child {
                    grid-column-start: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
                &:nth-child(2) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row: 2;
                }
            }
        }
        &.ultp-block-content-true.ultp-layout2 {
            grid-template-columns: 1fr 1fr 50%;
            .ultp-block-item {
                &:first-child {
                    grid-column-start: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
                &:nth-child(2) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row: 1;
                }
            }
        }
    }
    .ultp-block-content-false.ultp-layout3 {
        grid-template-columns: 40% 1fr 40%;
        .ultp-block-item {
            height: 100%;
            &:first-child {
                grid-column-start: 1;
                grid-column-end: 3;
            }
            &:nth-child(4) {
                grid-column-start: 2;
                grid-column-end: 4;
            }
        }
    } 
    .ultp-block-content-true.ultp-layout3 {
        grid-template-columns: 40% 1fr 40%;
        .ultp-block-item {
            height: 100%;
            &:first-child {
                grid-column-start: 2;
                grid-row-start: 1;
                grid-row-end: 1;
                grid-column-end: 4;
            }
            &:nth-child(3) {
                grid-column-start: 3;
                grid-row-start: 2;
                grid-row-end: 2;
                grid-column-end: 4;
            }
            &:nth-child(4) {
                grid-column-start: 1;
                grid-row-start: 2;
                grid-row-end: 2;
                grid-column-end: 3;
            }
        }
    }
}

@media (max-width: 768px) {
    .wp-block-ultimate-post-post-grid-5 {
        .ultp-block-row {
            max-height: 100% !important;
            &.ultp-layout1,
            &.ultp-layout2,
            &.ultp-block-content-true.ultp-layout1,
            &.ultp-block-content-true.ultp-layout2 {
                grid-template-columns: 1fr;
                .ultp-block-item {
                    .ultp-block-content-overlay {
                        height: 100%;
                    }
                    &:first-child {
                        height: 100%;
                        max-height: 100% !important;
                        grid-column-start: initial;
                        grid-row-start: initial;
                        grid-row-end: initial;
                        .ultp-block-content-overlay {
                            height: 100% !important;
                        }
                    }
                    &:nth-child(2) {
                        grid-column-start: initial;
                        grid-column-end: initial;
                        grid-row: initial;
                        .ultp-block-content-overlay {
                            height: 100% !important;
                        }
                    }
                }
            }
            &.ultp-layout3, &.ultp-block-content-true.ultp-layout3 {
                grid-template-columns: 1fr;
                .ultp-block-item {
                    &:first-child {
                        height: 100%;
                        max-height: 100% !important;
                        grid-column: 1;
                        grid-row: 1;
                        .ultp-block-content-overlay {
                            height: 100% !important;
                        }
                    }
                    &:nth-child(3) {
                        grid-column: initial;
                        grid-row: initial;
                    }
                    &:nth-child(4) {
                        grid-column: 1;
                        grid-row: 2;
                        .ultp-block-content-overlay {
                            height: 100% !important;
                        }
                    }
                }
            }
        }
    }
}

// @media (max-width: 768px) {
//     .wp-block-ultimate-post-post-grid-5 {
//         .ultp-block-row {
//             &.ultp-layout1,
//             &.ultp-layout2,
//             &.ultp-block-content-true.ultp-layout1,
//             &.ultp-block-content-true.ultp-layout2 {
//                 grid-template-columns: 1fr;
//                 .ultp-block-item {
//                     &:first-child {
//                         grid-column-start: initial;
//                         grid-row-start: initial;
//                         grid-row-end: initial;
//                     }
//                     &:nth-child(2) {
//                         grid-column-start: initial;
//                         grid-column-end: initial;
//                         grid-row: initial;
//                     }
//                 }
//             }
//         }
//     }
// }
