.ultp-mobile-view-container-preview {
    height: 832px;
    width: 412px;
    padding-top: 82px;
    border: 10px solid #070707;
    border-radius: 56px;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto auto;
    .ultp-mobile-view-container.ultp-editor {
        max-width: 393px;
        height: 100%;
    }
    .ultp-mobile-view-body, .ultp-mobile-view-wrapper {
        height: 100%;
    }
}
.wp-block-ultimate-post-menu[data-rstr="mv_accordian"] .ultp-mobile-view-wrapper .ultp-menu-item-content::before {
    min-height: 0 !important;
    height: 0 !important;
}
.ultp-mobile-view-container {
    .ultp-mobile-view-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 15px;
    }
    .ultp-mobile-view-body {
        display: flex;
        flex-direction: column;
    }
    .ultp-mv-back-label-con.ultpmenu-dnone svg {
        display: none;
    }
    .ultp-mv-back-label-con, .ultp-mv-close {
        display: flex;
        align-items: center;
    }
    .ultp-mv-close {
        position: absolute;
        right: 0 !important;
    }
    .ultp-menu-item-badge.ultp-menu-editor {
        left: calc(100% + 8px);
        top: -4px;
        bottom: unset;
    }
    .ultp-menu-item-badge {
        left: calc(100% + 8px) !important;
        top: -12px !important;
        bottom: unset !important;
    }
    .wp-block-ultimate-post-mega-menu {
        .ultp-mega-menu-wrapper {
            width: 100%;
            max-width: 100% !important;
            .ultp-mega-menu-content {
                max-width: 100% !important;
            }
        }
    }
    .ultp-menu-content {
        flex-direction: column !important;
        width: 100%;
    }
    &.ultp-editor {
        .ultp-mobile-view-wrapper {
            max-width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
        }
        .ultp-mobile-view-body {
            border-radius: 0 0 0 46px;
        }

    }
}
.ultp-mv-back-label-con, .ultp-mv-close {
    cursor: pointer;
}
.ultp-mobile-view-container:is(:not(.ultp-editor)) {
    height: 0;
    box-sizing: border-box;
    &.ultp-mv-active {
        // width: 100vw;
        height: 100vh;
        display: flex !important;
        position: fixed;
        justify-content: start;
        left: 0;
        right: 0;
        top: 0;
        z-index: 9999999;
    }
    .ultp-mobile-view-wrapper {
        visibility: hidden;
        opacity: .30;
        transform: translateX(-100%);
        pointer-events: none;
        z-index: -99;
    }
    &.ultp-mv-active .ultp-mobile-view-wrapper {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        pointer-events: visible;
        z-index: 0;
    }
    .ultp-mobile-view-wrapper {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        .ultp-mobile-view-body {
            overflow-x: hidden;
            overflow-y: scroll;
            max-width: 100%;
            height: 100%;
            &::-webkit-scrollbar {
                background-color: transparent;
                width: 3px;
                border-radius: 0;
            }
            &:hover {
                &::-webkit-scrollbar {
                    width: 3px;
                    border-radius: 0;
                    transition: 400ms;
                    height: 3px;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 0;
                    width: 3px;
                    background-color:#037fff;
                }
            }
            .wp-block-ultimate-post-menu-item {
                .ultp-menu-item-content {
                    display: none;
                    // visibility: hidden;
                    // transform: translateY(10px);
                    transform: translateX(0) translateY(0px);
                    // opacity: 0.4;
                    position: unset;
                    // padding: 10px 15px;
                    // padding: 10px 0 10px 15px;
                    box-sizing: border-box;
                }
                &.ultp-menu-res-css {
                    & > .ultp-menu-item-wrapper > .ultp-menu-item-content {
                        display: block;
                        // background-color: red;
                        opacity: 1;
                        visibility: visible;
                        width: 100%;
                        // transform: translateX(0) translateY(0px);
                        
                        pointer-events: auto;
                        transition-property: opacity, visibility, transform;
                        & > * {
                            height: fit-content;
                        }
                    }
                }
            }
        }
    }
}