@mixin contentAlign( $elem:'block', $horizontal-align:'unset', $vertical-align:'unset') {
    display: $elem;
    justify-content: $horizontal-align;
    align-items: $vertical-align;
}
/* =====================
    Comment Form Styles   
======================== */
.ultp-comment-email {
    grid-area: email;
}
.ultp-comment-name {
    grid-area: author;
}
.ultp-comment-website {
    grid-area: url;
}
/* ===== Multiple Styles ===== */
.wp-block-ultimate-post-post-comments {
    display: block;
    margin-top: 30px;
    text-align: left;
    .comment-metadata , .comment-meta {
        display:none; // user issue [ profile img hidden ]
    }
    .ultp-comment-btn,
    .form-submit > input#submit {
        transition: 400ms;
    }
    .ultp-block-wrapper {
        /* ===== Comment Form Heading ===== */
        .comment-reply-title {
            display: block !important;
            padding: 0;
            margin: 0;
            a {
                padding-left: 0px !important;
            }
            small a {
                float: none !important;
                cursor: pointer;
                // color: #ff5f5f !important; 
                // font-size: 28px !important;
                display: block;
                background: none !important;
                border: none !important;
                margin-top: 15px !important;
                padding: 0px  !important;
                margin-left: 0px !important;
                text-decoration: none;
            }
        }
        .ultp-comment-form-container { // divi theme issue
            padding: 0px !important;
        }
        /* ===== Comment Form Heading ===== */
        /* ===== Comment Form body ===== */
        .ultp-comment-form {
            // twenty two theme
            display: block;
            margin-top: 15px;
            h3 {
                margin: auto !important;
            }
            label {
                // mh magazine theme
                // display: inline-block;
                // blocsy theme 
                display: inline-flex !important;
            }
            input {
                // twenty theme 
                box-sizing: border-box !important;
            }
            textarea{
                min-height: 150px;
                width: 100%;
                // twenty theme 
                box-sizing: border-box;
            }
            input, textarea {
                transition: 400ms;
                margin-bottom: 0px !important;
                &:hover {
                    outline: none;
                    box-shadow: none;
                }
            }
            .comment-notes {
                grid-area: heading;
                padding: 0;
                margin: 12px 0 0 0;
                line-height: normal !important;
                // for kedence theme
                margin: 0px !important;
            }
            .ultp-comment-btn {
                cursor: pointer;
                width: fit-content !important;
            }
            .ultp-comment-input {
                width: 100% !important;
                line-height: normal !important;
                label {
                    margin-top: 0 !important;
                }
            }
            .ultp-field-control  {
                // width: fit-content;
                // co blog theme
                // width: 50%;
                label{
                    margin-bottom: 3px !important;   
                }
                input {
                    // Divi Theme
                    width: 100% !important;
                }
            }
            .form-submit {
                float: none !important;
                width: fit-content !important;
                grid-area: btn;
                input {
                    width: fit-content !important;
                }
            }
            .comment-form-comment  {
                width: 100% !important; 
            }
            .comment-input-wrap {
                > p {
                    display: flex;
                    flex-direction: column;
                    input {
                        order: 1;
                    }
                    label {
                        order: -1;
                    }
                }
            }
            .comment-form-cookies-consent {
                display: flex;
                align-items: center;
                margin: 20px 0px 10px;
                grid-area: cookies;
                // ocean wp theme
                width: 100% !important;
                label {
                    display: inline;
                    margin: 0px 15px  !important;
                    // for go theme
                    padding: 0px 0px 0px 5px !important;
                    padding-left: 0px !important;
                    // crem theme  
                    margin-bottom: 0px !important;
                    // For Go theme
                    margin-left: 16px !important;
                    // For Cancel
                    padding-left: 0px !important;
                    // For vilva theme
                    width: 100% !important;
                }
                input[type=checkbox]:checked:after { // twenty tweenty two theme compabiliy issue
                    opacity: 0;
                }
                input {
                    width: fit-content !important;
                    margin-right: 0px !important;
                    padding: 0px !important;
                    border-width: 1px !important;
                    display: block !important;
                    -webkit-appearance: auto !important;
                    &:before{
                        // backend
                        display: block !important;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
        /* ===== Comment Form body ===== */
        .ultp-comments-subtitle {
            display: block;
        }
        /* 
            ===== layout style 1 ===== 
        */
        &.ultp-comments-layout1 {
            .ultp-comment-form-container {
                .ultp-comment-form {
                    // Testing
                    display: flex;
                    flex-direction: column;
                    .comment-notes {
                        order: -2;
                    }
                    .ultp-comment-input {
                        order: -1;
                    }
                    .ultp-field-control:not(.comment-form-comment), p:not(.comment-form-cookies-consent, .comment-notes), & > input, div:not(.comment-form-comment, .ast-comment-formwrap, .comment-input-wrap, .comment-form-cookies-consent, .comment-notes) {
                        width: 50% !important;
                    }
                    // Testing
                    // display: block !important;
                    & > input {
                        display: block;
                    }
                    div {
                        padding-right: 0px !important;
                        padding-left: 0px !important;
                        float: none !important;
                        p {
                            width: 100%;
                            float: none;
                            margin: 0px;
                        }
                        & > label > label {
                            position: unset !important;
                        }
                    }
                }
            }
        }
        /* 
            ===== layout style 2 ===== 
        */
        &.ultp-comments-layout2 {
            .ultp-comment-form {
                display: grid !important;
                grid-template-areas: 'heading  heading heading'
                'comment comment comment'
                'meta meta meta'
                'author email url'
                'cookies cookies cookies' 
                'btn btn btn';   
                align-items: center;
                column-gap: 32px;
                input {
                    width: 100%;
                }
                & > input#author {
                    @extend .ultp-comment-name;
                }
                & > input#email {
                    @extend .ultp-comment-email;
                }
                & > input#url {
                    @extend .ultp-comment-website;
                }
                .wp-block-button {
                    grid-area: btn;
                    max-width: fit-content;
                }
                & > p {
                    // blocksy theme
                    width:  100% !important;
                }
            }
        }
        /* 
            ===== layout style 3 ===== 
        */
        &.ultp-comments-layout3 {
            .ultp-comment-form {
                display: grid !important;
                grid-template-areas: 'heading  heading heading'
                'author email url'
                'meta meta meta'
                'comment comment comment'
                'cookies cookies cookies'
                'btn btn btn';
                align-items: center;
                column-gap: 32px;
                input {
                    width: 100%;
                }
                .wp-block-button {
                    grid-area: btn;
                    max-width: fit-content;
                }
                & > p {
                    // blocksy theme
                    width:  100% !important;
                }
                & > div {
                    label {
                        position: unset !important;
                    }
                }
            }
        }

        /* ===== Custom Styles for lay2 & 3 ===== */
        &.ultp-comments-layout3, 
        &.ultp-comments-layout2 {
            label {
                display: inline-block;
                // margin-top: 5px;
            }
            div, p {
                width: 100% !important;
            }
            .ultp-comment-input {
                grid-area: comment;
                textarea {
                    width: 100%;
                    height: 192px;
                    transition: all 0.1s;
                    min-width: auto;
                    min-height: auto;
                    display: block;
                    &:focus {
                        // default focus need to show
                        // outline: none;
                        // box-shadow: none;
                    }
                }
            }
            .ultp-comment-form-container {
                .ultp-comment-form {
                    .logged-in-as {
                        margin-top: 0;
                    }
                    textarea{
                        width: 100%;
                        }
                    
                    div:not(.comment-form-comment, .ultp-field-control, .comment-form-author, .comment-form-email, .comment-form-url) {
                        // Astra Theme
                        grid-area: meta !important;
                        display: flex !important;
                        column-gap: 32px;
                        align-items: center;
                        justify-content: space-between;
                        margin: 0px;
                        p {
                            float: none;
                            width: 100%;
                            padding: 0px;
                            margin-bottom: 0px;
                        }
                    }
                    div:not(.comment-form-comment, .comment-form-author, .comment-form-email, .comment-form-url) {
                        // ocean wp theme
                        grid-area:auto;
                        display: block;
                        margin: 0px  !important;
                        }
                }
            }
        }
    }
}

/* =====================
    Reply styles  
======================== */
.ultp-builder-comment-reply {
   & > li:after {
        content: " ";
        width: 100%;
        height: 1px;
        display: none;  
        background-color: red;
        margin:50px 0px;
    }
    // ocean wp theme
    & li > .comment-body {
        display: block !important;
    }
    .reply {
        // sydney theme
        background-color:  transparent !important;
        // sydney theme
        margin-top: 0px !important;
        // sydney theme
        margin-bottom: 0px !important;
        cursor: pointer !important;
        // for sydney
        width: fit-content !important;
    }
    .comment  {
        list-style-type: none;
        .children {
            // Value reset twenty one theme
            padding: 0px !important;
            li {
                .comment-body {
                    // ocean wp theme
                    display: block !important;
                    position: relative;
                    margin-left: 34px;
                    padding: 5px;
                    p {
                        margin: 0px;
                    }
                    &::before {
                        content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNC4zMzEiIGhlaWdodD0iMTQuMTY3IiB2aWV3Qm94PSIwIDAgMjQuMzMxIDE0LjE2NyI+CiAgPHBhdGggaWQ9IlBhdGhfMTk3IiBkYXRhLW5hbWU9IlBhdGggMTk3IiBkPSJNLTEwMzYuNTg4LTQxLjFsLTcuNTc3LTYuMzVhLjQ4Ny40ODcsMCwwLDAtLjguMzczdjMuNTg2YS44MDcuODA3LDAsMCwxLS44MDcuODA3aC05LjJhNS42NTEsNS42NTEsMCwwLDEtNC0xLjY1NUwtMTA2MC42My00NlYtNDIuMmEzLjkxNCwzLjkxNCwwLDAsMCwzLjkxNCwzLjkxNGgxMC45NDVhLjgwOC44MDgsMCwwLDEsLjgwNy44MDd2My42YS40ODcuNDg3LDAsMCwwLC44LjM3M2w3LjU3Ny02LjM1QS44MDguODA4LDAsMCwwLTEwMzYuNTg4LTQxLjFaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDYwLjYzIDQ3LjU2MykiIGZpbGw9IiNiYWJhYmEiLz4KPC9zdmc+Cg==');
                        width: 30px;
                        height: 30px;
                        display: block;
                        margin-top: 10px;
                        position: absolute;
                        left: -30px;
                    }
                }
            }
        }
    }
    // Value reset twenty one theme
    .comment-metadata {
        padding: 0px !important;
        // Generate press
        line-height: normal !important;
        // sydney Theme
        margin-bottom: 0px !important;
    }
    // Value reset twenty one theme
    .comment-content,
    .comment-content p {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        // news way theme
        padding: 0px !important;
    }
    // Value reset twenty one theme
    .comment-body {
        & > p {
        // Value reset neve
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        }
        // Value reset Divi theme
        padding: 0px !important;
        // Value reset twenty one theme
        margin-bottom: 0px !important;
        // Value reset sydney
        border: none !important;

    }
    .comment-author {
        display: flex;
        align-items: center;
        gap: 10px; 
        margin-bottom: 3px;
        .avatar {
            position: unset !important;
        }
        img {
            display: none;
            position: normal !important;
            margin-right: 0px !important; 
            // inspiro 
            margin-bottom: 0px !important;
        }
        .says {
            color: #888;
        }
        .fn {
            margin-left: 0px !important;
        }
    }
    .ultp-reply-btn {
        border: none;
        background: none;
    }
    .comment-reply-link {
        cursor: pointer;
        display: inline-flex;
        width: fit-content;
        // Ashe Theme 
        float: none !important;
    }
    .ultp-comment-reply-heading {
        display: inline-block;
    }
    .ultp-reply-wrapper {
        margin: 30px 0px;
        padding: 0px;
        list-style-type: none;
        .ultp-reply-content {
            @include contentAlign(flex, flex-start, flex-start);
            gap: 10px;
            &:not(:last-child) {
                margin: 30px 0px;
            }
            & > img {
                padding-top: 10px;
            }
        }
    }
    .ultp-comment-wrapper {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        .ultp-comment-content-heading {
            @include contentAlign(flex, flex-start, center);
            .ultp-comment-meta {
                div {
                    margin-bottom: 5px;
                    span {
                        padding: 1px 5px 3px;
                        border-radius: 2px;
                        margin-left: 7px;
                    }
                }
            } 
            img {
                width: 36px;
                height: 36px;
                margin-right: 10px;
                display: none;
            }
        }
    }
}
/* =====================
    Layout Style 
======================== */



/* ===== Oceanwp Theme Compability ===== */
    .oceanwp-theme {
        .ultp-comments-layout2 {
            label {
                position: static !important;
            }
        }
    }
/* ===== Astra Theme Compability ===== */
.ast-single-post {
    .ultp-comments-layout1 {
        .ultp-comment-form div input {
            width: 100% !important;
        }
        .ast-comment-formwrap label > label {
            position: absolute !important;
        }
        .ast-comment-formwrap {
            width: 100%;
            flex-direction: column;
        }
    }
    .ultp-comments-layout3 {
        .ast-comment-formwrap {
            padding: 0px !important;
            margin: 0px !important;
        }
        .ast-comment-formwrap label {
            display: block !important;
        }
        .ultp-comment-form>div label {
            width: 100%;
        }
    }
    .ultp-comments-layout1, 
    .ultp-comments-layout2 {
        .ast-comment-formwrap {
            padding: 0px !important;
            margin: 0px !important;
            .comment-form-url {
                label {
                    width: 100%;
                }
            }
        }
    }
}
/* =====================
    Responsive styles  
======================== */
@media only screen and (max-width: 768px) {
    /* === Common Style 2,3 === */
    .wp-block-ultimate-post-post-comments {
        & > .ultp-block-wrapper {
            &.ultp-comments-layout2, 
            &.ultp-comments-layout3 {
                & > .ultp-builder-comments {
                    .ultp-comment-form {
                        display: flex !important;
                        flex-direction: column;
                        & > p {
                            width: 100% !important;
                        }
                        & > div {
                            display: block !important;
                            p {
                                width: 100% !important;
                            }
                        }
                    }
                    & > .ultp-comment-form-container {
                        & > .ultp-comment-form {
                            display: flex !important;
                            flex-direction: column;
                            & > p {
                                width: 100% !important;
                            }
                            & > div {
                                display: block !important;
                                p {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
            /* === Common Style 2 === */
            &.ultp-comments-layout1 {
                .ultp-comment-form-container {
                    & > .ultp-comment-form {
                        .ultp-field-control:not(.comment-form-comment), p:not(.comment-form-cookies-consent, .comment-notes), & > input, div:not(.comment-form-comment, .ast-comment-formwrap, .comment-input-wrap, .comment-form-cookies-consent, .comment-notes, .ast-comment-formwrap) {
                            width: 85% !important;
                        }
                    }
                }
            } 

            /* === Common Style 2 === */
            &.ultp-comments-layout2 {
                .ultp-comment-form-container {
                    & > .ultp-comment-form {
                        & > .ultp-comment-input {
                            order: -1;
                        }
                    }
                }
            } 

            /* === Common Style 3 === */
            &.ultp-comments-layout3 {
                .ultp-comment-form-container {
                    & > .ultp-comment-form {
                        & > .ultp-comment-input {
                            order: 97;
                        }
                        & > .comment-form-cookies-consent {
                            order: 98;
                        }
                        & > .form-submit {
                            order: 99;
                        }
                    }
                }
            }
        }
    }
            // .ultp-comments-layout3 .ultp-comment-form:not(.comment-input-wrap) {
                //     grid-template-areas: "heading"
    //     "author"
    //     "email"
    //     "url"
    //     "comment"
    //     "cookies"
    //     "btn";
    // }
    // .ultp-comments-layout2 .ultp-comment-form:not(.comment-input-wrap) {
    //     grid-template-areas: "heading"
    //     "comment"
    //     "author"
    //     "email"
    //     "url"
    //     "cookies"
    //     "btn";
    // }
    // .ultp-block-comments .ultp-comment-form .ultp-field-control {
    //     width: 100%;
    // }
    /* ===== Astra Theme Compability ===== */ 
    // .ast-single-post { 
    //     .ultp-block-comments {
    //         .ultp-comment-form-container {
    //             form.ultp-comment-form {
    //                 display: block !important;
    //                 div {
    //                     display: block !important;
    //                     p {
    //                         width: 100% !important;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}
