.postx-page .ultp-tabs-content-warpx {    
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition-property: opacity, visibility, transform;
    transition-timing-function: ease-in;
    transition-duration: 0.4s;
    z-index: -99;
    background-color: red;
}
.postx-page .ultp-tabs-content-warp.pt-active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    pointer-events: visible;
    z-index: 0;
}