/* ====== Builder Image Style ====== */
.ultp-builder-image {
    width: 100%;
    img {
        max-width: 100%;
        width: 100%;
        display: block;
    }
    .ultp-image-block {
        display: block;
    }
}
.ultp-featureImg-caption {
    display: block;
    box-sizing: border-box;
}

/* ====== Builder Video Style ====== */
.ultp-builder-video {
    width: 100%; // only feat video non scroll
    position: relative;
    height: 100%;
}
.ultp-sticky-video.ultp-sticky-active {
    padding: 15px 0px;
    video {
        max-height: 100% !important;
    }
}
.ultp-sticky-active {
    position: fixed;
    z-index: 99999;
    visibility: visible;
    transition: all .3s;
    animation: fade-in-up .3s ease forwards;
    .ultp-embaded-video {
        width: 100% !important;
        max-height: 100% !important;
    }
}
@keyframes fade-in-up {
    0% { 
        transform: translateY(200px);
        opacity: 0;
    }
    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}
.ultp-sticky-active .ultp-sticky-close {
    display: flex;
}
.ultp-sticky-close {
    display: none;
    color: #fff;
    font-size: 29px;
    line-height: normal;
    cursor: pointer;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: #2b2b2b;
    border-radius: 50%;
    padding: 0px;
    position: absolute;
    top: -19px;
    right: -12px;
    &::after{
        content: "\2715";
    }
}
.ultp-video-modal__content, 
.ultp-sticky-video .ultp-embaded-video, 
.ultp-builder-video {
    video, .ultp-video-wrapper, iframe {
        width: 100%;
        height: 100%;
    }
}
.ultp-sticky-video .ultp-embaded-video,
.ultp-video-modal__content .ultp-embaded-video,
.ultp-builder-video  .ultp-embaded-video {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    padding: 0;
    &:before {
        content: "";
        padding-top: 56.25%;
        display: block;
    }
    iframe {
        border: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }
}