@import "../utility.scss";

.ultpLicense {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.newLicense {
    .dashicons-update {
        margin-left: 5px;
    }
    .newLicenseLabel {
        font-size: 20px;
        font-weight: bold;
        color: #091f36;
    }
    .newLicenseFields {
        display: flex;
        gap: 20px;
        margin-top: 22px;
        input {
            max-width: 400px;
            width: 100%;
            height: $inputHeight;
            border: $inputBorder;
            border-radius: $inputRadius;
            color: $inputColor;
            padding: $inputPadding;
            background-color: $inputBg;
        }
    }
}
.licenseActivated {
    text-align: center;
    .activatedIcon {
        border-radius: 50%;
        border: solid 2px #008000;
        color: #008000;
        width: 50px;
        height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-bottom: 10px;
        font-size: 30px;
    }
}
.activationMessage , .deactiveMessage, .expiredMessage {
    &.deactiveMessage {
        margin-top: 8px;
    }
    color: #091f36;
    font-size: 14px;
}
.deactiveLink {
    color: $postxPrimaryColor;
}

.licenseExpired {
    text-align: center;
    .expiredIcon {
        border-radius: 50%;
        border: solid 2px #ce290b;
        color: #ce290b;
        width: 50px;
        height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-bottom: 10px;
        font-size: 30px;
    }
}
.renewLink {
    color: #0d9308;
}
.licenseGuide {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    .guidMessage {
        margin: 10px 0 15px;
    }
    .licenseGuideLeft {
        flex-basis: calc( 100% - 435px );
    }
    .licenseGuideRight {
        flex-basis: 350px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
.errorNote {
    color: #67531e;
    background: rgba(255, 243, 205, 0.4);
    border: 1px solid rgba(255, 236, 181, 0.6);
    border-radius: 3px;
    font-size: 14px;
    padding: 10px;
}
.successNote {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border: 1px solid #c3e6cb;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px;
}