

//image
.ultp-taxonomy-layout-1 {
    li {
        a {
            color: #000;
            display: flex;
            flex-wrap: wrap;
            .ultp-taxonomy-count {
                margin-left: auto;
            }
            .ultp-taxonomy-name {
                color: #333;
            }
            .ultp-taxonomy-count {
                color: #333;
                text-align: center;
                display: inline-block;
            }
            .ultp-taxonomy-desc {
                color: #757575;
                width: 100%;
            }
        }
    }
}
.ultp-taxonomy-layout-2 {
    li {
        a {
            color: #fff;
            padding: 15px;
            display: inline-block;
            .ultp-taxonomy-bar {
                height: 1px;
                width: 100%;
                margin: 0 20px;
                border-bottom: 1px dashed #fff;
            }
            .ultp-taxonomy-name {
                flex-basis: auto;
                flex-shrink: 0;
                color: #fff;
            }
            .ultp-taxonomy-count {
                color: #fff;
                text-align: center;
                display: inline-block;
                white-space: nowrap;
            }
            .ultp-taxonomy-desc {
                color: #fff;
                z-index: 1;
                position: relative;
            }
            .ultp-taxonomy-lt2-content {
                display: flex;
                align-items: center;
                width: 100%;
                z-index: 1;
                position: relative;
            }
            .ultp-taxonomy-lt2-overlay {
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.1);
                width: 100%;
                height: 100%;
                transition: 400ms;
            }
            &:hover {
                .ultp-taxonomy-lt2-overlay {
                    background: rgba(0, 0, 0, 0.7);
                }
            }
        }
    }
}
.ultp-taxonomy-layout-3 {
    li {
        a {
            padding: 15px;
            border: 1px solid #e5e5e5;
            color: #000;
            display: inline-block;
            .ultp-taxonomy-bar {
                height: 1px;
                width: 100%;
                margin: 0 20px;
                border-bottom: 1px dashed #ccc;
            }
            .ultp-taxonomy-lt3-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.1);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0;
                transition: opacity .4s;
                pointer-events: none;
            }
            .ultp-taxonomy-lt3-overlay {
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.1);
                width: 100%;
                height: 100%;
                transition: 400ms;
                opacity: 0;
            }
            &:hover {
                .ultp-taxonomy-lt3-overlay {
                    opacity: 1;
                    background: rgba(0, 0, 0, 0.7);
                }
            }
            span,
            .ultp-taxonomy-desc {
                z-index: 2;
                position: relative;
            }
            .ultp-taxonomy-lt3-content {
                display: flex;
                align-items: center;
            }
            &:hover {
                .ultp-taxonomy-lt3-img {
                    opacity: 1;
                }
            }
            .ultp-taxonomy-name {
                flex-basis: auto;
                flex-shrink: 0;
                color: #333;
            }
            .ultp-taxonomy-count {
                color: #333;
                text-align: center;
                display: inline-block;
                white-space: nowrap;
            }
            .ultp-taxonomy-desc {
                color: #757575;
            }
            &:hover {
                .ultp-taxonomy-name {
                    color: #fff;
                }
                .ultp-taxonomy-count {
                    color: #fff;
                }
                .ultp-taxonomy-desc {
                    color: #fff;
                }
            }
        }
    }
}
.ultp-taxonomy-layout-4 {
    li {
        a {
            color: #000;
            padding: 20px;
            border: 1px solid #e5e5e5;
            text-align: center;
            display: inline-block;
            img {
                max-width: 50px;
                display: inline-block;
            }
            .ultp-taxonomy-name {
                color: #333;
            }
            .ultp-taxonomy-count {
                color: #333;
                margin-left: 4px;
                display: inline-block;
                text-align: center;
            }
            .ultp-taxonomy-desc {
                color: #757575;
            }
        }
    }
}
.ultp-taxonomy-layout-5 {
    li {
        a {
            color: #000;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            line-height: 0;
            .ultp-taxonomy-lt5-content {
                padding: 10px;
                background: #e5e5e5;
                line-height: normal;
                width: 100%;
                // display: flex;
                // align-items: center;
                // justify-content: center;
                display: block;
            }
            .ultp-taxonomy-name {
                color: #333;
            }
            .ultp-taxonomy-count {
                color: #333;
                margin-left: 4px;
                display: inline-block;
                text-align: center;
            }
            .ultp-taxonomy-desc {
                color: #757575;
                line-height: normal;
            }
        }
    }
}
.ultp-taxonomy-layout-6 {
    li {
        a {
            color: #000;
            padding: 15px;
            text-align: center;
            display: inline-block;
            .ultp-taxonomy-name {
                color: #fff;
                position: relative;
                z-index: 1;
            }
            .ultp-taxonomy-count {
                color: #fff;
                margin-left: 4px;
                display: inline-block;
                position: relative;
                z-index: 1;
            }
            .ultp-taxonomy-desc {
                color: #fff;
                position: relative;
                z-index: 1;
            }
            .ultp-taxonomy-lt6-overlay {
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.1);
                width: 100%;
                height: 100%;
                transition: 400ms;
            }
            &:hover {
                .ultp-taxonomy-lt6-overlay {
                    background: rgba(0, 0, 0, 0.7);
                }
            }
        }
    }
}
.ultp-taxonomy-layout-7 {
    li {
        a {
            color: #000;
            padding: 20px 15px;
            text-align: center;
            display: inline-block;
            .ultp-taxonomy-name {
                padding: 8px 20px;
                background: #fff;
                border-radius: 100px;
                color: #333;
                display: inline-block;
                position: relative;
                z-index: 1;
            }
            .ultp-taxonomy-desc {
                color: #fff;
                margin-top: 10px;
                position: relative;
                z-index: 1;
            }
            .ultp-taxonomy-count {
                margin-left: 4px;
                display: inline-block;
                position: relative;
                z-index: 1;
            }
            .ultp-taxonomy-lt7-overlay {
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.1);
                width: 100%;
                height: 100%;
                transition: 400ms;
            }
            &:hover {
                .ultp-taxonomy-lt7-overlay {
                    background: rgba(0, 0, 0, 0.7);
                }
            }
        }
    }
}
.ultp-taxonomy-layout-8 {
    li {
        a {
            color: #000;
            padding: 20px 15px;
            text-align: center;
            display: inline-block;
            .ultp-taxonomy-name {
                padding: 8px 20px;
                background: #fff;
                border-radius: 100px;
                color: #333;
                position: relative;
                display: inline-block;
                z-index: 1;
            }
            .ultp-taxonomy-count {
                position: absolute;
                background: #000;
                border-radius: 100px;
                width: 22px;
                height: 22px;
                top: -5px;
                right: -12px;
                text-align: center;
                color: #fff;
                z-index: 1;
            }
            .ultp-taxonomy-desc {
                color: #fff;
                margin-top: 10px;
                position: relative;
                z-index: 1;
            }
            .ultp-taxonomy-lt8-overlay {
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.1);
                width: 100%;
                height: 100%;
                transition: 400ms;
            }
            &:hover {
                .ultp-taxonomy-lt8-overlay {
                    background: rgba(0, 0, 0, 0.7);
                }
            }
        }
    }
}

// taxonomy aanimation
.ultp-taxonomy-animation-zoomIn {
    li {
        a {
            -webkit-transition: transform 0.3s cubic-bezier(0.6, 0, 0.3, 1),-webkit-transform 0.5s cubic-bezier(0.6, 0, 0.3, 1);
            transition: transform 0.3s cubic-bezier(0.6, 0, 0.3, 1),-webkit-transform 0.5s cubic-bezier(0.6, 0, 0.3, 1) ;
            -webkit-transform: scale(1);
            transform: scale(1);
            backface-visibility: hidden;
            *,
            *:before,
            *:after {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }
        }
        &:hover a {
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
        }
    }
}
.ultp-taxonomy-animation-zoomOut {
    li {
        a {
            -webkit-transition: transform 0.3s cubic-bezier(0.6, 0, 0.3, 1),-webkit-transform 0.5s cubic-bezier(0.6, 0, 0.3, 1);
            transition: transform 0.3s cubic-bezier(0.6, 0, 0.3, 1),-webkit-transform 0.5s cubic-bezier(0.6, 0, 0.3, 1) ;
            backface-visibility: hidden;
            -webkit-transform: scale(1);
            transform: scale(1);
            *,
            *:before,
            *:after {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }
        }
        &:hover a {
            -webkit-transform: scale(.97);
            transform: scale(.97);
        }
    }
}
.ultp-taxonomy-animation-slideLeft {
    li {
        a {
            -webkit-transition: transform 0.3s cubic-bezier(0.6, 0, 0.3, 1),-webkit-transform 0.5s cubic-bezier(0.6, 0, 0.3, 1);
            transition: transform 0.3s cubic-bezier(0.6, 0, 0.3, 1),-webkit-transform 0.5s cubic-bezier(0.6, 0, 0.3, 1) ;
            -webkit-transform: translateX(0);
            transform: translateX(0);
            backface-visibility: hidden;
            *,
            *:before,
            *:after {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }
        }
        &:hover a {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }
    }
}
.ultp-taxonomy-animation-slideRight {
    li {
        a {
            -webkit-transition: transform 0.3s cubic-bezier(0.6, 0, 0.3, 1),-webkit-transform 0.5s cubic-bezier(0.6, 0, 0.3, 1);
            transition: transform 0.3s cubic-bezier(0.6, 0, 0.3, 1),-webkit-transform 0.5s cubic-bezier(0.6, 0, 0.3, 1) ;
            -webkit-transform: translateX(0);
            transform: translateX(0);
            backface-visibility: hidden;
            * {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }
        }
        &:hover a {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }
    }
}