$wizardWidth : 1250px;
/* ====================
    Adminbar Style
=======================*/
html.wp-toolbar:has(.postx_page_ultp-setup-wizard) {
    // padding-top: 0;
}

.postx_page_ultp-setup-wizard #wpadminbar,
.postx_page_ultp-setup-wizard #adminmenumain {
    // display: none;
}

.postx_page_ultp-setup-wizard #wpcontent {
    // margin-left: unset !important;
}

/* =======================
    Initial Wizard Style
==========================*/
.ultp-setup-wizard-container {
    margin: 0px auto !important;
    max-width: $wizardWidth;
    padding: 40px 80px 100px;
    .ultp_aster {
        position: relative;
        &::after {
            position: absolute;
            content: '*';
            color: #ff0000;
        }
    }
    .ultp-addon-item {
        background: #f7f9ff;
        box-shadow: none;
        border: 1px solid #eaedf2;
        .ultp-addon-settings-popup {
            top: 0 !important;
            .ultp-addon-settings-footer {
                bottom: 0px !important;
            }
        }
        .ultp-popup-close {
            top: 10px !important;
        }
    }
    .readySkipCon {
        text-align: center;
    }
}
.ultp-wizard-page-wrap {
    .headerCon {
        padding-bottom: 25px;
        border-bottom: 1px solid #e1e6eb;
        .dashicons-saved {
            color: #1bb41b;
            font-size: 42px;
            line-height: 60px;
            width: 60px;
            height: 60px;
            border-radius: 100px;
            border: 2px solid #1bb41b;
        }
        .completeTitle {
            font-size: 32px;
            margin-bottom: 10px;
            margin-top: 15px;
        }
        img.ready_image {
            width: auto !important;
            max-height: 90px;
        }
    }
    /* ===== Content Header ===== */
    .ultp-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        position: relative;
        .ultp-tab {
            // gap: 65px;
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
            margin: 0;
            width: 100%;
            li {
                position: relative;
                .ultp-tab-number {
                    color: #fff;
                    font-size: 11px;
                    border-radius: 13px;
                    background-color: #a2a2a2;
                    margin: 0 10px 0 0;
                    padding: 4px 7px;
                }
                
                a {
                    color: #a2a2a2;
                    cursor: pointer;
                    font-size: 12px;
                    font-weight: 500;
                    text-decoration: none;
                    padding: 0;
                    display: inline-block;
                    position: relative;
                    transition: 400ms;
                }
            }
        }
    }
    .completeContent {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        margin-top: 40px;
        input[type=checkbox]:checked {
            background: #888888;
        }
        .contentRight {
            display: flex;
            flex-direction: column;
            gap: 20px;
            & > div {
                text-align: start;
            }
        }
        .contentLeft {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .inputFields {
                display: flex;
                flex-direction: column;
                gap: 15px;
                align-items: flex-start;

                & > div {
                    display: flex;
                    gap: 12px;
                    & > span {
                        margin-top: -6px;
                        text-align: left;
                        font-size: 16px;
                        color: #575a5d;
                        .fieldDesc {
                            font-size: 12px;
                            color: #808284;
                            display: block;
                        }
                    }
                }
            }
        }
        .contentTitle {
            text-align: left;
        }
        .intro-video {
            position: relative;
            max-width: 440px;

            .thumbnail {
                max-width: 100%;
            }

            .play-icon-container {
                max-width: 25%;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                max-height: fit-content;
                cursor: pointer;
                height: fit-content;
                .animate {
                    -webkit-animation: pulse 1.2s ease infinite;
                    animation: pulse 1.2s ease infinite;
                    background: #037fff;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    border-radius: 100%;
                }
            }

            .play-icon {
                max-width: 100%;
            }

            .video-frame {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 95%;
                height: 93%;
                border-radius: 10px;
            }


        }

        @-webkit-keyframes pulse {
            0% {
                opacity: 0;
                transform: scale(1, 1)
            }

            50% {
                opacity: .3
            }

            100% {
                transform: scale(1.5);
                opacity: 0
            }
        }

        @keyframes pulse {
            0% {
                opacity: 0;
                transform: scale(1, 1)
            }

            50% {
                opacity: .3
            }

            100% {
                transform: scale(1.5);
                opacity: 0
            }
        }
        .contentRight {
            ul li {
                margin-bottom: 20px;
                cursor: pointer;
                span.learn-more-option {
                    font-size: 20px;
                    line-height: 26px;
                    color: #037fff;
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    img {
                        width: 22px;
                        height: 22px;
                    }
                }

            }
            .social-media-button {
                padding: 15px 40px;
                border-radius: 6px;
                border: solid 1px #037fff;
                color: #037fff;
                background-color: #fff;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;
                max-width: fit-content;
                cursor: pointer;
                img {
                    height: 22px;
                    width: 22px;
                }
                .social-media-button-label {
                    font-size: 18px;
                    line-height: 23.4px;
                }
            }
        }
    }
    /* ===== Content Body Style ===== */
    .ultp-content {
        // width: 80%;
        margin: 0 auto;
        box-shadow: unset !important;
        border: unset !important;
        min-height: unset;

        /* ===== Common Style ===== */
        .ultp-logo {
            height: 100px;
        }
        .ultp-content-items {
            border: 1px solid #ddd;
            border-radius: 6px;
            background-color: #fff;
            padding: 40px;
            margin-bottom: 30px;
            .ultp-popup-container {
                z-index: 999;
            }
        }
        .ultp-welcome,
        .ultp-unlock-pro,
        .ultp-contribute,
        .ultp-complete {
            text-align: center;
        }
        .ultp-welcome,
        .ultp-blocks {
            margin-bottom: -30px;
            padding-bottom: 20px;
        }
        
        /* ===== Welcome Style ===== */
        .ultp-welcome {
            padding: 0;
            max-width: 70%;
            margin: 0 auto;
            .ultp-title {
                color: #091F36;
                font-size: 42px;
                font-weight: 700;
                margin: 10px 0 20px 0;
            }
            .ultp-subtitle {
                color: #091F36;
                font-size: 20px;
                display: block;
                margin: 0 0 15px 0;
                span {
                    color: #037fff;
                }
            }
            .ultp-short-desc {
                display: block;
                max-width: 550px;
                margin: 0 auto 30px;
                font-size: 16px;
                color: #575A5D;
            }
        }
        /* ===== coreFeatures ===== */
        .ultp-feature-con {
            margin-top: 20px;
            text-align: start;
            .ultp-description {
                font-size: 16px;
            }
            .ultp-feature-group {
                .feature_label {
                    font-size: 16px;
                    color: #091f36;
                    font-weight: 600;
                }
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;
                    justify-content: space-between;
                    margin-top: 25px;
                    li {
                        display: inline-flex;
                        padding: 15px;
                        gap: 10px;
                        justify-content: center;
                        padding: 12px 20px;
                        border-radius: 6px;
                        background-color: #f7f9ff;
                        margin-bottom: 0;
                        a {
                            text-decoration: none;
                            display: block;
                            cursor: pointer;
                            &:focus {
                                box-shadow: none;
                            }
                        }
                        img {
                            width: 20px;
                        }
                        .ultp-feature-name {
                            font-size: 16px;
                            color: #091f36;
                        }
                        .ultp-feature-more {
                            color: #a8a8a8;
                            text-decoration: none;
                        }
                    }
                }
                .ultp-title {
                    font-size: 32px
                }
            }
            .ultp-addons .ultp-feature-section ul li {
                min-width: 230px;
            }
            .ultp-features {
                .ultp-feature-section ul {
                    .ultp-feature-name {
                        font-size: 18px;
                        display: flex;
                        align-items: baseline;
                        gap: 5px;
                    }
                    .starterPacks {
                        background-color: #fff2f7;
                        .ultp-feature-name span {
                            color: #ff006c;
                            font-size: 26px;
                            font-weight: bold;
                        }
                    }
                    .patterns {
                        background-color: #f2f5ff;
                        .ultp-feature-name span {
                            color: #033dff;
                            font-size: 26px;
                            font-weight: bold;
                        }
                    }
                    .premadeTemplates {
                        background-color: #fff8f0;
                        .ultp-feature-name span {
                            color: #ff7714;
                            font-size: 26px;
                            font-weight: bold;
                        }
                    }
                    .ultp-feature-more {
                        color: #ff7e7e;
                    }
                }
            }
        }
        /* ===== Complete ===== */
        .ultp-complete {
            .ultp-subtitle {
                color: #7b7b7b;
                font-size: 18px;
            }
            img {
                width: 100%
            }
        }
    }
    .ultp-site-status {
        text-align: center;
        .siteStatusData {
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-top: 30px;
            & > div {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            label {
                font-size: 16px;
                color: #091f36;
                font-weight: 600;
            }
            select , input {
                display: block;
                width: 100%;
                max-width: 100%;
                min-height: 40px;
                &:focus {
                    box-shadow: none;
                    border-color: none;
                }
                border: solid 1px #eaedf2;
            }
        }
        .ultp-description  {
            margin-top: 10px;
            display: inline-block;
        }
        div.headerCon {
            border: none;
            padding-bottom: 0;
        }
    }

    /* ===== Content Pagination ===== */
    .ultp-pagination {
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;
        gap: 10px;
        &:has(.skipButton) {
            justify-content: space-between;
        }
        & > div {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
        a {
            padding: 8px 20px;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            display: flex;
            gap: 1px;
            align-items: center;
            .dashicons {
                font-size: 16px;
                line-height: 1;
                width: auto;
                height: auto;
            }
        }
        .ultp-btn-previous,
        .ultp-btn-thank {
            border: solid 1px rgba(105, 105, 105, 0.6);
            color: #222;
        }
        .ultp-btn-next,
        .ultp-btn-count,
        .ultp-btn-complete {
            background-image: linear-gradient(1deg, #037fff 2%, #4a4aff 99%);
            color: #fff;
            text-decoration: none;
        }
    }
}


.progressbar {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 0 6%;
    margin: 40px auto 0;
    box-shadow: unset !important;
    border: unset !important;
    min-height: unset;
    position: relative;
    .tab-1::after {
        width: 7%;
    }
    .tab-2::after {
        width: 50%;
    }
    .tab-3::after {
        width: 100%;
    }
    .ultp-tab {
        &::before, &::after {
            content: '';
            position: absolute;
            height: 5px;
            top: 48%;
            transform: translateY(-50%);
            left: 0;
        }
        &::before {
            width: 100%;
            background-color: rgba(108, 108, 255, 0.15);
        }
        &::after {
            background-color: #037fff;
            transition: 0.4s ease;
        }
        .progress-step-wrapper.ultp-pass {
            border: 3px solid  #037fff;
            .progress-step-style {
                background-color: #037fff;
            }
        }

        .progress-step-wrapper {
            box-sizing: unset;
            position: relative;
            z-index: 1;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            border: 3px solid #d3dbf2;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            &.ultp-tab-pass {
                border-color: #037fff;
                .progress-step-style {
                    background-color: #037fff;
                }
            }
        }
        .progress-step-style {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #d3dbf2;
            transition: 0.4s ease;
            
        }
        .progress-step-count {
            font-size: 19px;
            color: #f3e7f3;
        }
        .progress-step-label-container {
            top: -28px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            .progress-step-label {
                font-size: 24px;
                color: #091f36;
                white-space: pre;
                cursor: pointer;
            }
        }
    }
}
.ultp-welcome .letsStartButton {
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.completeStep {
    text-align: center;
    margin-top: 20px;
    .readyButton {
        font-size: 22px;
        display: inline-flex;
        align-items: center;
        gap: 5px;
        .dashicons {
            font-size: 22px;
        }
    }
}
/* ===== Navigation Control ===== */
.ultp-d-none {
    display: none !important;
}