.wp-block-ultimate-post-dark-light .ultp-pro-helper {
    background-color: #2728e4;
    margin-bottom: 10px;
}
.ultp-dark-light-block-wrapper .ultp-dark-light-block-wrapper-content {
    .ultp-dl-con, .ultp-dl-svg {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        height: fit-content;
        flex-direction: row;
        cursor: pointer;
    }
    .ultp-dl-after-before-con {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        &.ultp-dl-reverse {
            flex-direction: row-reverse;
        }
        &.inactive {
            display: none;
        }
    }
    &.layout5, &.layout6, &.layout7 {
        .ultp-dl-con.ultp-dl-reverse {
            flex-direction: row-reverse;
        }
    }
    &.layout5, &.layout6, &.layout7 {
        .ultp-dl-democircle.ultphidden {
            visibility: hidden;
        }
        .ultp-dl-democircle {
            border-radius: 50%;
        }
    }
    
}