.ultp-mega-menu-content {
    &._left {
        margin-right: auto;
    }
    &._center {
        margin-left: auto;
        margin-right: auto;
    }
    &._right {
        margin-left: auto;
    }
    & > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender > .block-editor-inserter > .block-editor-button-block-appender {
        border: 1px solid #070707;
        border-radius: 4px;
        box-shadow: none;
    }
}